// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IAFNORPDPPADirectoryServiceApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        AFNORPDPPADirectoryServiceApiEvents Events { get; }

        /// <summary>
        /// Creating a directory line
        /// </summary>
        /// <remarks>
        /// Creation of a new directory line for a SIREN, a SIRET or a ROUTING CODE.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostApiResponse"/>&gt;</returns>
        Task<ICreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostApiResponse> CreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Creating a directory line
        /// </summary>
        /// <remarks>
        /// Creation of a new directory line for a SIREN, a SIRET or a ROUTING CODE.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostApiResponse"/>?&gt;</returns>
        Task<ICreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostApiResponse?> CreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Create a routing code
        /// </summary>
        /// <remarks>
        /// Creating a routing code.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostApiResponse"/>&gt;</returns>
        Task<ICreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostApiResponse> CreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Create a routing code
        /// </summary>
        /// <remarks>
        /// Creating a routing code.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostApiResponse"/>?&gt;</returns>
        Task<ICreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostApiResponse?> CreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete a directory line
        /// </summary>
        /// <remarks>
        /// Delete a directory line.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteApiResponse"/>&gt;</returns>
        Task<IDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteApiResponse> DeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete a directory line
        /// </summary>
        /// <remarks>
        /// Delete a directory line.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteApiResponse"/>?&gt;</returns>
        Task<IDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteApiResponse?> DeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Healthcheck Directory Service
        /// </summary>
        /// <remarks>
        /// Check Directory Service availability (AFNOR XP Z12-013 compliant)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>&gt;</returns>
        Task<IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse> DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Healthcheck Directory Service
        /// </summary>
        /// <remarks>
        /// Check Directory Service availability (AFNOR XP Z12-013 compliant)
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>?&gt;</returns>
        Task<IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse?> DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a directory line.
        /// </summary>
        /// <remarks>
        /// Retrieve the data from the directory line corresponding to the identifier passed in parameters.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="addressingIdentifier">Addressing identifier (SIREN, SIRET or routing code)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetApiResponse"/>&gt;</returns>
        Task<IGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetApiResponse> GetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetAsync(string addressingIdentifier, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a directory line.
        /// </summary>
        /// <remarks>
        /// Retrieve the data from the directory line corresponding to the identifier passed in parameters.
        /// </remarks>
        /// <param name="addressingIdentifier">Addressing identifier (SIREN, SIRET or routing code)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetApiResponse"/>?&gt;</returns>
        Task<IGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetApiResponse?> GetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetOrDefaultAsync(string addressingIdentifier, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a directory line.
        /// </summary>
        /// <remarks>
        /// Retrieve the data from the directory line corresponding to the identifier passed in parameters.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetApiResponse"/>&gt;</returns>
        Task<IGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetApiResponse> GetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a directory line.
        /// </summary>
        /// <remarks>
        /// Retrieve the data from the directory line corresponding to the identifier passed in parameters.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetApiResponse"/>?&gt;</returns>
        Task<IGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetApiResponse?> GetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a routing code by instance-id.
        /// </summary>
        /// <remarks>
        /// Retrieve the Routing Code data corresponding to the Instance ID.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetApiResponse"/>&gt;</returns>
        Task<IGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetApiResponse> GetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a routing code by instance-id.
        /// </summary>
        /// <remarks>
        /// Retrieve the Routing Code data corresponding to the Instance ID.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetApiResponse"/>?&gt;</returns>
        Task<IGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetApiResponse?> GetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a routing code by SIRET and routing identifier
        /// </summary>
        /// <remarks>
        /// Retrieve the Routing Code data corresponding to the identifier passed in parameters.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siret">14-digit SIRET number (INSEE establishment identifier)</param>
        /// <param name="routingIdentifier">Routing code identifier</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetApiResponse"/>&gt;</returns>
        Task<IGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetApiResponse> GetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetAsync(string siret, string routingIdentifier, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a routing code by SIRET and routing identifier
        /// </summary>
        /// <remarks>
        /// Retrieve the Routing Code data corresponding to the identifier passed in parameters.
        /// </remarks>
        /// <param name="siret">14-digit SIRET number (INSEE establishment identifier)</param>
        /// <param name="routingIdentifier">Routing code identifier</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetApiResponse"/>?&gt;</returns>
        Task<IGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetApiResponse?> GetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetOrDefaultAsync(string siret, string routingIdentifier, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult a siren (legal unit) by SIREN number
        /// </summary>
        /// <remarks>
        /// Returns the details of a company (legal unit) identified by the SIREN number passed as a parameter.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siren">9-digit SIREN number (INSEE company identifier)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetApiResponse"/>&gt;</returns>
        Task<IGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetApiResponse> GetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetAsync(string siren, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult a siren (legal unit) by SIREN number
        /// </summary>
        /// <remarks>
        /// Returns the details of a company (legal unit) identified by the SIREN number passed as a parameter.
        /// </remarks>
        /// <param name="siren">9-digit SIREN number (INSEE company identifier)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetApiResponse"/>?&gt;</returns>
        Task<IGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetApiResponse?> GetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetOrDefaultAsync(string siren, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Gets a siren (legal unit) by instance ID
        /// </summary>
        /// <remarks>
        /// Returns the details of a company (legal unit) identified by the id-instance passed as a parameter.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetApiResponse"/>&gt;</returns>
        Task<IGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetApiResponse> GetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Gets a siren (legal unit) by instance ID
        /// </summary>
        /// <remarks>
        /// Returns the details of a company (legal unit) identified by the id-instance passed as a parameter.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetApiResponse"/>?&gt;</returns>
        Task<IGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetApiResponse?> GetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Gets a siret (facility) by SIRET number
        /// </summary>
        /// <remarks>
        /// Returns the details of a facility associated to a SIRET.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siret">14-digit SIRET number (INSEE establishment identifier)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetApiResponse"/>&gt;</returns>
        Task<IGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetApiResponse> GetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetAsync(string siret, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Gets a siret (facility) by SIRET number
        /// </summary>
        /// <remarks>
        /// Returns the details of a facility associated to a SIRET.
        /// </remarks>
        /// <param name="siret">14-digit SIRET number (INSEE establishment identifier)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetApiResponse"/>?&gt;</returns>
        Task<IGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetApiResponse?> GetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetOrDefaultAsync(string siret, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Gets a siret (facility) by id-instance
        /// </summary>
        /// <remarks>
        /// Returns the details of a facility according to an instance-id.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetApiResponse"/>&gt;</returns>
        Task<IGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetApiResponse> GetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Gets a siret (facility) by id-instance
        /// </summary>
        /// <remarks>
        /// Returns the details of a facility according to an instance-id.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetApiResponse"/>?&gt;</returns>
        Task<IGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetApiResponse?> GetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Partially updates a directory line..
        /// </summary>
        /// <remarks>
        /// Partially updates a directory line.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchApiResponse"/>&gt;</returns>
        Task<IPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchApiResponse> PatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Partially updates a directory line..
        /// </summary>
        /// <remarks>
        /// Partially updates a directory line.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchApiResponse"/>?&gt;</returns>
        Task<IPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchApiResponse?> PatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Partially update a private routing code.
        /// </summary>
        /// <remarks>
        /// Partially update a private routing code.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchApiResponse"/>&gt;</returns>
        Task<IPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchApiResponse> PatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Partially update a private routing code.
        /// </summary>
        /// <remarks>
        /// Partially update a private routing code.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchApiResponse"/>?&gt;</returns>
        Task<IPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchApiResponse?> PatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Completely update a private routing code.
        /// </summary>
        /// <remarks>
        /// Completely update a private routing code.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutApiResponse"/>&gt;</returns>
        Task<IPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutApiResponse> PutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Completely update a private routing code.
        /// </summary>
        /// <remarks>
        /// Completely update a private routing code.
        /// </remarks>
        /// <param name="idInstance">AFNOR instance ID (UUID)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutApiResponse"/>?&gt;</returns>
        Task<IPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutApiResponse?> PutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutOrDefaultAsync(string idInstance, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search for a directory line
        /// </summary>
        /// <remarks>
        /// Search for directory lines that meet all the criteria passed as parameters and return the results in the desired format.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostApiResponse> SearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search for a directory line
        /// </summary>
        /// <remarks>
        /// Search for directory lines that meet all the criteria passed as parameters and return the results in the desired format.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostApiResponse?> SearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search for a routing code
        /// </summary>
        /// <remarks>
        /// Search for routing codes that meet all the criteria passed as parameters and return the routing codes in the desired format.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostApiResponse> SearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search for a routing code
        /// </summary>
        /// <remarks>
        /// Search for routing codes that meet all the criteria passed as parameters and return the routing codes in the desired format.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostApiResponse?> SearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// SIREN search (or legal unit)
        /// </summary>
        /// <remarks>
        /// Multi-criteria company search.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostApiResponse> SearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// SIREN search (or legal unit)
        /// </summary>
        /// <remarks>
        /// Multi-criteria company search.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostApiResponse?> SearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search for a SIRET (facility)
        /// </summary>
        /// <remarks>
        /// Multi-criteria search for facilities.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostApiResponse> SearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search for a SIRET (facility)
        /// </summary>
        /// <remarks>
        /// Multi-criteria search for facilities.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostApiResponse?> SearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="ICreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostApiResponse"/>
    /// </summary>
    public interface ICreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, ICreated<FactPulse.SDK.Model.AFNORDirectoryLinePost201Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 201 Created
        /// </summary>
        /// <returns></returns>
        bool IsCreated { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="ICreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostApiResponse"/>
    /// </summary>
    public interface ICreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, ICreated<FactPulse.SDK.Model.AFNORRoutingCodePost201Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 201 Created
        /// </summary>
        /// <returns></returns>
        bool IsCreated { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteApiResponse"/>
    /// </summary>
    public interface IDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 204 NoContent
        /// </summary>
        /// <returns></returns>
        bool IsNoContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>
    /// </summary>
    public interface IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetApiResponse"/>
    /// </summary>
    public interface IGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetApiResponse"/>
    /// </summary>
    public interface IGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetApiResponse"/>
    /// </summary>
    public interface IGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORRoutingCodePayloadHistoryLegalUnitFacility?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetApiResponse"/>
    /// </summary>
    public interface IGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORRoutingCodePayloadHistoryLegalUnitFacility?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetApiResponse"/>
    /// </summary>
    public interface IGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORLegalUnitPayloadHistory?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetApiResponse"/>
    /// </summary>
    public interface IGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORLegalUnitPayloadHistory?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetApiResponse"/>
    /// </summary>
    public interface IGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORFacilityPayloadHistory?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetApiResponse"/>
    /// </summary>
    public interface IGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORFacilityPayloadHistory?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchApiResponse"/>
    /// </summary>
    public interface IPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORDirectoryLinePost201Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchApiResponse"/>
    /// </summary>
    public interface IPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORRoutingCodePost201Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 206 PartialContent
        /// </summary>
        /// <returns></returns>
        bool IsPartialContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="IPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutApiResponse"/>
    /// </summary>
    public interface IPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORRoutingCodePost201Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 206 PartialContent
        /// </summary>
        /// <returns></returns>
        bool IsPartialContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="ISearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORDirectoryLineSearchPost200Response?>, IPartialContent<FactPulse.SDK.Model.AFNORDirectoryLineSearchPost200Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 206 PartialContent
        /// </summary>
        /// <returns></returns>
        bool IsPartialContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="ISearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORRoutingCodeSearchPost200Response?>, IPartialContent<FactPulse.SDK.Model.AFNORRoutingCodeSearchPost200Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 206 PartialContent
        /// </summary>
        /// <returns></returns>
        bool IsPartialContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="ISearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORSirenSearchPost200Response?>, IPartialContent<FactPulse.SDK.Model.AFNORSirenSearchPost200Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 206 PartialContent
        /// </summary>
        /// <returns></returns>
        bool IsPartialContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="ISearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchSiretProxyApiV1AfnorDirectoryV1SiretSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORSiretSearchPost200Response?>, IPartialContent<FactPulse.SDK.Model.AFNORSiretSearchPost200Response?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 206 PartialContent
        /// </summary>
        /// <returns></returns>
        bool IsPartialContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 408 RequestTimeout
        /// </summary>
        /// <returns></returns>
        bool IsRequestTimeout { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 501 NotImplemented
        /// </summary>
        /// <returns></returns>
        bool IsNotImplemented { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class AFNORPDPPADirectoryServiceApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnCreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorCreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePost;

        internal void ExecuteOnCreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePost(AFNORPDPPADirectoryServiceApi.CreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePostApiResponse apiResponse)
        {
            OnCreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePost(Exception exception)
        {
            OnErrorCreateDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLinePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnCreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorCreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePost;

        internal void ExecuteOnCreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePost(AFNORPDPPADirectoryServiceApi.CreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePostApiResponse apiResponse)
        {
            OnCreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePost(Exception exception)
        {
            OnErrorCreateRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDelete;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDelete;

        internal void ExecuteOnDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDelete(AFNORPDPPADirectoryServiceApi.DeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDeleteApiResponse apiResponse)
        {
            OnDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDelete?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDelete(Exception exception)
        {
            OnErrorDeleteDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceDelete?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet;

        internal void ExecuteOnDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(AFNORPDPPADirectoryServiceApi.DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse apiResponse)
        {
            OnDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(Exception exception)
        {
            OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet;

        internal void ExecuteOnGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet(AFNORPDPPADirectoryServiceApi.GetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetApiResponse apiResponse)
        {
            OnGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet(Exception exception)
        {
            OnErrorGetDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGet;

        internal void ExecuteOnGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGet(AFNORPDPPADirectoryServiceApi.GetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGetApiResponse apiResponse)
        {
            OnGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGet(Exception exception)
        {
            OnErrorGetDirectoryLineByIdInstanceProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstanceGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGet;

        internal void ExecuteOnGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGet(AFNORPDPPADirectoryServiceApi.GetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGetApiResponse apiResponse)
        {
            OnGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGet(Exception exception)
        {
            OnErrorGetRoutingCodeByIdInstanceProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstanceGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet;

        internal void ExecuteOnGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet(AFNORPDPPADirectoryServiceApi.GetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetApiResponse apiResponse)
        {
            OnGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet(Exception exception)
        {
            OnErrorGetRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet;

        internal void ExecuteOnGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet(AFNORPDPPADirectoryServiceApi.GetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetApiResponse apiResponse)
        {
            OnGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet(Exception exception)
        {
            OnErrorGetSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGet;

        internal void ExecuteOnGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGet(AFNORPDPPADirectoryServiceApi.GetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGetApiResponse apiResponse)
        {
            OnGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGet(Exception exception)
        {
            OnErrorGetSirenByIdInstanceProxyApiV1AfnorDirectoryV1SirenIdInstanceIdInstanceGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet;

        internal void ExecuteOnGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet(AFNORPDPPADirectoryServiceApi.GetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetApiResponse apiResponse)
        {
            OnGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet(Exception exception)
        {
            OnErrorGetSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGet;

        internal void ExecuteOnGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGet(AFNORPDPPADirectoryServiceApi.GetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGetApiResponse apiResponse)
        {
            OnGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGet(Exception exception)
        {
            OnErrorGetSiretByIdInstanceProxyApiV1AfnorDirectoryV1SiretIdInstanceIdInstanceGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatch;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatch;

        internal void ExecuteOnPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatch(AFNORPDPPADirectoryServiceApi.PatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatchApiResponse apiResponse)
        {
            OnPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatch?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatch(Exception exception)
        {
            OnErrorPatchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineIdInstanceIdInstancePatch?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatch;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatch;

        internal void ExecuteOnPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatch(AFNORPDPPADirectoryServiceApi.PatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatchApiResponse apiResponse)
        {
            OnPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatch?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatch(Exception exception)
        {
            OnErrorPatchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePatch?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePut;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePut;

        internal void ExecuteOnPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePut(AFNORPDPPADirectoryServiceApi.PutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePutApiResponse apiResponse)
        {
            OnPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePut?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePut(Exception exception)
        {
            OnErrorPutRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeIdInstanceIdInstancePut?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSearchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost;

[...]
