// <auto-generated>
/*
 * API REST FactPulse
 *
 *  API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Paramètre optionnel `client_uid` :**  Pour sélectionner les credentials d'un client spécifique (PA/PDP, Chorus Pro, certificats de signature), ajoutez `client_uid` :  ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  Le `client_uid` sera inclus dans le JWT et permettra à l'API d'utiliser automatiquement : - Les credentials AFNOR/PDP configurés pour ce client - Les credentials Chorus Pro configurés pour ce client - Les certificats de signature électronique configurés pour ce client  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IAFNORPDPPAFlowServiceApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        AFNORPDPPAFlowServiceApiEvents Events { get; }

        /// <summary>
        /// Télécharger un flux
        /// </summary>
        /// <remarks>
        /// Télécharger le fichier PDF/A-3 d&#39;un flux de facturation (utilise le client_uid du JWT)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>&gt;</returns>
        Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetAsync(string flowId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Télécharger un flux
        /// </summary>
        /// <remarks>
        /// Télécharger le fichier PDF/A-3 d&#39;un flux de facturation (utilise le client_uid du JWT)
        /// </remarks>
        /// <param name="flowId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>?&gt;</returns>
        Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse?> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetOrDefaultAsync(string flowId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Healthcheck Flow Service
        /// </summary>
        /// <remarks>
        /// Vérifier la disponibilité du Flow Service
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>&gt;</returns>
        Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Healthcheck Flow Service
        /// </summary>
        /// <remarks>
        /// Vérifier la disponibilité du Flow Service
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>?&gt;</returns>
        Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse?> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des flux
        /// </summary>
        /// <remarks>
        /// Rechercher des flux de facturation selon des critères (utilise le client_uid du JWT)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des flux
        /// </summary>
        /// <remarks>
        /// Rechercher des flux de facturation selon des critères (utilise le client_uid du JWT)
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse?> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Soumettre un flux de facturation
        /// </summary>
        /// <remarks>
        /// Soumet une facture électronique à une Plateforme de Dématérialisation Partenaire (PDP) conformément à la norme AFNOR XP Z12-013
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>&gt;</returns>
        Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Soumettre un flux de facturation
        /// </summary>
        /// <remarks>
        /// Soumet une facture électronique à une Plateforme de Dématérialisation Partenaire (PDP) conformément à la norme AFNOR XP Z12-013
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>?&gt;</returns>
        Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse?> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
    /// </summary>
    public interface IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
    /// </summary>
    public interface IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }
    }

    /// <summary>
    /// The <see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }
    }

    /// <summary>
    /// The <see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>
    /// </summary>
    public interface ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 201 Created
        /// </summary>
        /// <returns></returns>
        bool IsCreated { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class AFNORPDPPAFlowServiceApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet;

        internal void ExecuteOnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(AFNORPDPPAFlowServiceApi.DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponse)
        {
            OnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(Exception exception)
        {
            OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet;

        internal void ExecuteOnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(AFNORPDPPAFlowServiceApi.FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponse)
        {
            OnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(Exception exception)
        {
            OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost;

        internal void ExecuteOnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(AFNORPDPPAFlowServiceApi.SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponse)
        {
            OnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(Exception exception)
        {
            OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSubmitFlowProxyApiV1AfnorFlowV1FlowsPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost;

        internal void ExecuteOnSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(AFNORPDPPAFlowServiceApi.SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse apiResponse)
        {
            OnSubmitFlowProxyApiV1AfnorFlowV1FlowsPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(Exception exception)
        {
            OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class AFNORPDPPAFlowServiceApi : IAFNORPDPPAFlowServiceApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<AFNORPDPPAFlowServiceApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public AFNORPDPPAFlowServiceApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="AFNORPDPPAFlowServiceApi"/> class.
        /// </summary>
        /// <returns></returns>
        public AFNORPDPPAFlowServiceApi(ILogger<AFNORPDPPAFlowServiceApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, AFNORPDPPAFlowServiceApiEvents aFNORPDPPAFlowServiceApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<AFNORPDPPAFlowServiceApi>();
            HttpClient = httpClient;
            Events = aFNORPDPPAFlowServiceApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref string flowId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="flowId"></param>
        /// <returns></returns>
        private void ValidateDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(string flowId)
        {
            if (flowId == null)
                throw new ArgumentNullException(nameof(flowId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowId"></param>
        private void AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponseLocalVar, string flowId)
        {
            bool suppressDefaultLog = false;
            AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref suppressDefaultLog, apiResponseLocalVar, flowId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowId"></param>
        partial void AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref bool suppressDefaultLog, IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponseLocalVar, string flowId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowId"></param>
        private void OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string flowId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, flowId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowId"></param>
        partial void OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string flowId);

        /// <summary>
        /// Télécharger un flux Télécharger le fichier PDF/A-3 d&#39;un flux de facturation (utilise le client_uid du JWT)
        /// </summary>
        /// <param name="flowId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>&gt;</returns>
        public async Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse?> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetOrDefaultAsync(string flowId, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetAsync(flowId, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Télécharger un flux Télécharger le fichier PDF/A-3 d&#39;un flux de facturation (utilise le client_uid du JWT)
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>&gt;</returns>
        public async Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetAsync(string flowId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(flowId);

                FormatDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref flowId);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/flows/{flowId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/flows/{flowId}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7BflowId%7D", Uri.EscapeDataString(flowId.ToString()));

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json",
                        "application/pdf"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse>();
                        DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/flow/v1/flows/{flowId}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(apiResponseLocalVar, flowId);

                        Events.ExecuteOnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(e, "/api/v1/afnor/flow/v1/flows/{flowId}", uriBuilderLocalVar.Path, flowId);
                Events.ExecuteOnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
        /// </summary>
        public partial class DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse : FactPulse.SDK.Client.ApiResponse, IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse(ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse(ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref bool suppressDefaultLog, IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Healthcheck Flow Service Vérifier la disponibilité du Flow Service
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>&gt;</returns>
        public async Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse?> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Healthcheck Flow Service Vérifier la disponibilité du Flow Service
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>&gt;</returns>
        public async Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/healthcheck"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/healthcheck");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse>();
                        FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/flow/v1/healthcheck", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(e, "/api/v1/afnor/flow/v1/healthcheck", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
        /// </summary>
        public partial class FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse : FactPulse.SDK.Client.ApiResponse, IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse(ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse(ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref bool suppressDefaultLog, ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Rechercher des flux Rechercher des flux de facturation selon des critères (utilise le client_uid du JWT)
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse?> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Rechercher des flux Rechercher des flux de facturation selon des critères (utilise le client_uid du JWT)
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/flows/search"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/flows/search");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse>();
                        SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/flow/v1/flows/search", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(e, "/api/v1/afnor/flow/v1/flows/search", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
        /// </summary>
        public partial class SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse(ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse(ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public bool IsTooManyRequests => 429 == (int)StatusCode;

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterSubmitFlowProxyApiV1AfnorFlowV1FlowsPostDefaultImplementation(ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref bool suppressDefaultLog, ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Soumettre un flux de facturation Soumet une facture électronique à une Plateforme de Dématérialisation Partenaire (PDP) conformément à la norme AFNOR XP Z12-013
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>&gt;</returns>
        public async Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse?> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SubmitFlowProxyApiV1AfnorFlowV1FlowsPostAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Soumettre un flux de facturation Soumet une facture électronique à une Plateforme de Dématérialisation Partenaire (PDP) conformément à la norme AFNOR XP Z12-013
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>&gt;</returns>
        public async Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/flows"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/flows");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse>();
                        SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/flow/v1/flows", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSubmitFlowProxyApiV1AfnorFlowV1FlowsPostDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPostDefaultImplementation(e, "/api/v1/afnor/flow/v1/flows", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>
        /// </summary>
        public partial class SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse(ILogger<SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse(ILogger<SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 201 Created
            /// </summary>
            /// <returns></returns>
            public bool IsCreated => 201 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public bool IsTooManyRequests => 429 == (int)StatusCode;

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
    }
}
