// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Net;
using System.IO;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IAFNORPDPPAFlowServiceApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        AFNORPDPPAFlowServiceApiEvents Events { get; }

        /// <summary>
        /// Download a flow
        /// </summary>
        /// <remarks>
        /// Download a file related to a given flow (AFNOR XP Z12-013 compliant): - Metadata [Default]: provides the flow metadata as JSON - Original: the document initially sent by the emitter - Converted: the document optionally converted by the system - ReadableView: the document optionally generated as readable file
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowId">AFNOR flow identifier (UUID)</param>
        /// <param name="docType">Type of file to download: Metadata (default, JSON), Original, Converted, or ReadableView (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>&gt;</returns>
        Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetAsync(string flowId, Option<DocType> docType = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download a flow
        /// </summary>
        /// <remarks>
        /// Download a file related to a given flow (AFNOR XP Z12-013 compliant): - Metadata [Default]: provides the flow metadata as JSON - Original: the document initially sent by the emitter - Converted: the document optionally converted by the system - ReadableView: the document optionally generated as readable file
        /// </remarks>
        /// <param name="flowId">AFNOR flow identifier (UUID)</param>
        /// <param name="docType">Type of file to download: Metadata (default, JSON), Original, Converted, or ReadableView (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>?&gt;</returns>
        Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse?> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetOrDefaultAsync(string flowId, Option<DocType> docType = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Healthcheck Flow Service
        /// </summary>
        /// <remarks>
        /// Check Flow Service availability (AFNOR XP Z12-013 compliant)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>&gt;</returns>
        Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Healthcheck Flow Service
        /// </summary>
        /// <remarks>
        /// Check Flow Service availability (AFNOR XP Z12-013 compliant)
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>?&gt;</returns>
        Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse?> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search flows
        /// </summary>
        /// <remarks>
        /// Search invoicing flows by criteria (AFNOR XP Z12-013 compliant)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="aFNORSearchFlowParams"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostAsync(AFNORSearchFlowParams aFNORSearchFlowParams, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search flows
        /// </summary>
        /// <remarks>
        /// Search invoicing flows by criteria (AFNOR XP Z12-013 compliant)
        /// </remarks>
        /// <param name="aFNORSearchFlowParams"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse?> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostOrDefaultAsync(AFNORSearchFlowParams aFNORSearchFlowParams, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit an invoicing flow
        /// </summary>
        /// <remarks>
        /// Submits an electronic invoice to a Partner Dematerialization Platform (PDP) in compliance with the AFNOR XP Z12-013 standard
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowInfo"></param>
        /// <param name="file">Flow file (PDF/A-3 with embedded XML or XML)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>&gt;</returns>
        Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostAsync(AFNORFlowInfo flowInfo, System.IO.Stream file, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit an invoicing flow
        /// </summary>
        /// <remarks>
        /// Submits an electronic invoice to a Partner Dematerialization Platform (PDP) in compliance with the AFNOR XP Z12-013 standard
        /// </remarks>
        /// <param name="flowInfo"></param>
        /// <param name="file">Flow file (PDF/A-3 with embedded XML or XML)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>?&gt;</returns>
        Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse?> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostOrDefaultAsync(AFNORFlowInfo flowInfo, System.IO.Stream file, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
    /// </summary>
    public interface IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORFlow?>, IBadRequest<FactPulse.SDK.Model.AFNORError?>, IUnauthorized<FactPulse.SDK.Model.AFNORError?>, IForbidden<FactPulse.SDK.Model.AFNORError?>, INotFound<FactPulse.SDK.Model.AFNORError?>, ITooManyRequests<FactPulse.SDK.Model.AFNORError?>, IInternalServerError<FactPulse.SDK.Model.AFNORError?>, IServiceUnavailable<FactPulse.SDK.Model.AFNORError?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
    /// </summary>
    public interface IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IInternalServerError<FactPulse.SDK.Model.AFNORError?>, IServiceUnavailable<FactPulse.SDK.Model.AFNORError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.AFNORSearchFlowContent?>, IBadRequest<FactPulse.SDK.Model.AFNORError?>, IUnauthorized<FactPulse.SDK.Model.AFNORError?>, IForbidden<FactPulse.SDK.Model.AFNORError?>, ITooManyRequests<FactPulse.SDK.Model.AFNORError?>, IInternalServerError<FactPulse.SDK.Model.AFNORError?>, IServiceUnavailable<FactPulse.SDK.Model.AFNORError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// The <see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>
    /// </summary>
    public interface ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IAccepted<FactPulse.SDK.Model.AFNORFullFlowInfo?>, IBadRequest<FactPulse.SDK.Model.AFNORError?>, IUnauthorized<FactPulse.SDK.Model.AFNORError?>, IForbidden<FactPulse.SDK.Model.AFNORError?>, INotFound<FactPulse.SDK.Model.AFNORError?>, IContentTooLarge<FactPulse.SDK.Model.AFNORError?>, IUnprocessableContent<FactPulse.SDK.Model.AFNORError?>, ITooManyRequests<FactPulse.SDK.Model.AFNORError?>, IInternalServerError<FactPulse.SDK.Model.AFNORError?>, IServiceUnavailable<FactPulse.SDK.Model.AFNORError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 413 ContentTooLarge
        /// </summary>
        /// <returns></returns>
        bool IsContentTooLarge { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class AFNORPDPPAFlowServiceApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet;

        internal void ExecuteOnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(AFNORPDPPAFlowServiceApi.DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponse)
        {
            OnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(Exception exception)
        {
            OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet;

        internal void ExecuteOnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(AFNORPDPPAFlowServiceApi.FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponse)
        {
            OnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(Exception exception)
        {
            OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost;

        internal void ExecuteOnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(AFNORPDPPAFlowServiceApi.SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponse)
        {
            OnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(Exception exception)
        {
            OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSubmitFlowProxyApiV1AfnorFlowV1FlowsPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost;

        internal void ExecuteOnSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(AFNORPDPPAFlowServiceApi.SubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse apiResponse)
        {
            OnSubmitFlowProxyApiV1AfnorFlowV1FlowsPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(Exception exception)
        {
            OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class AFNORPDPPAFlowServiceApi : IAFNORPDPPAFlowServiceApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<AFNORPDPPAFlowServiceApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public AFNORPDPPAFlowServiceApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>
        /// </summary>
        public TokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="AFNORPDPPAFlowServiceApi"/> class.
        /// </summary>
        /// <returns></returns>
        public AFNORPDPPAFlowServiceApi(ILogger<AFNORPDPPAFlowServiceApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, AFNORPDPPAFlowServiceApiEvents aFNORPDPPAFlowServiceApiEvents,
            TokenProvider<ApiKeyToken> apiKeyProvider,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<AFNORPDPPAFlowServiceApi>();
            HttpClient = httpClient;
            Events = aFNORPDPPAFlowServiceApiEvents;
            ApiKeyProvider = apiKeyProvider;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref string flowId, ref Option<DocType> docType);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="flowId"></param>
        /// <returns></returns>
        private void ValidateDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(string flowId)
        {
            if (flowId == null)
                throw new ArgumentNullException(nameof(flowId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="docType"></param>
        private void AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponseLocalVar, string flowId, Option<DocType> docType)
        {
            bool suppressDefaultLog = false;
            AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref suppressDefaultLog, apiResponseLocalVar, flowId, docType);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="docType"></param>
        partial void AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref bool suppressDefaultLog, IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponseLocalVar, string flowId, Option<DocType> docType);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="docType"></param>
        private void OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string flowId, Option<DocType> docType)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, flowId, docType);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="docType"></param>
        partial void OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string flowId, Option<DocType> docType);

        /// <summary>
        /// Download a flow Download a file related to a given flow (AFNOR XP Z12-013 compliant): - Metadata [Default]: provides the flow metadata as JSON - Original: the document initially sent by the emitter - Converted: the document optionally converted by the system - ReadableView: the document optionally generated as readable file
        /// </summary>
        /// <param name="flowId">AFNOR flow identifier (UUID)</param>
        /// <param name="docType">Type of file to download: Metadata (default, JSON), Original, Converted, or ReadableView (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>&gt;</returns>
        public async Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse?> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetOrDefaultAsync(string flowId, Option<DocType> docType = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetAsync(flowId, docType, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Download a flow Download a file related to a given flow (AFNOR XP Z12-013 compliant): - Metadata [Default]: provides the flow metadata as JSON - Original: the document initially sent by the emitter - Converted: the document optionally converted by the system - ReadableView: the document optionally generated as readable file
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowId">AFNOR flow identifier (UUID)</param>
        /// <param name="docType">Type of file to download: Metadata (default, JSON), Original, Converted, or ReadableView (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>&gt;</returns>
        public async Task<IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetAsync(string flowId, Option<DocType> docType = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(flowId);

                FormatDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(ref flowId, ref docType);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/flows/{flowId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/flows/{flowId}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7BflowId%7D", Uri.EscapeDataString(flowId.ToString()));

                    System.Collections.Specialized.NameValueCollection parseQueryStringLocalVar = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    if (docType.IsSet)
                        parseQueryStringLocalVar["docType"] = ClientUtils.ParameterToString(docType.Value);

                    uriBuilderLocalVar.Query = parseQueryStringLocalVar.ToString();

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json",
                        "application/pdf",
                        "application/xml"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse>();
                        DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/flow/v1/flows/{flowId}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(apiResponseLocalVar, flowId, docType);

                        Events.ExecuteOnDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetDefaultImplementation(e, "/api/v1/afnor/flow/v1/flows/{flowId}", uriBuilderLocalVar.Path, flowId, docType);
                Events.ExecuteOnErrorDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
        /// </summary>
        public partial class DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse : FactPulse.SDK.Client.ApiResponse, IDownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse(ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse(ILogger<DownloadFlowProxyApiV1AfnorFlowV1FlowsFlowIdGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORFlow? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORFlow>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORFlow? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryForbidden([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? NotFound()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryNotFound([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public bool IsTooManyRequests => 429 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? TooManyRequests()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsTooManyRequests
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryTooManyRequests([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = TooManyRequests();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)429);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryInternalServerError([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? ServiceUnavailable()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsServiceUnavailable
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryServiceUnavailable([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = ServiceUnavailable();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)503);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref bool suppressDefaultLog, IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Healthcheck Flow Service Check Flow Service availability (AFNOR XP Z12-013 compliant)
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>&gt;</returns>
        public async Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse?> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Healthcheck Flow Service Check Flow Service availability (AFNOR XP Z12-013 compliant)
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>&gt;</returns>
        public async Task<IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/healthcheck"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/healthcheck");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse>();
                        FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/flow/v1/healthcheck", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetDefaultImplementation(e, "/api/v1/afnor/flow/v1/healthcheck", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
        /// </summary>
        public partial class FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse : FactPulse.SDK.Client.ApiResponse, IFlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse(ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse(ILogger<FlowHealthcheckProxyApiV1AfnorFlowV1HealthcheckGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryInternalServerError([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? ServiceUnavailable()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsServiceUnavailable
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryServiceUnavailable([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = ServiceUnavailable();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)503);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(AFNORSearchFlowParams aFNORSearchFlowParams);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="aFNORSearchFlowParams"></param>
        /// <returns></returns>
        private void ValidateSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(AFNORSearchFlowParams aFNORSearchFlowParams)
        {
            if (aFNORSearchFlowParams == null)
                throw new ArgumentNullException(nameof(aFNORSearchFlowParams));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="aFNORSearchFlowParams"></param>
        private void AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponseLocalVar, AFNORSearchFlowParams aFNORSearchFlowParams)
        {
            bool suppressDefaultLog = false;
            AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref suppressDefaultLog, apiResponseLocalVar, aFNORSearchFlowParams);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="aFNORSearchFlowParams"></param>
        partial void AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref bool suppressDefaultLog, ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponseLocalVar, AFNORSearchFlowParams aFNORSearchFlowParams);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="aFNORSearchFlowParams"></param>
        private void OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, AFNORSearchFlowParams aFNORSearchFlowParams)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, aFNORSearchFlowParams);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="aFNORSearchFlowParams"></param>
        partial void OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, AFNORSearchFlowParams aFNORSearchFlowParams);

        /// <summary>
        /// Search flows Search invoicing flows by criteria (AFNOR XP Z12-013 compliant)
        /// </summary>
        /// <param name="aFNORSearchFlowParams"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse?> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostOrDefaultAsync(AFNORSearchFlowParams aFNORSearchFlowParams, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostAsync(aFNORSearchFlowParams, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Search flows Search invoicing flows by criteria (AFNOR XP Z12-013 compliant)
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="aFNORSearchFlowParams"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostAsync(AFNORSearchFlowParams aFNORSearchFlowParams, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(aFNORSearchFlowParams);

                FormatSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(aFNORSearchFlowParams);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/flows/search"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/flows/search");

                    httpRequestMessageLocalVar.Content = (aFNORSearchFlowParams as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(aFNORSearchFlowParams, _jsonSerializerOptions));

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse>();
                        SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/flow/v1/flows/search", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(apiResponseLocalVar, aFNORSearchFlowParams);

                        Events.ExecuteOnSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostDefaultImplementation(e, "/api/v1/afnor/flow/v1/flows/search", uriBuilderLocalVar.Path, aFNORSearchFlowParams);
                Events.ExecuteOnErrorSearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
        /// </summary>
        public partial class SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse(ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse(ILogger<SearchFlowsProxyApiV1AfnorFlowV1FlowsSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORSearchFlowContent? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORSearchFlowContent>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORSearchFlowContent? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryForbidden([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public bool IsTooManyRequests => 429 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? TooManyRequests()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsTooManyRequests
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryTooManyRequests([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = TooManyRequests();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)429);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryInternalServerError([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.AFNORError? ServiceUnavailable()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsServiceUnavailable
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.AFNORError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryServiceUnavailable([NotNullWhen(true)]out FactPulse.SDK.Model.AFNORError? result)
            {
                result = null;

                try
                {
                    result = ServiceUnavailable();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)503);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(AFNORFlowInfo flowInfo, ref System.IO.Stream file);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="flowInfo"></param>
        /// <param name="file"></param>
        /// <returns></returns>
        private void ValidateSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(AFNORFlowInfo flowInfo, System.IO.Stream file)
        {
            if (flowInfo == null)
                throw new ArgumentNullException(nameof(flowInfo));

            if (file == null)
                throw new ArgumentNullException(nameof(file));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowInfo"></param>
        /// <param name="file"></param>
        private void AfterSubmitFlowProxyApiV1AfnorFlowV1FlowsPostDefaultImplementation(ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse apiResponseLocalVar, AFNORFlowInfo flowInfo, System.IO.Stream file)
        {
            bool suppressDefaultLog = false;
            AfterSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref suppressDefaultLog, apiResponseLocalVar, flowInfo, file);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowInfo"></param>
        /// <param name="file"></param>
        partial void AfterSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref bool suppressDefaultLog, ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse apiResponseLocalVar, AFNORFlowInfo flowInfo, System.IO.Stream file);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowInfo"></param>
        /// <param name="file"></param>
        private void OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, AFNORFlowInfo flowInfo, System.IO.Stream file)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, flowInfo, file);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowInfo"></param>
        /// <param name="file"></param>
        partial void OnErrorSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, AFNORFlowInfo flowInfo, System.IO.Stream file);

        /// <summary>
        /// Submit an invoicing flow Submits an electronic invoice to a Partner Dematerialization Platform (PDP) in compliance with the AFNOR XP Z12-013 standard
        /// </summary>
        /// <param name="flowInfo"></param>
        /// <param name="file">Flow file (PDF/A-3 with embedded XML or XML)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>&gt;</returns>
        public async Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse?> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostOrDefaultAsync(AFNORFlowInfo flowInfo, System.IO.Stream file, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SubmitFlowProxyApiV1AfnorFlowV1FlowsPostAsync(flowInfo, file, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Submit an invoicing flow Submits an electronic invoice to a Partner Dematerialization Platform (PDP) in compliance with the AFNOR XP Z12-013 standard
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowInfo"></param>
        /// <param name="file">Flow file (PDF/A-3 with embedded XML or XML)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse"/>&gt;</returns>
        public async Task<ISubmitFlowProxyApiV1AfnorFlowV1FlowsPostApiResponse> SubmitFlowProxyApiV1AfnorFlowV1FlowsPostAsync(AFNORFlowInfo flowInfo, System.IO.Stream file, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(flowInfo, file);

                FormatSubmitFlowProxyApiV1AfnorFlowV1FlowsPost(flowInfo, ref file);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/flow/v1/flows"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/flow/v1/flows");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));

                    formParameterLocalVars.Add(new KeyValuePair<string?, string?>("flowInfo", ClientUtils.ParameterToString(flowInfo)));

                    multipartContentLocalVar.Add(new StreamContent(file));

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

[...]
