// <auto-generated>
/*
 * API REST FactPulse
 *
 *  API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IAFNORDirectoryServiceMtierApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        AFNORDirectoryServiceMtierApiEvents Events { get; }

        /// <summary>
        /// Récupérer une entreprise par SIREN (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Récupère les informations d&#39;une entreprise dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>&gt;</returns>
        Task<IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse> GetSirenMetierApiV1AfnorDirectorySirenSirenGetAsync(string siren, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Récupérer une entreprise par SIREN (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Récupère les informations d&#39;une entreprise dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>?&gt;</returns>
        Task<IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse?> GetSirenMetierApiV1AfnorDirectorySirenSirenGetOrDefaultAsync(string siren, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Récupérer un établissement par SIRET (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Récupère les informations d&#39;un établissement dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>&gt;</returns>
        Task<IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse> GetSiretMetierApiV1AfnorDirectorySiretSiretGetAsync(string siret, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Récupérer un établissement par SIRET (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Récupère les informations d&#39;un établissement dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>?&gt;</returns>
        Task<IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse?> GetSiretMetierApiV1AfnorDirectorySiretSiretGetOrDefaultAsync(string siret, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des entreprises (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Recherche multi-critères d&#39;entreprises dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse> SearchSirenMetierApiV1AfnorDirectorySirenSearchPostAsync(BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des entreprises (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Recherche multi-critères d&#39;entreprises dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse?> SearchSirenMetierApiV1AfnorDirectorySirenSearchPostOrDefaultAsync(BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des établissements (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Recherche multi-critères d&#39;établissements dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse> SearchSiretMetierApiV1AfnorDirectorySiretSearchPostAsync(BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des établissements (multi-tenant)
        /// </summary>
        /// <remarks>
        /// Recherche multi-critères d&#39;établissements dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </remarks>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse?> SearchSiretMetierApiV1AfnorDirectorySiretSearchPostOrDefaultAsync(BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>
    /// </summary>
    public interface IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>
    /// </summary>
    public interface IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class AFNORDirectoryServiceMtierApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetSirenMetierApiV1AfnorDirectorySirenSirenGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGet;

        internal void ExecuteOnGetSirenMetierApiV1AfnorDirectorySirenSirenGet(AFNORDirectoryServiceMtierApi.GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse apiResponse)
        {
            OnGetSirenMetierApiV1AfnorDirectorySirenSirenGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGet(Exception exception)
        {
            OnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetSiretMetierApiV1AfnorDirectorySiretSiretGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGet;

        internal void ExecuteOnGetSiretMetierApiV1AfnorDirectorySiretSiretGet(AFNORDirectoryServiceMtierApi.GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse apiResponse)
        {
            OnGetSiretMetierApiV1AfnorDirectorySiretSiretGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGet(Exception exception)
        {
            OnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSearchSirenMetierApiV1AfnorDirectorySirenSearchPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPost;

        internal void ExecuteOnSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(AFNORDirectoryServiceMtierApi.SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse apiResponse)
        {
            OnSearchSirenMetierApiV1AfnorDirectorySirenSearchPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(Exception exception)
        {
            OnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSearchSiretMetierApiV1AfnorDirectorySiretSearchPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPost;

        internal void ExecuteOnSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(AFNORDirectoryServiceMtierApi.SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse apiResponse)
        {
            OnSearchSiretMetierApiV1AfnorDirectorySiretSearchPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(Exception exception)
        {
            OnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class AFNORDirectoryServiceMtierApi : IAFNORDirectoryServiceMtierApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<AFNORDirectoryServiceMtierApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public AFNORDirectoryServiceMtierApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="AFNORDirectoryServiceMtierApi"/> class.
        /// </summary>
        /// <returns></returns>
        public AFNORDirectoryServiceMtierApi(ILogger<AFNORDirectoryServiceMtierApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, AFNORDirectoryServiceMtierApiEvents aFNORDirectoryServiceMtierApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<AFNORDirectoryServiceMtierApi>();
            HttpClient = httpClient;
            Events = aFNORDirectoryServiceMtierApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatGetSirenMetierApiV1AfnorDirectorySirenSirenGet(ref string siren, Option<PDPCredentials> pDPCredentials);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"></param>
        /// <returns></returns>
        private void ValidateGetSirenMetierApiV1AfnorDirectorySirenSirenGet(string siren, Option<PDPCredentials> pDPCredentials)
        {
            if (siren == null)
                throw new ArgumentNullException(nameof(siren));

            if (pDPCredentials.IsSet && pDPCredentials.Value == null)
                throw new ArgumentNullException(nameof(pDPCredentials));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"></param>
        private void AfterGetSirenMetierApiV1AfnorDirectorySirenSirenGetDefaultImplementation(IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse apiResponseLocalVar, string siren, Option<PDPCredentials> pDPCredentials)
        {
            bool suppressDefaultLog = false;
            AfterGetSirenMetierApiV1AfnorDirectorySirenSirenGet(ref suppressDefaultLog, apiResponseLocalVar, siren, pDPCredentials);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"></param>
        partial void AfterGetSirenMetierApiV1AfnorDirectorySirenSirenGet(ref bool suppressDefaultLog, IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse apiResponseLocalVar, string siren, Option<PDPCredentials> pDPCredentials);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"></param>
        private void OnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string siren, Option<PDPCredentials> pDPCredentials)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, siren, pDPCredentials);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"></param>
        partial void OnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string siren, Option<PDPCredentials> pDPCredentials);

        /// <summary>
        /// Récupérer une entreprise par SIREN (multi-tenant) Récupère les informations d&#39;une entreprise dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>&gt;</returns>
        public async Task<IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse?> GetSirenMetierApiV1AfnorDirectorySirenSirenGetOrDefaultAsync(string siren, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetSirenMetierApiV1AfnorDirectorySirenSirenGetAsync(siren, pDPCredentials, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Récupérer une entreprise par SIREN (multi-tenant) Récupère les informations d&#39;une entreprise dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siren"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>&gt;</returns>
        public async Task<IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse> GetSirenMetierApiV1AfnorDirectorySirenSirenGetAsync(string siren, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetSirenMetierApiV1AfnorDirectorySirenSirenGet(siren, pDPCredentials);

                FormatGetSirenMetierApiV1AfnorDirectorySirenSirenGet(ref siren, pDPCredentials);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/directory/siren/{siren}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/directory/siren/{siren}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bsiren%7D", Uri.EscapeDataString(siren.ToString()));

                    if (pDPCredentials.IsSet)
                        httpRequestMessageLocalVar.Content = (pDPCredentials.Value as object) is System.IO.Stream stream
                            ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                            : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(pDPCredentials.Value, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse>();
                        GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/directory/siren/{siren}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetSirenMetierApiV1AfnorDirectorySirenSirenGetDefaultImplementation(apiResponseLocalVar, siren, pDPCredentials);

                        Events.ExecuteOnGetSirenMetierApiV1AfnorDirectorySirenSirenGet(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGetDefaultImplementation(e, "/api/v1/afnor/directory/siren/{siren}", uriBuilderLocalVar.Path, siren, pDPCredentials);
                Events.ExecuteOnErrorGetSirenMetierApiV1AfnorDirectorySirenSirenGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>
        /// </summary>
        public partial class GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse(ILogger<GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse(ILogger<GetSirenMetierApiV1AfnorDirectorySirenSirenGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetSiretMetierApiV1AfnorDirectorySiretSiretGet(ref string siret, Option<PDPCredentials> pDPCredentials);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"></param>
        /// <returns></returns>
        private void ValidateGetSiretMetierApiV1AfnorDirectorySiretSiretGet(string siret, Option<PDPCredentials> pDPCredentials)
        {
            if (siret == null)
                throw new ArgumentNullException(nameof(siret));

            if (pDPCredentials.IsSet && pDPCredentials.Value == null)
                throw new ArgumentNullException(nameof(pDPCredentials));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"></param>
        private void AfterGetSiretMetierApiV1AfnorDirectorySiretSiretGetDefaultImplementation(IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse apiResponseLocalVar, string siret, Option<PDPCredentials> pDPCredentials)
        {
            bool suppressDefaultLog = false;
            AfterGetSiretMetierApiV1AfnorDirectorySiretSiretGet(ref suppressDefaultLog, apiResponseLocalVar, siret, pDPCredentials);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"></param>
        partial void AfterGetSiretMetierApiV1AfnorDirectorySiretSiretGet(ref bool suppressDefaultLog, IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse apiResponseLocalVar, string siret, Option<PDPCredentials> pDPCredentials);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"></param>
        private void OnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string siret, Option<PDPCredentials> pDPCredentials)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, siret, pDPCredentials);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"></param>
        partial void OnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string siret, Option<PDPCredentials> pDPCredentials);

        /// <summary>
        /// Récupérer un établissement par SIRET (multi-tenant) Récupère les informations d&#39;un établissement dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>&gt;</returns>
        public async Task<IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse?> GetSiretMetierApiV1AfnorDirectorySiretSiretGetOrDefaultAsync(string siret, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetSiretMetierApiV1AfnorDirectorySiretSiretGetAsync(siret, pDPCredentials, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Récupérer un établissement par SIRET (multi-tenant) Récupère les informations d&#39;un établissement dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siret"></param>
        /// <param name="pDPCredentials"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>&gt;</returns>
        public async Task<IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse> GetSiretMetierApiV1AfnorDirectorySiretSiretGetAsync(string siret, Option<PDPCredentials> pDPCredentials = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetSiretMetierApiV1AfnorDirectorySiretSiretGet(siret, pDPCredentials);

                FormatGetSiretMetierApiV1AfnorDirectorySiretSiretGet(ref siret, pDPCredentials);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/directory/siret/{siret}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/directory/siret/{siret}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bsiret%7D", Uri.EscapeDataString(siret.ToString()));

                    if (pDPCredentials.IsSet)
                        httpRequestMessageLocalVar.Content = (pDPCredentials.Value as object) is System.IO.Stream stream
                            ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                            : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(pDPCredentials.Value, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse>();
                        GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/directory/siret/{siret}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetSiretMetierApiV1AfnorDirectorySiretSiretGetDefaultImplementation(apiResponseLocalVar, siret, pDPCredentials);

                        Events.ExecuteOnGetSiretMetierApiV1AfnorDirectorySiretSiretGet(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGetDefaultImplementation(e, "/api/v1/afnor/directory/siret/{siret}", uriBuilderLocalVar.Path, siret, pDPCredentials);
                Events.ExecuteOnErrorGetSiretMetierApiV1AfnorDirectorySiretSiretGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>
        /// </summary>
        public partial class GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse(ILogger<GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse(ILogger<GetSiretMetierApiV1AfnorDirectorySiretSiretGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        /// <returns></returns>
        private void ValidateSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost)
        {
            if (bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost == null)
                throw new ArgumentNullException(nameof(bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        private void AfterSearchSirenMetierApiV1AfnorDirectorySirenSearchPostDefaultImplementation(ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse apiResponseLocalVar, BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost)
        {
            bool suppressDefaultLog = false;
            AfterSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(ref suppressDefaultLog, apiResponseLocalVar, bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        partial void AfterSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(ref bool suppressDefaultLog, ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse apiResponseLocalVar, BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        private void OnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        partial void OnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);

        /// <summary>
        /// Rechercher des entreprises (multi-tenant) Recherche multi-critères d&#39;entreprises dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse?> SearchSirenMetierApiV1AfnorDirectorySirenSearchPostOrDefaultAsync(BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SearchSirenMetierApiV1AfnorDirectorySirenSearchPostAsync(bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Rechercher des entreprises (multi-tenant) Recherche multi-critères d&#39;entreprises dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse> SearchSirenMetierApiV1AfnorDirectorySirenSearchPostAsync(BodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);

                FormatSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/directory/siren/search"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/directory/siren/search");

                    httpRequestMessageLocalVar.Content = (bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse>();
                        SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/directory/siren/search", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSearchSirenMetierApiV1AfnorDirectorySirenSearchPostDefaultImplementation(apiResponseLocalVar, bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);

                        Events.ExecuteOnSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPostDefaultImplementation(e, "/api/v1/afnor/directory/siren/search", uriBuilderLocalVar.Path, bodySearchSirenMetierApiV1AfnorDirectorySirenSearchPost);
                Events.ExecuteOnErrorSearchSirenMetierApiV1AfnorDirectorySirenSearchPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>
        /// </summary>
        public partial class SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse(ILogger<SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse(ILogger<SearchSirenMetierApiV1AfnorDirectorySirenSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        /// <returns></returns>
        private void ValidateSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost)
        {
            if (bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost == null)
                throw new ArgumentNullException(nameof(bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        private void AfterSearchSiretMetierApiV1AfnorDirectorySiretSearchPostDefaultImplementation(ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse apiResponseLocalVar, BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost)
        {
            bool suppressDefaultLog = false;
            AfterSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(ref suppressDefaultLog, apiResponseLocalVar, bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        partial void AfterSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(ref bool suppressDefaultLog, ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse apiResponseLocalVar, BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        private void OnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        partial void OnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);

        /// <summary>
        /// Rechercher des établissements (multi-tenant) Recherche multi-critères d&#39;établissements dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse?> SearchSiretMetierApiV1AfnorDirectorySiretSearchPostOrDefaultAsync(BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SearchSiretMetierApiV1AfnorDirectorySiretSearchPostAsync(bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Rechercher des établissements (multi-tenant) Recherche multi-critères d&#39;établissements dans le Directory Service AFNOR. Les credentials PDP sont récupérés automatiquement via le client_uid du JWT, ou peuvent être fournis directement dans le body (zero-storage).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse> SearchSiretMetierApiV1AfnorDirectorySiretSearchPostAsync(BodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);

                FormatSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/directory/siret/search"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/directory/siret/search");

                    httpRequestMessageLocalVar.Content = (bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse>();
                        SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/directory/siret/search", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSearchSiretMetierApiV1AfnorDirectorySiretSearchPostDefaultImplementation(apiResponseLocalVar, bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);

                        Events.ExecuteOnSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPostDefaultImplementation(e, "/api/v1/afnor/directory/siret/search", uriBuilderLocalVar.Path, bodySearchSiretMetierApiV1AfnorDirectorySiretSearchPost);
                Events.ExecuteOnErrorSearchSiretMetierApiV1AfnorDirectorySiretSearchPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>
        /// </summary>
        public partial class SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse(ILogger<SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse(ILogger<SearchSiretMetierApiV1AfnorDirectorySiretSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
    }
}
