// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Net;
using System.IO;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IAFNORPDPPAApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        AFNORPDPPAApiEvents Events { get; }

        /// <summary>
        /// Retrieve and extract an incoming invoice
        /// </summary>
        /// <remarks>
        /// Downloads an incoming flow from the AFNOR PDP and extracts invoice metadata into a unified JSON format. Supports Factur-X, CII, and UBL formats.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowId">AFNOR flow ID (UUID format)</param>
        /// <param name="includeDocument">Include base64-encoded document in response (optional, default to false)</param>
        /// <param name="xEncryptionKey">Client encryption key for double encryption mode. Must be a base64-encoded AES-256 key (32 bytes). Required only when accessing resources encrypted with encryption_mode&#x3D;&#39;double&#39;. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>&gt;</returns>
        Task<IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse> GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetAsync(string flowId, Option<bool> includeDocument = default, Option<string?> xEncryptionKey = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Retrieve and extract an incoming invoice
        /// </summary>
        /// <remarks>
        /// Downloads an incoming flow from the AFNOR PDP and extracts invoice metadata into a unified JSON format. Supports Factur-X, CII, and UBL formats.
        /// </remarks>
        /// <param name="flowId">AFNOR flow ID (UUID format)</param>
        /// <param name="includeDocument">Include base64-encoded document in response (optional, default to false)</param>
        /// <param name="xEncryptionKey">Client encryption key for double encryption mode. Must be a base64-encoded AES-256 key (32 bytes). Required only when accessing resources encrypted with encryption_mode&#x3D;&#39;double&#39;. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>?&gt;</returns>
        Task<IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse?> GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetOrDefaultAsync(string flowId, Option<bool> includeDocument = default, Option<string?> xEncryptionKey = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Test PDP OAuth2 credentials
        /// </summary>
        /// <remarks>
        /// OAuth2 proxy to validate PDP credentials. Use this endpoint to verify that OAuth credentials (client_id, client_secret) are valid before saving a PDP configuration. This endpoint is public (no authentication required).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>&gt;</returns>
        Task<IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse> OauthTokenProxyApiV1AfnorOauthTokenPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Test PDP OAuth2 credentials
        /// </summary>
        /// <remarks>
        /// OAuth2 proxy to validate PDP credentials. Use this endpoint to verify that OAuth credentials (client_id, client_secret) are valid before saving a PDP configuration. This endpoint is public (no authentication required).
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>?&gt;</returns>
        Task<IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse?> OauthTokenProxyApiV1AfnorOauthTokenPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>
    /// </summary>
    public interface IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.IncomingInvoice?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>
    /// </summary>
    public interface IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class AFNORPDPPAApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet;

        internal void ExecuteOnGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(AFNORPDPPAApi.GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse apiResponse)
        {
            OnGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(Exception exception)
        {
            OnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnOauthTokenProxyApiV1AfnorOauthTokenPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorOauthTokenProxyApiV1AfnorOauthTokenPost;

        internal void ExecuteOnOauthTokenProxyApiV1AfnorOauthTokenPost(AFNORPDPPAApi.OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse apiResponse)
        {
            OnOauthTokenProxyApiV1AfnorOauthTokenPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorOauthTokenProxyApiV1AfnorOauthTokenPost(Exception exception)
        {
            OnErrorOauthTokenProxyApiV1AfnorOauthTokenPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class AFNORPDPPAApi : IAFNORPDPPAApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<AFNORPDPPAApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public AFNORPDPPAApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>
        /// </summary>
        public TokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="AFNORPDPPAApi"/> class.
        /// </summary>
        /// <returns></returns>
        public AFNORPDPPAApi(ILogger<AFNORPDPPAApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, AFNORPDPPAApiEvents aFNORPDPPAApiEvents,
            TokenProvider<ApiKeyToken> apiKeyProvider,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<AFNORPDPPAApi>();
            HttpClient = httpClient;
            Events = aFNORPDPPAApiEvents;
            ApiKeyProvider = apiKeyProvider;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(ref string flowId, ref Option<bool> includeDocument, ref Option<string?> xEncryptionKey);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="flowId"></param>
        /// <returns></returns>
        private void ValidateGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(string flowId)
        {
            if (flowId == null)
                throw new ArgumentNullException(nameof(flowId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="includeDocument"></param>
        /// <param name="xEncryptionKey"></param>
        private void AfterGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetDefaultImplementation(IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse apiResponseLocalVar, string flowId, Option<bool> includeDocument, Option<string?> xEncryptionKey)
        {
            bool suppressDefaultLog = false;
            AfterGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(ref suppressDefaultLog, apiResponseLocalVar, flowId, includeDocument, xEncryptionKey);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="includeDocument"></param>
        /// <param name="xEncryptionKey"></param>
        partial void AfterGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(ref bool suppressDefaultLog, IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse apiResponseLocalVar, string flowId, Option<bool> includeDocument, Option<string?> xEncryptionKey);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="includeDocument"></param>
        /// <param name="xEncryptionKey"></param>
        private void OnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string flowId, Option<bool> includeDocument, Option<string?> xEncryptionKey)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, flowId, includeDocument, xEncryptionKey);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="flowId"></param>
        /// <param name="includeDocument"></param>
        /// <param name="xEncryptionKey"></param>
        partial void OnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string flowId, Option<bool> includeDocument, Option<string?> xEncryptionKey);

        /// <summary>
        /// Retrieve and extract an incoming invoice Downloads an incoming flow from the AFNOR PDP and extracts invoice metadata into a unified JSON format. Supports Factur-X, CII, and UBL formats.
        /// </summary>
        /// <param name="flowId">AFNOR flow ID (UUID format)</param>
        /// <param name="includeDocument">Include base64-encoded document in response (optional, default to false)</param>
        /// <param name="xEncryptionKey">Client encryption key for double encryption mode. Must be a base64-encoded AES-256 key (32 bytes). Required only when accessing resources encrypted with encryption_mode&#x3D;&#39;double&#39;. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>&gt;</returns>
        public async Task<IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse?> GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetOrDefaultAsync(string flowId, Option<bool> includeDocument = default, Option<string?> xEncryptionKey = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetAsync(flowId, includeDocument, xEncryptionKey, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Retrieve and extract an incoming invoice Downloads an incoming flow from the AFNOR PDP and extracts invoice metadata into a unified JSON format. Supports Factur-X, CII, and UBL formats.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="flowId">AFNOR flow ID (UUID format)</param>
        /// <param name="includeDocument">Include base64-encoded document in response (optional, default to false)</param>
        /// <param name="xEncryptionKey">Client encryption key for double encryption mode. Must be a base64-encoded AES-256 key (32 bytes). Required only when accessing resources encrypted with encryption_mode&#x3D;&#39;double&#39;. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>&gt;</returns>
        public async Task<IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse> GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetAsync(string flowId, Option<bool> includeDocument = default, Option<string?> xEncryptionKey = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(flowId);

                FormatGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(ref flowId, ref includeDocument, ref xEncryptionKey);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/incoming-flows/{flow_id}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/incoming-flows/{flow_id}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bflow_id%7D", Uri.EscapeDataString(flowId.ToString()));

                    System.Collections.Specialized.NameValueCollection parseQueryStringLocalVar = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    if (includeDocument.IsSet)
                        parseQueryStringLocalVar["include_document"] = ClientUtils.ParameterToString(includeDocument.Value);

                    uriBuilderLocalVar.Query = parseQueryStringLocalVar.ToString();

                    if (xEncryptionKey.IsSet)
                        httpRequestMessageLocalVar.Headers.Add("X-Encryption-Key", ClientUtils.ParameterToString(xEncryptionKey.Value));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    ApiKeyToken apiKeyTokenLocalVar1 = (ApiKeyToken) await ApiKeyProvider.GetAsync("X-API-Key", cancellationToken).ConfigureAwait(false);
                    tokenBaseLocalVars.Add(apiKeyTokenLocalVar1);
                    apiKeyTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar);

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar2 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar2);

                    bearerTokenLocalVar2.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse>();
                        GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/incoming-flows/{flow_id}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetDefaultImplementation(apiResponseLocalVar, flowId, includeDocument, xEncryptionKey);

                        Events.ExecuteOnGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetDefaultImplementation(e, "/api/v1/afnor/incoming-flows/{flow_id}", uriBuilderLocalVar.Path, flowId, includeDocument, xEncryptionKey);
                Events.ExecuteOnErrorGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>
        /// </summary>
        public partial class GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse(ILogger<GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse(ILogger<GetFluxEntrantApiV1AfnorIncomingFlowsFlowIdGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.IncomingInvoice? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.IncomingInvoice>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.IncomingInvoice? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterOauthTokenProxyApiV1AfnorOauthTokenPostDefaultImplementation(IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterOauthTokenProxyApiV1AfnorOauthTokenPost(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterOauthTokenProxyApiV1AfnorOauthTokenPost(ref bool suppressDefaultLog, IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorOauthTokenProxyApiV1AfnorOauthTokenPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorOauthTokenProxyApiV1AfnorOauthTokenPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorOauthTokenProxyApiV1AfnorOauthTokenPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Test PDP OAuth2 credentials OAuth2 proxy to validate PDP credentials. Use this endpoint to verify that OAuth credentials (client_id, client_secret) are valid before saving a PDP configuration. This endpoint is public (no authentication required).
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>&gt;</returns>
        public async Task<IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse?> OauthTokenProxyApiV1AfnorOauthTokenPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await OauthTokenProxyApiV1AfnorOauthTokenPostAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Test PDP OAuth2 credentials OAuth2 proxy to validate PDP credentials. Use this endpoint to verify that OAuth credentials (client_id, client_secret) are valid before saving a PDP configuration. This endpoint is public (no authentication required).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>&gt;</returns>
        public async Task<IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse> OauthTokenProxyApiV1AfnorOauthTokenPostAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/oauth/token"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/oauth/token");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse>();
                        OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/oauth/token", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterOauthTokenProxyApiV1AfnorOauthTokenPostDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnOauthTokenProxyApiV1AfnorOauthTokenPost(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorOauthTokenProxyApiV1AfnorOauthTokenPostDefaultImplementation(e, "/api/v1/afnor/oauth/token", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorOauthTokenProxyApiV1AfnorOauthTokenPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>
        /// </summary>
        public partial class OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse : FactPulse.SDK.Client.ApiResponse, IOauthTokenProxyApiV1AfnorOauthTokenPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse(ILogger<OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse(ILogger<OauthTokenProxyApiV1AfnorOauthTokenPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
    }
}
