// <auto-generated>
/*
 * API REST FactPulse
 *
 *  API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IAFNORPDPPADirectoryServiceApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        AFNORPDPPADirectoryServiceApiEvents Events { get; }

        /// <summary>
        /// Healthcheck Directory Service
        /// </summary>
        /// <remarks>
        /// Vérifier la disponibilité du Directory Service
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>&gt;</returns>
        Task<IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse> DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Healthcheck Directory Service
        /// </summary>
        /// <remarks>
        /// Vérifier la disponibilité du Directory Service
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>?&gt;</returns>
        Task<IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse?> DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Récupérer une entreprise
        /// </summary>
        /// <remarks>
        /// Récupérer les informations d&#39;une entreprise par son SIREN
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siren"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>&gt;</returns>
        Task<IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse> GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetAsync(string siren, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Récupérer une entreprise
        /// </summary>
        /// <remarks>
        /// Récupérer les informations d&#39;une entreprise par son SIREN
        /// </remarks>
        /// <param name="siren"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>?&gt;</returns>
        Task<IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse?> GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetOrDefaultAsync(string siren, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des entreprises
        /// </summary>
        /// <remarks>
        /// Rechercher des entreprises dans l&#39;annuaire AFNOR
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>&gt;</returns>
        Task<ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse> SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des entreprises
        /// </summary>
        /// <remarks>
        /// Rechercher des entreprises dans l&#39;annuaire AFNOR
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>?&gt;</returns>
        Task<ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse?> SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>
    /// </summary>
    public interface IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }
    }

    /// <summary>
    /// The <see cref="IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>
    /// </summary>
    public interface IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>
    /// </summary>
    public interface ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class AFNORPDPPADirectoryServiceApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet;

        internal void ExecuteOnDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(AFNORPDPPADirectoryServiceApi.DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse apiResponse)
        {
            OnDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(Exception exception)
        {
            OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet;

        internal void ExecuteOnGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(AFNORPDPPADirectoryServiceApi.GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse apiResponse)
        {
            OnGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(Exception exception)
        {
            OnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost;

        internal void ExecuteOnSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(AFNORPDPPADirectoryServiceApi.SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse apiResponse)
        {
            OnSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(Exception exception)
        {
            OnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class AFNORPDPPADirectoryServiceApi : IAFNORPDPPADirectoryServiceApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<AFNORPDPPADirectoryServiceApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public AFNORPDPPADirectoryServiceApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="AFNORPDPPADirectoryServiceApi"/> class.
        /// </summary>
        /// <returns></returns>
        public AFNORPDPPADirectoryServiceApi(ILogger<AFNORPDPPADirectoryServiceApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, AFNORPDPPADirectoryServiceApiEvents aFNORPDPPADirectoryServiceApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<AFNORPDPPADirectoryServiceApi>();
            HttpClient = httpClient;
            Events = aFNORPDPPADirectoryServiceApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetDefaultImplementation(IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(ref bool suppressDefaultLog, IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Healthcheck Directory Service Vérifier la disponibilité du Directory Service
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>&gt;</returns>
        public async Task<IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse?> DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Healthcheck Directory Service Vérifier la disponibilité du Directory Service
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>&gt;</returns>
        public async Task<IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse> DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/directory/v1/healthcheck"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/directory/v1/healthcheck");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse>();
                        DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/directory/v1/healthcheck", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetDefaultImplementation(e, "/api/v1/afnor/directory/v1/healthcheck", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>
        /// </summary>
        public partial class DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse : FactPulse.SDK.Client.ApiResponse, IDirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse(ILogger<DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse(ILogger<DirectoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(ref string siren);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="siren"></param>
        /// <returns></returns>
        private void ValidateGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(string siren)
        {
            if (siren == null)
                throw new ArgumentNullException(nameof(siren));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="siren"></param>
        private void AfterGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetDefaultImplementation(IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse apiResponseLocalVar, string siren)
        {
            bool suppressDefaultLog = false;
            AfterGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(ref suppressDefaultLog, apiResponseLocalVar, siren);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="siren"></param>
        partial void AfterGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(ref bool suppressDefaultLog, IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse apiResponseLocalVar, string siren);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="siren"></param>
        private void OnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string siren)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, siren);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="siren"></param>
        partial void OnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string siren);

        /// <summary>
        /// Récupérer une entreprise Récupérer les informations d&#39;une entreprise par son SIREN
        /// </summary>
        /// <param name="siren"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>&gt;</returns>
        public async Task<IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse?> GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetOrDefaultAsync(string siren, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetAsync(siren, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Récupérer une entreprise Récupérer les informations d&#39;une entreprise par son SIREN
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="siren"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>&gt;</returns>
        public async Task<IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse> GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetAsync(string siren, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(siren);

                FormatGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(ref siren);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/directory/v1/companies/{siren}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/directory/v1/companies/{siren}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bsiren%7D", Uri.EscapeDataString(siren.ToString()));

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse>();
                        GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/directory/v1/companies/{siren}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetDefaultImplementation(apiResponseLocalVar, siren);

                        Events.ExecuteOnGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetDefaultImplementation(e, "/api/v1/afnor/directory/v1/companies/{siren}", uriBuilderLocalVar.Path, siren);
                Events.ExecuteOnErrorGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>
        /// </summary>
        public partial class GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse(ILogger<GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse(ILogger<GetCompanyProxyApiV1AfnorDirectoryV1CompaniesSirenGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostDefaultImplementation(ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(ref bool suppressDefaultLog, ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Rechercher des entreprises Rechercher des entreprises dans l&#39;annuaire AFNOR
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse?> SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Rechercher des entreprises Rechercher des entreprises dans l&#39;annuaire AFNOR
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>&gt;</returns>
        public async Task<ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse> SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/afnor/directory/v1/companies/search"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/afnor/directory/v1/companies/search");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse>();
                        SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/afnor/directory/v1/companies/search", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostDefaultImplementation(e, "/api/v1/afnor/directory/v1/companies/search", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorSearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>
        /// </summary>
        public partial class SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse(ILogger<SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse(ILogger<SearchCompaniesProxyApiV1AfnorDirectoryV1CompaniesSearchPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
    }
}
