// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface ICDARCycleDeVieApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        CDARCycleDeVieApiEvents Events { get; }

        /// <summary>
        /// Générer un message CDAR
        /// </summary>
        /// <remarks>
        /// Génère un message XML CDAR (Cross Domain Acknowledgement and Response) pour communiquer le statut d&#39;une facture.  **Types de messages:** - **23** (Traitement): Message de cycle de vie standard - **305** (Transmission): Message de transmission entre plateformes  **Règles métier:** - BR-FR-CDV-14: Le statut 212 (ENCAISSEE) requiert un montant encaissé - BR-FR-CDV-15: Les statuts 206/207/208/210/213/501 requièrent un code motif
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createCDARRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateCdarApiV1CdarGeneratePostApiResponse"/>&gt;</returns>
        Task<IGenerateCdarApiV1CdarGeneratePostApiResponse> GenerateCdarApiV1CdarGeneratePostAsync(CreateCDARRequest createCDARRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Générer un message CDAR
        /// </summary>
        /// <remarks>
        /// Génère un message XML CDAR (Cross Domain Acknowledgement and Response) pour communiquer le statut d&#39;une facture.  **Types de messages:** - **23** (Traitement): Message de cycle de vie standard - **305** (Transmission): Message de transmission entre plateformes  **Règles métier:** - BR-FR-CDV-14: Le statut 212 (ENCAISSEE) requiert un montant encaissé - BR-FR-CDV-15: Les statuts 206/207/208/210/213/501 requièrent un code motif
        /// </remarks>
        /// <param name="createCDARRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateCdarApiV1CdarGeneratePostApiResponse"/>?&gt;</returns>
        Task<IGenerateCdarApiV1CdarGeneratePostApiResponse?> GenerateCdarApiV1CdarGeneratePostOrDefaultAsync(CreateCDARRequest createCDARRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Liste des codes action CDAR
        /// </summary>
        /// <remarks>
        /// Retourne la liste complète des codes action (BR-FR-CDV-CL-10).  Ces codes indiquent l&#39;action demandée sur la facture.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetActionCodesApiV1CdarActionCodesGetApiResponse"/>&gt;</returns>
        Task<IGetActionCodesApiV1CdarActionCodesGetApiResponse> GetActionCodesApiV1CdarActionCodesGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Liste des codes action CDAR
        /// </summary>
        /// <remarks>
        /// Retourne la liste complète des codes action (BR-FR-CDV-CL-10).  Ces codes indiquent l&#39;action demandée sur la facture.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetActionCodesApiV1CdarActionCodesGetApiResponse"/>?&gt;</returns>
        Task<IGetActionCodesApiV1CdarActionCodesGetApiResponse?> GetActionCodesApiV1CdarActionCodesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Liste des codes motif CDAR
        /// </summary>
        /// <remarks>
        /// Retourne la liste complète des codes motif de statut (BR-FR-CDV-CL-09).  Ces codes expliquent la raison d&#39;un statut particulier.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>&gt;</returns>
        Task<IGetReasonCodesApiV1CdarReasonCodesGetApiResponse> GetReasonCodesApiV1CdarReasonCodesGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Liste des codes motif CDAR
        /// </summary>
        /// <remarks>
        /// Retourne la liste complète des codes motif de statut (BR-FR-CDV-CL-09).  Ces codes expliquent la raison d&#39;un statut particulier.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>?&gt;</returns>
        Task<IGetReasonCodesApiV1CdarReasonCodesGetApiResponse?> GetReasonCodesApiV1CdarReasonCodesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Liste des codes statut CDAR
        /// </summary>
        /// <remarks>
        /// Retourne la liste complète des codes statut de facture (BR-FR-CDV-CL-06).  Ces codes indiquent l&#39;état du cycle de vie d&#39;une facture.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>&gt;</returns>
        Task<IGetStatusCodesApiV1CdarStatusCodesGetApiResponse> GetStatusCodesApiV1CdarStatusCodesGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Liste des codes statut CDAR
        /// </summary>
        /// <remarks>
        /// Retourne la liste complète des codes statut de facture (BR-FR-CDV-CL-06).  Ces codes indiquent l&#39;état du cycle de vie d&#39;une facture.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>?&gt;</returns>
        Task<IGetStatusCodesApiV1CdarStatusCodesGetApiResponse?> GetStatusCodesApiV1CdarStatusCodesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Générer et soumettre un message CDAR
        /// </summary>
        /// <remarks>
        /// Génère un message CDAR et le soumet à la plateforme PA/PDP.  Nécessite une authentification AFNOR valide.  **Types de flux (flowType):** - &#x60;CustomerInvoiceLC&#x60;: Cycle de vie côté client (acheteur) - &#x60;SupplierInvoiceLC&#x60;: Cycle de vie côté fournisseur (vendeur)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"> (optional)</param>
        /// <param name="clientUid"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitCdarApiV1CdarSubmitPostApiResponse"/>&gt;</returns>
        Task<ISubmitCdarApiV1CdarSubmitPostApiResponse> SubmitCdarApiV1CdarSubmitPostAsync(int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken = default, Option<string?> clientUid = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Générer et soumettre un message CDAR
        /// </summary>
        /// <remarks>
        /// Génère un message CDAR et le soumet à la plateforme PA/PDP.  Nécessite une authentification AFNOR valide.  **Types de flux (flowType):** - &#x60;CustomerInvoiceLC&#x60;: Cycle de vie côté client (acheteur) - &#x60;SupplierInvoiceLC&#x60;: Cycle de vie côté fournisseur (vendeur)
        /// </remarks>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"> (optional)</param>
        /// <param name="clientUid"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitCdarApiV1CdarSubmitPostApiResponse"/>?&gt;</returns>
        Task<ISubmitCdarApiV1CdarSubmitPostApiResponse?> SubmitCdarApiV1CdarSubmitPostOrDefaultAsync(int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken = default, Option<string?> clientUid = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Soumettre un XML CDAR pré-généré
        /// </summary>
        /// <remarks>
        /// Soumet un message XML CDAR pré-généré à la plateforme PA/PDP.  Utile pour soumettre des XML générés par d&#39;autres systèmes.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarXmlApiV1CdarSubmitXmlPost"></param>
        /// <param name="jwtToken"> (optional)</param>
        /// <param name="clientUid"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitCdarXmlApiV1CdarSubmitXmlPostApiResponse"/>&gt;</returns>
        Task<ISubmitCdarXmlApiV1CdarSubmitXmlPostApiResponse> SubmitCdarXmlApiV1CdarSubmitXmlPostAsync(int userId, BodySubmitCdarXmlApiV1CdarSubmitXmlPost bodySubmitCdarXmlApiV1CdarSubmitXmlPost, Option<string?> jwtToken = default, Option<string?> clientUid = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Soumettre un XML CDAR pré-généré
        /// </summary>
        /// <remarks>
        /// Soumet un message XML CDAR pré-généré à la plateforme PA/PDP.  Utile pour soumettre des XML générés par d&#39;autres systèmes.
        /// </remarks>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarXmlApiV1CdarSubmitXmlPost"></param>
        /// <param name="jwtToken"> (optional)</param>
        /// <param name="clientUid"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitCdarXmlApiV1CdarSubmitXmlPostApiResponse"/>?&gt;</returns>
        Task<ISubmitCdarXmlApiV1CdarSubmitXmlPostApiResponse?> SubmitCdarXmlApiV1CdarSubmitXmlPostOrDefaultAsync(int userId, BodySubmitCdarXmlApiV1CdarSubmitXmlPost bodySubmitCdarXmlApiV1CdarSubmitXmlPost, Option<string?> jwtToken = default, Option<string?> clientUid = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Valider des données CDAR
        /// </summary>
        /// <remarks>
        /// Valide les données CDAR sans générer le XML.  Vérifie: - Les formats des champs (SIREN, dates, etc.) - Les codes enums (statut, motif, action) - Les règles métier BR-FR-CDV-*
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="validateCDARRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateCdarApiV1CdarValidatePostApiResponse"/>&gt;</returns>
        Task<IValidateCdarApiV1CdarValidatePostApiResponse> ValidateCdarApiV1CdarValidatePostAsync(ValidateCDARRequest validateCDARRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Valider des données CDAR
        /// </summary>
        /// <remarks>
        /// Valide les données CDAR sans générer le XML.  Vérifie: - Les formats des champs (SIREN, dates, etc.) - Les codes enums (statut, motif, action) - Les règles métier BR-FR-CDV-*
        /// </remarks>
        /// <param name="validateCDARRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateCdarApiV1CdarValidatePostApiResponse"/>?&gt;</returns>
        Task<IValidateCdarApiV1CdarValidatePostApiResponse?> ValidateCdarApiV1CdarValidatePostOrDefaultAsync(ValidateCDARRequest validateCDARRequest, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IGenerateCdarApiV1CdarGeneratePostApiResponse"/>
    /// </summary>
    public interface IGenerateCdarApiV1CdarGeneratePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GenerateCDARResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGetActionCodesApiV1CdarActionCodesGetApiResponse"/>
    /// </summary>
    public interface IGetActionCodesApiV1CdarActionCodesGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ActionCodesResponse?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>
    /// </summary>
    public interface IGetReasonCodesApiV1CdarReasonCodesGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ReasonCodesResponse?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>
    /// </summary>
    public interface IGetStatusCodesApiV1CdarStatusCodesGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.StatusCodesResponse?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="ISubmitCdarApiV1CdarSubmitPostApiResponse"/>
    /// </summary>
    public interface ISubmitCdarApiV1CdarSubmitPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SubmitCDARResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ISubmitCdarXmlApiV1CdarSubmitXmlPostApiResponse"/>
    /// </summary>
    public interface ISubmitCdarXmlApiV1CdarSubmitXmlPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SubmitCDARResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IValidateCdarApiV1CdarValidatePostApiResponse"/>
    /// </summary>
    public interface IValidateCdarApiV1CdarValidatePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ValidateCDARResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class CDARCycleDeVieApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateCdarApiV1CdarGeneratePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateCdarApiV1CdarGeneratePost;

        internal void ExecuteOnGenerateCdarApiV1CdarGeneratePost(CDARCycleDeVieApi.GenerateCdarApiV1CdarGeneratePostApiResponse apiResponse)
        {
            OnGenerateCdarApiV1CdarGeneratePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateCdarApiV1CdarGeneratePost(Exception exception)
        {
            OnErrorGenerateCdarApiV1CdarGeneratePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetActionCodesApiV1CdarActionCodesGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetActionCodesApiV1CdarActionCodesGet;

        internal void ExecuteOnGetActionCodesApiV1CdarActionCodesGet(CDARCycleDeVieApi.GetActionCodesApiV1CdarActionCodesGetApiResponse apiResponse)
        {
            OnGetActionCodesApiV1CdarActionCodesGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetActionCodesApiV1CdarActionCodesGet(Exception exception)
        {
            OnErrorGetActionCodesApiV1CdarActionCodesGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetReasonCodesApiV1CdarReasonCodesGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetReasonCodesApiV1CdarReasonCodesGet;

        internal void ExecuteOnGetReasonCodesApiV1CdarReasonCodesGet(CDARCycleDeVieApi.GetReasonCodesApiV1CdarReasonCodesGetApiResponse apiResponse)
        {
            OnGetReasonCodesApiV1CdarReasonCodesGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetReasonCodesApiV1CdarReasonCodesGet(Exception exception)
        {
            OnErrorGetReasonCodesApiV1CdarReasonCodesGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetStatusCodesApiV1CdarStatusCodesGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetStatusCodesApiV1CdarStatusCodesGet;

        internal void ExecuteOnGetStatusCodesApiV1CdarStatusCodesGet(CDARCycleDeVieApi.GetStatusCodesApiV1CdarStatusCodesGetApiResponse apiResponse)
        {
            OnGetStatusCodesApiV1CdarStatusCodesGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetStatusCodesApiV1CdarStatusCodesGet(Exception exception)
        {
            OnErrorGetStatusCodesApiV1CdarStatusCodesGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSubmitCdarApiV1CdarSubmitPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSubmitCdarApiV1CdarSubmitPost;

        internal void ExecuteOnSubmitCdarApiV1CdarSubmitPost(CDARCycleDeVieApi.SubmitCdarApiV1CdarSubmitPostApiResponse apiResponse)
        {
            OnSubmitCdarApiV1CdarSubmitPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSubmitCdarApiV1CdarSubmitPost(Exception exception)
        {
            OnErrorSubmitCdarApiV1CdarSubmitPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSubmitCdarXmlApiV1CdarSubmitXmlPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSubmitCdarXmlApiV1CdarSubmitXmlPost;

        internal void ExecuteOnSubmitCdarXmlApiV1CdarSubmitXmlPost(CDARCycleDeVieApi.SubmitCdarXmlApiV1CdarSubmitXmlPostApiResponse apiResponse)
        {
            OnSubmitCdarXmlApiV1CdarSubmitXmlPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSubmitCdarXmlApiV1CdarSubmitXmlPost(Exception exception)
        {
            OnErrorSubmitCdarXmlApiV1CdarSubmitXmlPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValidateCdarApiV1CdarValidatePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValidateCdarApiV1CdarValidatePost;

        internal void ExecuteOnValidateCdarApiV1CdarValidatePost(CDARCycleDeVieApi.ValidateCdarApiV1CdarValidatePostApiResponse apiResponse)
        {
            OnValidateCdarApiV1CdarValidatePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValidateCdarApiV1CdarValidatePost(Exception exception)
        {
            OnErrorValidateCdarApiV1CdarValidatePost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class CDARCycleDeVieApi : ICDARCycleDeVieApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<CDARCycleDeVieApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public CDARCycleDeVieApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="CDARCycleDeVieApi"/> class.
        /// </summary>
        /// <returns></returns>
        public CDARCycleDeVieApi(ILogger<CDARCycleDeVieApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, CDARCycleDeVieApiEvents cDARCycleDeVieApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<CDARCycleDeVieApi>();
            HttpClient = httpClient;
            Events = cDARCycleDeVieApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatGenerateCdarApiV1CdarGeneratePost(CreateCDARRequest createCDARRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="createCDARRequest"></param>
        /// <returns></returns>
        private void ValidateGenerateCdarApiV1CdarGeneratePost(CreateCDARRequest createCDARRequest)
        {
            if (createCDARRequest == null)
                throw new ArgumentNullException(nameof(createCDARRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createCDARRequest"></param>
        private void AfterGenerateCdarApiV1CdarGeneratePostDefaultImplementation(IGenerateCdarApiV1CdarGeneratePostApiResponse apiResponseLocalVar, CreateCDARRequest createCDARRequest)
        {
            bool suppressDefaultLog = false;
            AfterGenerateCdarApiV1CdarGeneratePost(ref suppressDefaultLog, apiResponseLocalVar, createCDARRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createCDARRequest"></param>
        partial void AfterGenerateCdarApiV1CdarGeneratePost(ref bool suppressDefaultLog, IGenerateCdarApiV1CdarGeneratePostApiResponse apiResponseLocalVar, CreateCDARRequest createCDARRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createCDARRequest"></param>
        private void OnErrorGenerateCdarApiV1CdarGeneratePostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateCDARRequest createCDARRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGenerateCdarApiV1CdarGeneratePost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, createCDARRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createCDARRequest"></param>
        partial void OnErrorGenerateCdarApiV1CdarGeneratePost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateCDARRequest createCDARRequest);

        /// <summary>
        /// Générer un message CDAR Génère un message XML CDAR (Cross Domain Acknowledgement and Response) pour communiquer le statut d&#39;une facture.  **Types de messages:** - **23** (Traitement): Message de cycle de vie standard - **305** (Transmission): Message de transmission entre plateformes  **Règles métier:** - BR-FR-CDV-14: Le statut 212 (ENCAISSEE) requiert un montant encaissé - BR-FR-CDV-15: Les statuts 206/207/208/210/213/501 requièrent un code motif
        /// </summary>
        /// <param name="createCDARRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateCdarApiV1CdarGeneratePostApiResponse"/>&gt;</returns>
        public async Task<IGenerateCdarApiV1CdarGeneratePostApiResponse?> GenerateCdarApiV1CdarGeneratePostOrDefaultAsync(CreateCDARRequest createCDARRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GenerateCdarApiV1CdarGeneratePostAsync(createCDARRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Générer un message CDAR Génère un message XML CDAR (Cross Domain Acknowledgement and Response) pour communiquer le statut d&#39;une facture.  **Types de messages:** - **23** (Traitement): Message de cycle de vie standard - **305** (Transmission): Message de transmission entre plateformes  **Règles métier:** - BR-FR-CDV-14: Le statut 212 (ENCAISSEE) requiert un montant encaissé - BR-FR-CDV-15: Les statuts 206/207/208/210/213/501 requièrent un code motif
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createCDARRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateCdarApiV1CdarGeneratePostApiResponse"/>&gt;</returns>
        public async Task<IGenerateCdarApiV1CdarGeneratePostApiResponse> GenerateCdarApiV1CdarGeneratePostAsync(CreateCDARRequest createCDARRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGenerateCdarApiV1CdarGeneratePost(createCDARRequest);

                FormatGenerateCdarApiV1CdarGeneratePost(createCDARRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/cdar/generate"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/cdar/generate");

                    httpRequestMessageLocalVar.Content = (createCDARRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(createCDARRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GenerateCdarApiV1CdarGeneratePostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GenerateCdarApiV1CdarGeneratePostApiResponse>();
                        GenerateCdarApiV1CdarGeneratePostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/cdar/generate", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGenerateCdarApiV1CdarGeneratePostDefaultImplementation(apiResponseLocalVar, createCDARRequest);

                        Events.ExecuteOnGenerateCdarApiV1CdarGeneratePost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGenerateCdarApiV1CdarGeneratePostDefaultImplementation(e, "/api/v1/cdar/generate", uriBuilderLocalVar.Path, createCDARRequest);
                Events.ExecuteOnErrorGenerateCdarApiV1CdarGeneratePost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GenerateCdarApiV1CdarGeneratePostApiResponse"/>
        /// </summary>
        public partial class GenerateCdarApiV1CdarGeneratePostApiResponse : FactPulse.SDK.Client.ApiResponse, IGenerateCdarApiV1CdarGeneratePostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GenerateCdarApiV1CdarGeneratePostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GenerateCdarApiV1CdarGeneratePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateCdarApiV1CdarGeneratePostApiResponse(ILogger<GenerateCdarApiV1CdarGeneratePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GenerateCdarApiV1CdarGeneratePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateCdarApiV1CdarGeneratePostApiResponse(ILogger<GenerateCdarApiV1CdarGeneratePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.GenerateCDARResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.GenerateCDARResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.GenerateCDARResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.APIError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.APIError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.APIError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterGetActionCodesApiV1CdarActionCodesGetDefaultImplementation(IGetActionCodesApiV1CdarActionCodesGetApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterGetActionCodesApiV1CdarActionCodesGet(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterGetActionCodesApiV1CdarActionCodesGet(ref bool suppressDefaultLog, IGetActionCodesApiV1CdarActionCodesGetApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorGetActionCodesApiV1CdarActionCodesGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetActionCodesApiV1CdarActionCodesGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorGetActionCodesApiV1CdarActionCodesGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Liste des codes action CDAR Retourne la liste complète des codes action (BR-FR-CDV-CL-10).  Ces codes indiquent l&#39;action demandée sur la facture.
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetActionCodesApiV1CdarActionCodesGetApiResponse"/>&gt;</returns>
        public async Task<IGetActionCodesApiV1CdarActionCodesGetApiResponse?> GetActionCodesApiV1CdarActionCodesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetActionCodesApiV1CdarActionCodesGetAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Liste des codes action CDAR Retourne la liste complète des codes action (BR-FR-CDV-CL-10).  Ces codes indiquent l&#39;action demandée sur la facture.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetActionCodesApiV1CdarActionCodesGetApiResponse"/>&gt;</returns>
        public async Task<IGetActionCodesApiV1CdarActionCodesGetApiResponse> GetActionCodesApiV1CdarActionCodesGetAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/cdar/action-codes"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/cdar/action-codes");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetActionCodesApiV1CdarActionCodesGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetActionCodesApiV1CdarActionCodesGetApiResponse>();
                        GetActionCodesApiV1CdarActionCodesGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/cdar/action-codes", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetActionCodesApiV1CdarActionCodesGetDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnGetActionCodesApiV1CdarActionCodesGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetActionCodesApiV1CdarActionCodesGetDefaultImplementation(e, "/api/v1/cdar/action-codes", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorGetActionCodesApiV1CdarActionCodesGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetActionCodesApiV1CdarActionCodesGetApiResponse"/>
        /// </summary>
        public partial class GetActionCodesApiV1CdarActionCodesGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetActionCodesApiV1CdarActionCodesGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetActionCodesApiV1CdarActionCodesGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetActionCodesApiV1CdarActionCodesGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetActionCodesApiV1CdarActionCodesGetApiResponse(ILogger<GetActionCodesApiV1CdarActionCodesGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetActionCodesApiV1CdarActionCodesGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetActionCodesApiV1CdarActionCodesGetApiResponse(ILogger<GetActionCodesApiV1CdarActionCodesGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.ActionCodesResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.ActionCodesResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.ActionCodesResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterGetReasonCodesApiV1CdarReasonCodesGetDefaultImplementation(IGetReasonCodesApiV1CdarReasonCodesGetApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterGetReasonCodesApiV1CdarReasonCodesGet(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterGetReasonCodesApiV1CdarReasonCodesGet(ref bool suppressDefaultLog, IGetReasonCodesApiV1CdarReasonCodesGetApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorGetReasonCodesApiV1CdarReasonCodesGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetReasonCodesApiV1CdarReasonCodesGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorGetReasonCodesApiV1CdarReasonCodesGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Liste des codes motif CDAR Retourne la liste complète des codes motif de statut (BR-FR-CDV-CL-09).  Ces codes expliquent la raison d&#39;un statut particulier.
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>&gt;</returns>
        public async Task<IGetReasonCodesApiV1CdarReasonCodesGetApiResponse?> GetReasonCodesApiV1CdarReasonCodesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetReasonCodesApiV1CdarReasonCodesGetAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Liste des codes motif CDAR Retourne la liste complète des codes motif de statut (BR-FR-CDV-CL-09).  Ces codes expliquent la raison d&#39;un statut particulier.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>&gt;</returns>
        public async Task<IGetReasonCodesApiV1CdarReasonCodesGetApiResponse> GetReasonCodesApiV1CdarReasonCodesGetAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/cdar/reason-codes"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/cdar/reason-codes");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetReasonCodesApiV1CdarReasonCodesGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetReasonCodesApiV1CdarReasonCodesGetApiResponse>();
                        GetReasonCodesApiV1CdarReasonCodesGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/cdar/reason-codes", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetReasonCodesApiV1CdarReasonCodesGetDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnGetReasonCodesApiV1CdarReasonCodesGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetReasonCodesApiV1CdarReasonCodesGetDefaultImplementation(e, "/api/v1/cdar/reason-codes", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorGetReasonCodesApiV1CdarReasonCodesGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>
        /// </summary>
        public partial class GetReasonCodesApiV1CdarReasonCodesGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetReasonCodesApiV1CdarReasonCodesGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetReasonCodesApiV1CdarReasonCodesGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetReasonCodesApiV1CdarReasonCodesGetApiResponse(ILogger<GetReasonCodesApiV1CdarReasonCodesGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetReasonCodesApiV1CdarReasonCodesGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetReasonCodesApiV1CdarReasonCodesGetApiResponse(ILogger<GetReasonCodesApiV1CdarReasonCodesGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.ReasonCodesResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.ReasonCodesResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.ReasonCodesResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        private void AfterGetStatusCodesApiV1CdarStatusCodesGetDefaultImplementation(IGetStatusCodesApiV1CdarStatusCodesGetApiResponse apiResponseLocalVar)
        {
            bool suppressDefaultLog = false;
            AfterGetStatusCodesApiV1CdarStatusCodesGet(ref suppressDefaultLog, apiResponseLocalVar);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        partial void AfterGetStatusCodesApiV1CdarStatusCodesGet(ref bool suppressDefaultLog, IGetStatusCodesApiV1CdarStatusCodesGetApiResponse apiResponseLocalVar);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        private void OnErrorGetStatusCodesApiV1CdarStatusCodesGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetStatusCodesApiV1CdarStatusCodesGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        partial void OnErrorGetStatusCodesApiV1CdarStatusCodesGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar);

        /// <summary>
        /// Liste des codes statut CDAR Retourne la liste complète des codes statut de facture (BR-FR-CDV-CL-06).  Ces codes indiquent l&#39;état du cycle de vie d&#39;une facture.
        /// </summary>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>&gt;</returns>
        public async Task<IGetStatusCodesApiV1CdarStatusCodesGetApiResponse?> GetStatusCodesApiV1CdarStatusCodesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetStatusCodesApiV1CdarStatusCodesGetAsync(cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Liste des codes statut CDAR Retourne la liste complète des codes statut de facture (BR-FR-CDV-CL-06).  Ces codes indiquent l&#39;état du cycle de vie d&#39;une facture.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>&gt;</returns>
        public async Task<IGetStatusCodesApiV1CdarStatusCodesGetApiResponse> GetStatusCodesApiV1CdarStatusCodesGetAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/cdar/status-codes"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/cdar/status-codes");

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetStatusCodesApiV1CdarStatusCodesGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetStatusCodesApiV1CdarStatusCodesGetApiResponse>();
                        GetStatusCodesApiV1CdarStatusCodesGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/cdar/status-codes", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetStatusCodesApiV1CdarStatusCodesGetDefaultImplementation(apiResponseLocalVar);

                        Events.ExecuteOnGetStatusCodesApiV1CdarStatusCodesGet(apiResponseLocalVar);

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetStatusCodesApiV1CdarStatusCodesGetDefaultImplementation(e, "/api/v1/cdar/status-codes", uriBuilderLocalVar.Path);
                Events.ExecuteOnErrorGetStatusCodesApiV1CdarStatusCodesGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>
        /// </summary>
        public partial class GetStatusCodesApiV1CdarStatusCodesGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetStatusCodesApiV1CdarStatusCodesGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetStatusCodesApiV1CdarStatusCodesGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetStatusCodesApiV1CdarStatusCodesGetApiResponse(ILogger<GetStatusCodesApiV1CdarStatusCodesGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetStatusCodesApiV1CdarStatusCodesGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetStatusCodesApiV1CdarStatusCodesGetApiResponse(ILogger<GetStatusCodesApiV1CdarStatusCodesGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.StatusCodesResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.StatusCodesResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.StatusCodesResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSubmitCdarApiV1CdarSubmitPost(ref int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, ref Option<string?> jwtToken, ref Option<string?> clientUid);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <returns></returns>
        private void ValidateSubmitCdarApiV1CdarSubmitPost(BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost)
        {
            if (bodySubmitCdarApiV1CdarSubmitPost == null)
                throw new ArgumentNullException(nameof(bodySubmitCdarApiV1CdarSubmitPost));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"></param>
        /// <param name="clientUid"></param>
        private void AfterSubmitCdarApiV1CdarSubmitPostDefaultImplementation(ISubmitCdarApiV1CdarSubmitPostApiResponse apiResponseLocalVar, int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken, Option<string?> clientUid)
        {
            bool suppressDefaultLog = false;
            AfterSubmitCdarApiV1CdarSubmitPost(ref suppressDefaultLog, apiResponseLocalVar, userId, bodySubmitCdarApiV1CdarSubmitPost, jwtToken, clientUid);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"></param>
        /// <param name="clientUid"></param>
        partial void AfterSubmitCdarApiV1CdarSubmitPost(ref bool suppressDefaultLog, ISubmitCdarApiV1CdarSubmitPostApiResponse apiResponseLocalVar, int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken, Option<string?> clientUid);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"></param>
        /// <param name="clientUid"></param>
        private void OnErrorSubmitCdarApiV1CdarSubmitPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken, Option<string?> clientUid)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSubmitCdarApiV1CdarSubmitPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, userId, bodySubmitCdarApiV1CdarSubmitPost, jwtToken, clientUid);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"></param>
        /// <param name="clientUid"></param>
        partial void OnErrorSubmitCdarApiV1CdarSubmitPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken, Option<string?> clientUid);

        /// <summary>
        /// Générer et soumettre un message CDAR Génère un message CDAR et le soumet à la plateforme PA/PDP.  Nécessite une authentification AFNOR valide.  **Types de flux (flowType):** - &#x60;CustomerInvoiceLC&#x60;: Cycle de vie côté client (acheteur) - &#x60;SupplierInvoiceLC&#x60;: Cycle de vie côté fournisseur (vendeur)
        /// </summary>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"> (optional)</param>
        /// <param name="clientUid"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitCdarApiV1CdarSubmitPostApiResponse"/>&gt;</returns>
        public async Task<ISubmitCdarApiV1CdarSubmitPostApiResponse?> SubmitCdarApiV1CdarSubmitPostOrDefaultAsync(int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken = default, Option<string?> clientUid = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SubmitCdarApiV1CdarSubmitPostAsync(userId, bodySubmitCdarApiV1CdarSubmitPost, jwtToken, clientUid, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Générer et soumettre un message CDAR Génère un message CDAR et le soumet à la plateforme PA/PDP.  Nécessite une authentification AFNOR valide.  **Types de flux (flowType):** - &#x60;CustomerInvoiceLC&#x60;: Cycle de vie côté client (acheteur) - &#x60;SupplierInvoiceLC&#x60;: Cycle de vie côté fournisseur (vendeur)
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="userId"></param>
        /// <param name="bodySubmitCdarApiV1CdarSubmitPost"></param>
        /// <param name="jwtToken"> (optional)</param>
        /// <param name="clientUid"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitCdarApiV1CdarSubmitPostApiResponse"/>&gt;</returns>
        public async Task<ISubmitCdarApiV1CdarSubmitPostApiResponse> SubmitCdarApiV1CdarSubmitPostAsync(int userId, BodySubmitCdarApiV1CdarSubmitPost bodySubmitCdarApiV1CdarSubmitPost, Option<string?> jwtToken = default, Option<string?> clientUid = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSubmitCdarApiV1CdarSubmitPost(bodySubmitCdarApiV1CdarSubmitPost);

                FormatSubmitCdarApiV1CdarSubmitPost(ref userId, bodySubmitCdarApiV1CdarSubmitPost, ref jwtToken, ref clientUid);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/cdar/submit"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/cdar/submit");

                    System.Collections.Specialized.NameValueCollection parseQueryStringLocalVar = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    parseQueryStringLocalVar["user_id"] = ClientUtils.ParameterToString(userId);

                    if (jwtToken.IsSet)
                        parseQueryStringLocalVar["jwt_token"] = ClientUtils.ParameterToString(jwtToken.Value);

                    if (clientUid.IsSet)
                        parseQueryStringLocalVar["client_uid"] = ClientUtils.ParameterToString(clientUid.Value);

                    uriBuilderLocalVar.Query = parseQueryStringLocalVar.ToString();

                    httpRequestMessageLocalVar.Content = (bodySubmitCdarApiV1CdarSubmitPost as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(bodySubmitCdarApiV1CdarSubmitPost, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

[...]
