// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Net;
using System.IO;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IChorusProApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        ChorusProApiEvents Events { get; }

        /// <summary>
        /// Add an attachment
        /// </summary>
        /// <remarks>
        /// Add an attachment to the current user account.      **Max size**: 10 MB per file      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;purchase_order.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Returns**: The attachment ID (&#x60;pieceJointeIdFichier&#x60;) to use in &#x60;/factures/completer&#x60;.      **Accepted extensions**: PDF, JPG, PNG, ZIP, XML, etc.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>&gt;</returns>
        Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Add an attachment
        /// </summary>
        /// <remarks>
        /// Add an attachment to the current user account.      **Max size**: 10 MB per file      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;purchase_order.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Returns**: The attachment ID (&#x60;pieceJointeIdFichier&#x60;) to use in &#x60;/factures/completer&#x60;.      **Accepted extensions**: PDF, JPG, PNG, ZIP, XML, etc.
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>?&gt;</returns>
        Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse?> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Complete a suspended invoice (Supplier)
        /// </summary>
        /// <remarks>
        /// Complete a SUSPENDUE status invoice by adding attachments or a comment.      **Required status**: SUSPENDUE      **Possible actions**:     - Add attachments (supporting documents, purchase orders, etc.)     - Modify comment      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;commentaire\&quot;: \&quot;Here are the requested documents\&quot;,       \&quot;listePiecesJointes\&quot;: [         {           \&quot;pieceJointeIdFichier\&quot;: 98765,           \&quot;pieceJointeNom\&quot;: \&quot;purchase_order.pdf\&quot;         }       ]     }     &#x60;&#x60;&#x60;      **Note**: Attachments must first be uploaded via &#x60;/transverses/ajouter-fichier&#x60;.      **After completion**: The invoice returns to MISE_A_DISPOSITION status.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse"/>&gt;</returns>
        Task<ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse> CompleterFactureApiV1ChorusProFacturesCompleterPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Complete a suspended invoice (Supplier)
        /// </summary>
        /// <remarks>
        /// Complete a SUSPENDUE status invoice by adding attachments or a comment.      **Required status**: SUSPENDUE      **Possible actions**:     - Add attachments (supporting documents, purchase orders, etc.)     - Modify comment      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;commentaire\&quot;: \&quot;Here are the requested documents\&quot;,       \&quot;listePiecesJointes\&quot;: [         {           \&quot;pieceJointeIdFichier\&quot;: 98765,           \&quot;pieceJointeNom\&quot;: \&quot;purchase_order.pdf\&quot;         }       ]     }     &#x60;&#x60;&#x60;      **Note**: Attachments must first be uploaded via &#x60;/transverses/ajouter-fichier&#x60;.      **After completion**: The invoice returns to MISE_A_DISPOSITION status.
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse"/>?&gt;</returns>
        Task<ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse?> CompleterFactureApiV1ChorusProFacturesCompleterPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult invoice status
        /// </summary>
        /// <remarks>
        /// Retrieves the information and current status of an invoice submitted to Chorus Pro.      **Returns**:     - Invoice number and date     - Total gross amount     - **Current status**: SOUMISE, VALIDEE, REJETEE, SUSPENDUE, MANDATEE, MISE_EN_PAIEMENT, etc.     - Recipient structure      **Use cases**:     - Track the processing progress of an invoice     - Check if an invoice has been validated or rejected     - Get the payment date      **Polling**: Call this endpoint regularly to track status changes.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="getInvoiceRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse"/>&gt;</returns>
        Task<IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse> ConsulterFactureApiV1ChorusProFacturesConsulterPostAsync(GetInvoiceRequest getInvoiceRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult invoice status
        /// </summary>
        /// <remarks>
        /// Retrieves the information and current status of an invoice submitted to Chorus Pro.      **Returns**:     - Invoice number and date     - Total gross amount     - **Current status**: SOUMISE, VALIDEE, REJETEE, SUSPENDUE, MANDATEE, MISE_EN_PAIEMENT, etc.     - Recipient structure      **Use cases**:     - Track the processing progress of an invoice     - Check if an invoice has been validated or rejected     - Get the payment date      **Polling**: Call this endpoint regularly to track status changes.
        /// </remarks>
        /// <param name="getInvoiceRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse"/>?&gt;</returns>
        Task<IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse?> ConsulterFactureApiV1ChorusProFacturesConsulterPostOrDefaultAsync(GetInvoiceRequest getInvoiceRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult structure details
        /// </summary>
        /// <remarks>
        /// Retrieves detailed information about a Chorus Pro structure.       **Returns**:     - Company name     - Intra-EU VAT number     - Contact email     - **Required parameters**: Indicates if service code and/or engagement number are required to submit an invoice      **Typical step**: Called after &#x60;search-structures&#x60; to know which fields are mandatory before submitting an invoice.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="getStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse"/>&gt;</returns>
        Task<IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse> ConsulterStructureApiV1ChorusProStructuresConsulterPostAsync(GetStructureRequest getStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult structure details
        /// </summary>
        /// <remarks>
        /// Retrieves detailed information about a Chorus Pro structure.       **Returns**:     - Company name     - Intra-EU VAT number     - Contact email     - **Required parameters**: Indicates if service code and/or engagement number are required to submit an invoice      **Typical step**: Called after &#x60;search-structures&#x60; to know which fields are mandatory before submitting an invoice.
        /// </remarks>
        /// <param name="getStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse"/>?&gt;</returns>
        Task<IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse?> ConsulterStructureApiV1ChorusProStructuresConsulterPostOrDefaultAsync(GetStructureRequest getStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List structure services
        /// </summary>
        /// <remarks>
        /// Retrieves the list of active services for a public structure.      **Use cases**:     - List available services for an administration     - Verify that a service code exists before submitting an invoice      **Returns**:     - List of services with their code, label, and status (active/inactive)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idStructureCpp">Chorus Pro structure ID (idStructureCPP)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse"/>&gt;</returns>
        Task<IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse> ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetAsync(int idStructureCpp, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List structure services
        /// </summary>
        /// <remarks>
        /// Retrieves the list of active services for a public structure.      **Use cases**:     - List available services for an administration     - Verify that a service code exists before submitting an invoice      **Returns**:     - List of services with their code, label, and status (active/inactive)
        /// </remarks>
        /// <param name="idStructureCpp">Chorus Pro structure ID (idStructureCPP)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse"/>?&gt;</returns>
        Task<IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse?> ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetOrDefaultAsync(int idStructureCpp, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Utility: Get Chorus Pro ID from SIRET
        /// </summary>
        /// <remarks>
        /// **Convenient utility** to get a structure&#39;s Chorus Pro ID from its SIRET.       This wrapper function combines:     1. Searching for the structure by SIRET     2. Extracting the &#x60;id_structure_cpp&#x60; if a single structure is found      **Returns**:     - &#x60;id_structure_cpp&#x60;: Chorus Pro ID (0 if not found or multiple results)     - &#x60;designation_structure&#x60;: Structure name (if found)     - &#x60;message&#x60;: Explanatory message      **Use cases**:     - Shortcut to directly get the Chorus Pro ID before submitting an invoice     - Simplified alternative to &#x60;search-structures&#x60; + manual ID extraction      **Note**: If multiple structures match the SIRET (rare), returns 0 and an error message.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="getChorusProIdRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse"/>&gt;</returns>
        Task<IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse> ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostAsync(GetChorusProIdRequest getChorusProIdRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Utility: Get Chorus Pro ID from SIRET
        /// </summary>
        /// <remarks>
        /// **Convenient utility** to get a structure&#39;s Chorus Pro ID from its SIRET.       This wrapper function combines:     1. Searching for the structure by SIRET     2. Extracting the &#x60;id_structure_cpp&#x60; if a single structure is found      **Returns**:     - &#x60;id_structure_cpp&#x60;: Chorus Pro ID (0 if not found or multiple results)     - &#x60;designation_structure&#x60;: Structure name (if found)     - &#x60;message&#x60;: Explanatory message      **Use cases**:     - Shortcut to directly get the Chorus Pro ID before submitting an invoice     - Simplified alternative to &#x60;search-structures&#x60; + manual ID extraction      **Note**: If multiple structures match the SIRET (rare), returns 0 and an error message.
        /// </remarks>
        /// <param name="getChorusProIdRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse"/>?&gt;</returns>
        Task<IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse?> ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostOrDefaultAsync(GetChorusProIdRequest getChorusProIdRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search received invoices (Recipient)
        /// </summary>
        /// <remarks>
        /// Search invoices received by the connected recipient.      **Filters**:     - Downloaded / not downloaded     - Reception dates     - Status (MISE_A_DISPOSITION, SUSPENDUE, etc.)     - Supplier      **Useful indicator**: &#x60;factureTelechargeeParDestinataire&#x60; indicates whether the invoice has already been downloaded.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse"/>&gt;</returns>
        Task<IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse> RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search received invoices (Recipient)
        /// </summary>
        /// <remarks>
        /// Search invoices received by the connected recipient.      **Filters**:     - Downloaded / not downloaded     - Reception dates     - Status (MISE_A_DISPOSITION, SUSPENDUE, etc.)     - Supplier      **Useful indicator**: &#x60;factureTelechargeeParDestinataire&#x60; indicates whether the invoice has already been downloaded.
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse"/>?&gt;</returns>
        Task<IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse?> RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search issued invoices (Supplier)
        /// </summary>
        /// <remarks>
        /// Search invoices issued by the connected supplier.      **Available filters**:     - Invoice number     - Dates (start/end)     - Status     - Recipient structure     - Amount      **Use cases**:     - Track issued invoices     - Verify statuses     - Export for accounting
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse"/>&gt;</returns>
        Task<IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse> RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search issued invoices (Supplier)
        /// </summary>
        /// <remarks>
        /// Search invoices issued by the connected supplier.      **Available filters**:     - Invoice number     - Dates (start/end)     - Status     - Recipient structure     - Amount      **Use cases**:     - Track issued invoices     - Verify statuses     - Export for accounting
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse"/>?&gt;</returns>
        Task<IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse?> RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search Chorus Pro structures
        /// </summary>
        /// <remarks>
        /// Search for structures (companies, administrations) registered on Chorus Pro.      **Use cases**:     - Find the Chorus Pro ID of a structure from its SIRET     - Check if a structure is registered on Chorus Pro     - List structures matching criteria      **Available filters**:     - Identifier (SIRET, SIREN, etc.)     - Company name     - Identifier type     - Private structures only      **Typical step**: Called before &#x60;submit-invoice&#x60; to get the recipient&#39;s &#x60;id_structure_cpp&#x60;.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="searchStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse"/>&gt;</returns>
        Task<IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse> RechercherStructuresApiV1ChorusProStructuresRechercherPostAsync(SearchStructureRequest searchStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search Chorus Pro structures
        /// </summary>
        /// <remarks>
        /// Search for structures (companies, administrations) registered on Chorus Pro.      **Use cases**:     - Find the Chorus Pro ID of a structure from its SIRET     - Check if a structure is registered on Chorus Pro     - List structures matching criteria      **Available filters**:     - Identifier (SIRET, SIREN, etc.)     - Company name     - Identifier type     - Private structures only      **Typical step**: Called before &#x60;submit-invoice&#x60; to get the recipient&#39;s &#x60;id_structure_cpp&#x60;.
        /// </remarks>
        /// <param name="searchStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse"/>?&gt;</returns>
        Task<IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse?> RechercherStructuresApiV1ChorusProStructuresRechercherPostOrDefaultAsync(SearchStructureRequest searchStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Recycle an invoice (Supplier)
        /// </summary>
        /// <remarks>
        /// Recycle an invoice with A_RECYCLER status by modifying routing data.      **Required status**: A_RECYCLER      **Modifiable fields**:     - Recipient (&#x60;idStructureCPP&#x60;)     - Service code     - Engagement number      **Use cases**:     - Wrong recipient     - Change of billing service     - Update engagement number      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;idStructureCPP\&quot;: 67890,       \&quot;codeService\&quot;: \&quot;SERVICE_01\&quot;,       \&quot;numeroEngagement\&quot;: \&quot;ENG2024001\&quot;     }     &#x60;&#x60;&#x60;      **Note**: The invoice keeps its number and amounts, only routing fields change.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse"/>&gt;</returns>
        Task<IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse> RecyclerFactureApiV1ChorusProFacturesRecyclerPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Recycle an invoice (Supplier)
        /// </summary>
        /// <remarks>
        /// Recycle an invoice with A_RECYCLER status by modifying routing data.      **Required status**: A_RECYCLER      **Modifiable fields**:     - Recipient (&#x60;idStructureCPP&#x60;)     - Service code     - Engagement number      **Use cases**:     - Wrong recipient     - Change of billing service     - Update engagement number      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;idStructureCPP\&quot;: 67890,       \&quot;codeService\&quot;: \&quot;SERVICE_01\&quot;,       \&quot;numeroEngagement\&quot;: \&quot;ENG2024001\&quot;     }     &#x60;&#x60;&#x60;      **Note**: The invoice keeps its number and amounts, only routing fields change.
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse"/>?&gt;</returns>
        Task<IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse?> RecyclerFactureApiV1ChorusProFacturesRecyclerPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit an invoice to Chorus Pro
        /// </summary>
        /// <remarks>
        /// Submits an electronic invoice to a public structure via Chorus Pro.       **Complete workflow**:     1. **Upload the Factur-X PDF** via &#x60;/transverses/ajouter-fichier&#x60; → retrieve &#x60;pieceJointeId&#x60;     2. **Get the structure ID** via &#x60;/structures/rechercher&#x60; or &#x60;/structures/obtenir-id-depuis-siret&#x60;     3. **Check mandatory parameters** via &#x60;/structures/consulter&#x60;     4. **Submit the invoice** with the &#x60;piece_jointe_principale_id&#x60; obtained in step 1      **Prerequisites**:     1. Have the recipient&#39;s &#x60;id_structure_cpp&#x60; (via &#x60;/structures/rechercher&#x60;)     2. Know the mandatory parameters (via &#x60;/structures/consulter&#x60;):        - Service code if &#x60;code_service_doit_etre_renseigne&#x3D;true&#x60;        - Engagement number if &#x60;numero_ej_doit_etre_renseigne&#x3D;true&#x60;     3. Have uploaded the Factur-X PDF (via &#x60;/transverses/ajouter-fichier&#x60;)      **Expected format**:     - &#x60;piece_jointe_principale_id&#x60;: ID returned by &#x60;/transverses/ajouter-fichier&#x60;     - Amounts: Strings with 2 decimals (e.g., \&quot;1250.50\&quot;)     - Dates: ISO 8601 format (YYYY-MM-DD)      **Returns**:     - &#x60;identifiant_facture_cpp&#x60;: Chorus Pro ID of the created invoice     - &#x60;numero_flux_depot&#x60;: Deposit tracking number      **Possible statuses after submission**:     - SOUMISE: Pending validation     - VALIDEE: Validated by recipient     - REJETEE: Rejected (data error or business refusal)     - SUSPENDUE: Pending additional information      **Note**: Use &#x60;/factures/consulter&#x60; to track status changes.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="submitInvoiceRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse"/>&gt;</returns>
        Task<ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse> SoumettreFactureApiV1ChorusProFacturesSoumettrePostAsync(SubmitInvoiceRequest submitInvoiceRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit an invoice to Chorus Pro
        /// </summary>
        /// <remarks>
        /// Submits an electronic invoice to a public structure via Chorus Pro.       **Complete workflow**:     1. **Upload the Factur-X PDF** via &#x60;/transverses/ajouter-fichier&#x60; → retrieve &#x60;pieceJointeId&#x60;     2. **Get the structure ID** via &#x60;/structures/rechercher&#x60; or &#x60;/structures/obtenir-id-depuis-siret&#x60;     3. **Check mandatory parameters** via &#x60;/structures/consulter&#x60;     4. **Submit the invoice** with the &#x60;piece_jointe_principale_id&#x60; obtained in step 1      **Prerequisites**:     1. Have the recipient&#39;s &#x60;id_structure_cpp&#x60; (via &#x60;/structures/rechercher&#x60;)     2. Know the mandatory parameters (via &#x60;/structures/consulter&#x60;):        - Service code if &#x60;code_service_doit_etre_renseigne&#x3D;true&#x60;        - Engagement number if &#x60;numero_ej_doit_etre_renseigne&#x3D;true&#x60;     3. Have uploaded the Factur-X PDF (via &#x60;/transverses/ajouter-fichier&#x60;)      **Expected format**:     - &#x60;piece_jointe_principale_id&#x60;: ID returned by &#x60;/transverses/ajouter-fichier&#x60;     - Amounts: Strings with 2 decimals (e.g., \&quot;1250.50\&quot;)     - Dates: ISO 8601 format (YYYY-MM-DD)      **Returns**:     - &#x60;identifiant_facture_cpp&#x60;: Chorus Pro ID of the created invoice     - &#x60;numero_flux_depot&#x60;: Deposit tracking number      **Possible statuses after submission**:     - SOUMISE: Pending validation     - VALIDEE: Validated by recipient     - REJETEE: Rejected (data error or business refusal)     - SUSPENDUE: Pending additional information      **Note**: Use &#x60;/factures/consulter&#x60; to track status changes.
        /// </remarks>
        /// <param name="submitInvoiceRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse"/>?&gt;</returns>
        Task<ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse?> SoumettreFactureApiV1ChorusProFacturesSoumettrePostOrDefaultAsync(SubmitInvoiceRequest submitInvoiceRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download a group of invoices
        /// </summary>
        /// <remarks>
        /// Download one or more invoices (max 10 recommended) with their attachments.      **Available formats**:     - PDF: PDF file only     - XML: XML file only     - ZIP: Archive containing PDF + XML + attachments      **Maximum size**: 120 MB per download      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;listeIdentifiantsFactureCPP\&quot;: [12345, 12346],       \&quot;inclurePiecesJointes\&quot;: true,       \&quot;formatFichier\&quot;: \&quot;ZIP\&quot;     }     &#x60;&#x60;&#x60;      **Returns**: The file is base64-encoded in the &#x60;fichierBase64&#x60; field.      **Note**: The &#x60;factureTelechargeeParDestinataire&#x60; flag is automatically updated.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse"/>&gt;</returns>
        Task<ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse> TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download a group of invoices
        /// </summary>
        /// <remarks>
        /// Download one or more invoices (max 10 recommended) with their attachments.      **Available formats**:     - PDF: PDF file only     - XML: XML file only     - ZIP: Archive containing PDF + XML + attachments      **Maximum size**: 120 MB per download      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;listeIdentifiantsFactureCPP\&quot;: [12345, 12346],       \&quot;inclurePiecesJointes\&quot;: true,       \&quot;formatFichier\&quot;: \&quot;ZIP\&quot;     }     &#x60;&#x60;&#x60;      **Returns**: The file is base64-encoded in the &#x60;fichierBase64&#x60; field.      **Note**: The &#x60;factureTelechargeeParDestinataire&#x60; flag is automatically updated.
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse"/>?&gt;</returns>
        Task<ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse?> TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Process a received invoice (Recipient)
        /// </summary>
        /// <remarks>
        /// Change the status of a received invoice.      **Possible statuses**:     - MISE_A_DISPOSITION: Invoice accepted     - SUSPENDUE: Pending additional information (reason required)     - REJETEE: Invoice refused (reason required)     - MANDATEE: Invoice mandated     - MISE_EN_PAIEMENT: Invoice being paid     - COMPTABILISEE: Invoice accounted     - MISE_A_DISPOSITION_COMPTABLE: Made available to accounting     - A_RECYCLER: To be recycled     - COMPLETEE: Completed     - SERVICE-FAIT: Service rendered     - PRISE_EN_COMPTE_DESTINATAIRE: Acknowledged     - TRANSMISE_MOA: Transmitted to MOA      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;nouveauStatut\&quot;: \&quot;REJETEE\&quot;,       \&quot;motifRejet\&quot;: \&quot;Duplicate invoice\&quot;,       \&quot;commentaire\&quot;: \&quot;Invoice already received under reference ABC123\&quot;     }     &#x60;&#x60;&#x60;      **Rules**:     - A reason is **required** for SUSPENDUE and REJETEE     - Only certain statuses are allowed depending on the invoice&#39;s current status
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse"/>&gt;</returns>
        Task<ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse> TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Process a received invoice (Recipient)
        /// </summary>
        /// <remarks>
        /// Change the status of a received invoice.      **Possible statuses**:     - MISE_A_DISPOSITION: Invoice accepted     - SUSPENDUE: Pending additional information (reason required)     - REJETEE: Invoice refused (reason required)     - MANDATEE: Invoice mandated     - MISE_EN_PAIEMENT: Invoice being paid     - COMPTABILISEE: Invoice accounted     - MISE_A_DISPOSITION_COMPTABLE: Made available to accounting     - A_RECYCLER: To be recycled     - COMPLETEE: Completed     - SERVICE-FAIT: Service rendered     - PRISE_EN_COMPTE_DESTINATAIRE: Acknowledged     - TRANSMISE_MOA: Transmitted to MOA      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;nouveauStatut\&quot;: \&quot;REJETEE\&quot;,       \&quot;motifRejet\&quot;: \&quot;Duplicate invoice\&quot;,       \&quot;commentaire\&quot;: \&quot;Invoice already received under reference ABC123\&quot;     }     &#x60;&#x60;&#x60;      **Rules**:     - A reason is **required** for SUSPENDUE and REJETEE     - Only certain statuses are allowed depending on the invoice&#39;s current status
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse"/>?&gt;</returns>
        Task<ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse?> TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult an invoice (Validator)
        /// </summary>
        /// <remarks>
        /// Retrieves detailed information about an invoice for validators.  **Use case**: Called by validators (public sector) to consult invoice details before approving or rejecting it.  **Required payload**: &#x60;&#x60;&#x60;json {   \&quot;idFacture\&quot;: 123456789 } &#x60;&#x60;&#x60;  **Returns**: Complete invoice details including amounts, dates, attachments, and current status.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse"/>&gt;</returns>
        Task<IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse> ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consult an invoice (Validator)
        /// </summary>
        /// <remarks>
        /// Retrieves detailed information about an invoice for validators.  **Use case**: Called by validators (public sector) to consult invoice details before approving or rejecting it.  **Required payload**: &#x60;&#x60;&#x60;json {   \&quot;idFacture\&quot;: 123456789 } &#x60;&#x60;&#x60;  **Returns**: Complete invoice details including amounts, dates, attachments, and current status.
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse"/>?&gt;</returns>
        Task<IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse?> ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search invoices to validate (Validator)
        /// </summary>
        /// <remarks>
        /// Search invoices pending validation by the connected validator.      **Role**: Validator in the internal validation workflow.      **Filters**: Dates, structure, service, etc.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse"/>&gt;</returns>
        Task<IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse> ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Search invoices to validate (Validator)
        /// </summary>
        /// <remarks>
        /// Search invoices pending validation by the connected validator.      **Role**: Validator in the internal validation workflow.      **Filters**: Dates, structure, service, etc.
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse"/>?&gt;</returns>
        Task<IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse?> ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate or reject an invoice (Validator)
        /// </summary>
        /// <remarks>
        /// Validate or reject an invoice pending validation.      **Actions**:     - Validate: The invoice moves to the next status in the workflow     - Reject: The invoice is rejected (reason required)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse"/>&gt;</returns>
        Task<IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse> ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate or reject an invoice (Validator)
        /// </summary>
        /// <remarks>
        /// Validate or reject an invoice pending validation.      **Actions**:     - Validate: The invoice moves to the next status in the workflow     - Reject: The invoice is rejected (reason required)
        /// </remarks>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse"/>?&gt;</returns>
        Task<IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse?> ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
    /// </summary>
    public interface IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse"/>
    /// </summary>
    public interface ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse"/>
    /// </summary>
    public interface IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GetInvoiceResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse"/>
    /// </summary>
    public interface IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GetStructureResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse"/>
    /// </summary>
    public interface IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SearchServicesResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse"/>
    /// </summary>
    public interface IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GetChorusProIdResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse"/>
    /// </summary>
    public interface IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse"/>
    /// </summary>
    public interface IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse"/>
    /// </summary>
    public interface IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SearchStructureResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse"/>
    /// </summary>
    public interface IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse"/>
    /// </summary>
    public interface ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SubmitInvoiceResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse"/>
    /// </summary>
    public interface ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse"/>
    /// </summary>
    public interface ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse"/>
    /// </summary>
    public interface IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse"/>
    /// </summary>
    public interface IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse"/>
    /// </summary>
    public interface IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class ChorusProApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost;

        internal void ExecuteOnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ChorusProApi.AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponse)
        {
            OnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(Exception exception)
        {
            OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnCompleterFactureApiV1ChorusProFacturesCompleterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorCompleterFactureApiV1ChorusProFacturesCompleterPost;

        internal void ExecuteOnCompleterFactureApiV1ChorusProFacturesCompleterPost(ChorusProApi.CompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse apiResponse)
        {
            OnCompleterFactureApiV1ChorusProFacturesCompleterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCompleterFactureApiV1ChorusProFacturesCompleterPost(Exception exception)
        {
            OnErrorCompleterFactureApiV1ChorusProFacturesCompleterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnConsulterFactureApiV1ChorusProFacturesConsulterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorConsulterFactureApiV1ChorusProFacturesConsulterPost;

        internal void ExecuteOnConsulterFactureApiV1ChorusProFacturesConsulterPost(ChorusProApi.ConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse apiResponse)
        {
            OnConsulterFactureApiV1ChorusProFacturesConsulterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorConsulterFactureApiV1ChorusProFacturesConsulterPost(Exception exception)
        {
            OnErrorConsulterFactureApiV1ChorusProFacturesConsulterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnConsulterStructureApiV1ChorusProStructuresConsulterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorConsulterStructureApiV1ChorusProStructuresConsulterPost;

        internal void ExecuteOnConsulterStructureApiV1ChorusProStructuresConsulterPost(ChorusProApi.ConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse apiResponse)
        {
            OnConsulterStructureApiV1ChorusProStructuresConsulterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorConsulterStructureApiV1ChorusProStructuresConsulterPost(Exception exception)
        {
            OnErrorConsulterStructureApiV1ChorusProStructuresConsulterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet;

        internal void ExecuteOnListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet(ChorusProApi.ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse apiResponse)
        {
            OnListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet(Exception exception)
        {
            OnErrorListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost;

        internal void ExecuteOnObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost(ChorusProApi.ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse apiResponse)
        {
            OnObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost(Exception exception)
        {
            OnErrorObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost;

        internal void ExecuteOnRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost(ChorusProApi.RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse apiResponse)
        {
            OnRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost(Exception exception)
        {
            OnErrorRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost;

        internal void ExecuteOnRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost(ChorusProApi.RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse apiResponse)
        {
            OnRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost(Exception exception)
        {
            OnErrorRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRechercherStructuresApiV1ChorusProStructuresRechercherPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRechercherStructuresApiV1ChorusProStructuresRechercherPost;

        internal void ExecuteOnRechercherStructuresApiV1ChorusProStructuresRechercherPost(ChorusProApi.RechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse apiResponse)
        {
            OnRechercherStructuresApiV1ChorusProStructuresRechercherPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRechercherStructuresApiV1ChorusProStructuresRechercherPost(Exception exception)
        {
            OnErrorRechercherStructuresApiV1ChorusProStructuresRechercherPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRecyclerFactureApiV1ChorusProFacturesRecyclerPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRecyclerFactureApiV1ChorusProFacturesRecyclerPost;

        internal void ExecuteOnRecyclerFactureApiV1ChorusProFacturesRecyclerPost(ChorusProApi.RecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse apiResponse)
        {
            OnRecyclerFactureApiV1ChorusProFacturesRecyclerPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRecyclerFactureApiV1ChorusProFacturesRecyclerPost(Exception exception)
        {
            OnErrorRecyclerFactureApiV1ChorusProFacturesRecyclerPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSoumettreFactureApiV1ChorusProFacturesSoumettrePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSoumettreFactureApiV1ChorusProFacturesSoumettrePost;

        internal void ExecuteOnSoumettreFactureApiV1ChorusProFacturesSoumettrePost(ChorusProApi.SoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse apiResponse)
        {
            OnSoumettreFactureApiV1ChorusProFacturesSoumettrePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSoumettreFactureApiV1ChorusProFacturesSoumettrePost(Exception exception)
        {
            OnErrorSoumettreFactureApiV1ChorusProFacturesSoumettrePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost;

        internal void ExecuteOnTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost(ChorusProApi.TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse apiResponse)
        {
            OnTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost(Exception exception)
        {
            OnErrorTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost;

        internal void ExecuteOnTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost(ChorusProApi.TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse apiResponse)
        {
            OnTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost(Exception exception)
        {
            OnErrorTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost;

        internal void ExecuteOnValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost(ChorusProApi.ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse apiResponse)
        {
            OnValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost(Exception exception)
        {
            OnErrorValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost;

        internal void ExecuteOnValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost(ChorusProApi.ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse apiResponse)
        {
            OnValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost(Exception exception)
        {
            OnErrorValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost;

        internal void ExecuteOnValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost(ChorusProApi.ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse apiResponse)
        {
            OnValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost(Exception exception)
        {
            OnErrorValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class ChorusProApi : IChorusProApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<ChorusProApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public ChorusProApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>
        /// </summary>
        public TokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ChorusProApi"/> class.
        /// </summary>
        /// <returns></returns>
        public ChorusProApi(ILogger<ChorusProApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ChorusProApiEvents chorusProApiEvents,
            TokenProvider<ApiKeyToken> apiKeyProvider,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<ChorusProApi>();
            HttpClient = httpClient;
            Events = chorusProApiEvents;
            ApiKeyProvider = apiKeyProvider;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(Dictionary<string, Object> requestBody);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="requestBody"></param>
        /// <returns></returns>
        private void ValidateAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(Dictionary<string, Object> requestBody)
        {
            if (requestBody == null)
                throw new ArgumentNullException(nameof(requestBody));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="requestBody"></param>
        private void AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponseLocalVar, Dictionary<string, Object> requestBody)
        {
            bool suppressDefaultLog = false;
            AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref suppressDefaultLog, apiResponseLocalVar, requestBody);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="requestBody"></param>
        partial void AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref bool suppressDefaultLog, IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponseLocalVar, Dictionary<string, Object> requestBody);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="requestBody"></param>
        private void OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, Dictionary<string, Object> requestBody)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, requestBody);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="requestBody"></param>
        partial void OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, Dictionary<string, Object> requestBody);

        /// <summary>
        /// Add an attachment Add an attachment to the current user account.      **Max size**: 10 MB per file      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;purchase_order.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Returns**: The attachment ID (&#x60;pieceJointeIdFichier&#x60;) to use in &#x60;/factures/completer&#x60;.      **Accepted extensions**: PDF, JPG, PNG, ZIP, XML, etc.
        /// </summary>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>&gt;</returns>
        public async Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse?> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostOrDefaultAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await AjouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync(requestBody, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Add an attachment Add an attachment to the current user account.      **Max size**: 10 MB per file      **Example payload**:     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;purchase_order.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Returns**: The attachment ID (&#x60;pieceJointeIdFichier&#x60;) to use in &#x60;/factures/completer&#x60;.      **Accepted extensions**: PDF, JPG, PNG, ZIP, XML, etc.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="requestBody"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>&gt;</returns>
        public async Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync(Dictionary<string, Object> requestBody, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(requestBody);

                FormatAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(requestBody);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/chorus-pro/transverses/ajouter-fichier"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/chorus-pro/transverses/ajouter-fichier");

                    httpRequestMessageLocalVar.Content = (requestBody as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(requestBody, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    ApiKeyToken apiKeyTokenLocalVar1 = (ApiKeyToken) await ApiKeyProvider.GetAsync("X-API-Key", cancellationToken).ConfigureAwait(false);
                    tokenBaseLocalVars.Add(apiKeyTokenLocalVar1);
                    apiKeyTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar);

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar2 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar2);

                    bearerTokenLocalVar2.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse>();
                        AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/chorus-pro/transverses/ajouter-fichier", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(apiResponseLocalVar, requestBody);

                        Events.ExecuteOnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(e, "/api/v1/chorus-pro/transverses/ajouter-fichier", uriBuilderLocalVar.Path, requestBody);
                Events.ExecuteOnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
        /// </summary>
        public partial class AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse : FactPulse.SDK.Client.ApiResponse, IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse(ILogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse(ILogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

[...]
