// <auto-generated>
/*
 * API REST FactPulse
 *
 *  API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Paramètre optionnel `client_uid` :**  Pour sélectionner les credentials d'un client spécifique (PA/PDP, Chorus Pro, certificats de signature), ajoutez `client_uid` :  ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  Le `client_uid` sera inclus dans le JWT et permettra à l'API d'utiliser automatiquement : - Les credentials AFNOR/PDP configurés pour ce client - Les credentials Chorus Pro configurés pour ce client - Les certificats de signature électronique configurés pour ce client  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IChorusProApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        ChorusProApiEvents Events { get; }

        /// <summary>
        /// Ajouter une pièce jointe
        /// </summary>
        /// <remarks>
        /// Ajoute une pièce jointe au compte utilisateur courant.      **Taille max** : 10 Mo par fichier      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;bon_commande.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Retour** : L&#39;ID de la pièce jointe (&#x60;pieceJointeIdFichier&#x60;) à utiliser ensuite dans &#x60;/factures/completer&#x60;.      **Extensions acceptées** : PDF, JPG, PNG, ZIP, XML, etc.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>&gt;</returns>
        Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync(BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Ajouter une pièce jointe
        /// </summary>
        /// <remarks>
        /// Ajoute une pièce jointe au compte utilisateur courant.      **Taille max** : 10 Mo par fichier      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;bon_commande.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Retour** : L&#39;ID de la pièce jointe (&#x60;pieceJointeIdFichier&#x60;) à utiliser ensuite dans &#x60;/factures/completer&#x60;.      **Extensions acceptées** : PDF, JPG, PNG, ZIP, XML, etc.
        /// </remarks>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>?&gt;</returns>
        Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse?> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostOrDefaultAsync(BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Compléter une facture suspendue (Fournisseur)
        /// </summary>
        /// <remarks>
        /// Complète une facture au statut SUSPENDUE en ajoutant des pièces jointes ou un commentaire.      **Statut requis** : SUSPENDUE      **Actions possibles** :     - Ajouter des pièces jointes (justificatifs, bons de commande, etc.)     - Modifier le commentaire      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;commentaire\&quot;: \&quot;Voici les justificatifs demandés\&quot;,       \&quot;listePiecesJointes\&quot;: [         {           \&quot;pieceJointeIdFichier\&quot;: 98765,           \&quot;pieceJointeNom\&quot;: \&quot;bon_commande.pdf\&quot;         }       ]     }     &#x60;&#x60;&#x60;      **Note** : Les pièces jointes doivent d&#39;abord être uploadées via &#x60;/transverses/ajouter-fichier&#x60;.      **Après complétion** : La facture repasse au statut MISE_A_DISPOSITION.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyCompleterFactureApiV1ChorusProFacturesCompleterPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse"/>&gt;</returns>
        Task<ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse> CompleterFactureApiV1ChorusProFacturesCompleterPostAsync(BodyCompleterFactureApiV1ChorusProFacturesCompleterPost bodyCompleterFactureApiV1ChorusProFacturesCompleterPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Compléter une facture suspendue (Fournisseur)
        /// </summary>
        /// <remarks>
        /// Complète une facture au statut SUSPENDUE en ajoutant des pièces jointes ou un commentaire.      **Statut requis** : SUSPENDUE      **Actions possibles** :     - Ajouter des pièces jointes (justificatifs, bons de commande, etc.)     - Modifier le commentaire      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;commentaire\&quot;: \&quot;Voici les justificatifs demandés\&quot;,       \&quot;listePiecesJointes\&quot;: [         {           \&quot;pieceJointeIdFichier\&quot;: 98765,           \&quot;pieceJointeNom\&quot;: \&quot;bon_commande.pdf\&quot;         }       ]     }     &#x60;&#x60;&#x60;      **Note** : Les pièces jointes doivent d&#39;abord être uploadées via &#x60;/transverses/ajouter-fichier&#x60;.      **Après complétion** : La facture repasse au statut MISE_A_DISPOSITION.
        /// </remarks>
        /// <param name="bodyCompleterFactureApiV1ChorusProFacturesCompleterPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse"/>?&gt;</returns>
        Task<ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse?> CompleterFactureApiV1ChorusProFacturesCompleterPostOrDefaultAsync(BodyCompleterFactureApiV1ChorusProFacturesCompleterPost bodyCompleterFactureApiV1ChorusProFacturesCompleterPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consulter le statut d&#39;une facture
        /// </summary>
        /// <remarks>
        /// Récupère les informations et le statut actuel d&#39;une facture soumise à Chorus Pro.      **Retour** :     - Numéro et date de facture     - Montant TTC     - **Statut courant** : SOUMISE, VALIDEE, REJETEE, SUSPENDUE, MANDATEE, MISE_EN_PAIEMENT, etc.     - Structure destinataire      **Cas d&#39;usage** :     - Suivre l&#39;évolution du traitement d&#39;une facture     - Vérifier si une facture a été validée ou rejetée     - Obtenir la date de mise en paiement      **Polling** : Appelez cet endpoint régulièrement pour suivre l&#39;évolution du statut.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="consulterFactureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse"/>&gt;</returns>
        Task<IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse> ConsulterFactureApiV1ChorusProFacturesConsulterPostAsync(ConsulterFactureRequest consulterFactureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consulter le statut d&#39;une facture
        /// </summary>
        /// <remarks>
        /// Récupère les informations et le statut actuel d&#39;une facture soumise à Chorus Pro.      **Retour** :     - Numéro et date de facture     - Montant TTC     - **Statut courant** : SOUMISE, VALIDEE, REJETEE, SUSPENDUE, MANDATEE, MISE_EN_PAIEMENT, etc.     - Structure destinataire      **Cas d&#39;usage** :     - Suivre l&#39;évolution du traitement d&#39;une facture     - Vérifier si une facture a été validée ou rejetée     - Obtenir la date de mise en paiement      **Polling** : Appelez cet endpoint régulièrement pour suivre l&#39;évolution du statut.
        /// </remarks>
        /// <param name="consulterFactureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse"/>?&gt;</returns>
        Task<IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse?> ConsulterFactureApiV1ChorusProFacturesConsulterPostOrDefaultAsync(ConsulterFactureRequest consulterFactureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consulter les détails d&#39;une structure
        /// </summary>
        /// <remarks>
        /// Récupère les informations détaillées d&#39;une structure Chorus Pro.       **Retour** :     - Raison sociale     - Numéro de TVA intracommunautaire     - Email de contact     - **Paramètres obligatoires** : Indique si le code service et/ou numéro d&#39;engagement sont requis pour soumettre une facture      **Étape typique** : Appelée après &#x60;rechercher-structures&#x60; pour savoir quels champs sont obligatoires avant de soumettre une facture.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="consulterStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse"/>&gt;</returns>
        Task<IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse> ConsulterStructureApiV1ChorusProStructuresConsulterPostAsync(ConsulterStructureRequest consulterStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consulter les détails d&#39;une structure
        /// </summary>
        /// <remarks>
        /// Récupère les informations détaillées d&#39;une structure Chorus Pro.       **Retour** :     - Raison sociale     - Numéro de TVA intracommunautaire     - Email de contact     - **Paramètres obligatoires** : Indique si le code service et/ou numéro d&#39;engagement sont requis pour soumettre une facture      **Étape typique** : Appelée après &#x60;rechercher-structures&#x60; pour savoir quels champs sont obligatoires avant de soumettre une facture.
        /// </remarks>
        /// <param name="consulterStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse"/>?&gt;</returns>
        Task<IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse?> ConsulterStructureApiV1ChorusProStructuresConsulterPostOrDefaultAsync(ConsulterStructureRequest consulterStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Lister les services d&#39;une structure
        /// </summary>
        /// <remarks>
        /// Récupère la liste des services actifs d&#39;une structure publique.      **Cas d&#39;usage** :     - Lister les services disponibles pour une administration     - Vérifier qu&#39;un code service existe avant de soumettre une facture      **Retour** :     - Liste des services avec leur code, libellé et statut (actif/inactif)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idStructureCpp"></param>
        /// <param name="bodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse"/>&gt;</returns>
        Task<IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse> ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetAsync(int idStructureCpp, BodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet bodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Lister les services d&#39;une structure
        /// </summary>
        /// <remarks>
        /// Récupère la liste des services actifs d&#39;une structure publique.      **Cas d&#39;usage** :     - Lister les services disponibles pour une administration     - Vérifier qu&#39;un code service existe avant de soumettre une facture      **Retour** :     - Liste des services avec leur code, libellé et statut (actif/inactif)
        /// </remarks>
        /// <param name="idStructureCpp"></param>
        /// <param name="bodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse"/>?&gt;</returns>
        Task<IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse?> ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetOrDefaultAsync(int idStructureCpp, BodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet bodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Utilitaire : Obtenir l&#39;ID Chorus Pro depuis un SIRET
        /// </summary>
        /// <remarks>
        /// **Utilitaire pratique** pour obtenir l&#39;ID Chorus Pro d&#39;une structure à partir de son SIRET.       Cette fonction wrapper combine :     1. Recherche de la structure par SIRET     2. Extraction de l&#39;&#x60;id_structure_cpp&#x60; si une seule structure est trouvée      **Retour** :     - &#x60;id_structure_cpp&#x60; : ID Chorus Pro (0 si non trouvé ou si plusieurs résultats)     - &#x60;designation_structure&#x60; : Nom de la structure (si trouvée)     - &#x60;message&#x60; : Message explicatif      **Cas d&#39;usage** :     - Raccourci pour obtenir directement l&#39;ID Chorus Pro avant de soumettre une facture     - Alternative simplifiée à &#x60;rechercher-structures&#x60; + extraction manuelle de l&#39;ID      **Note** : Si plusieurs structures correspondent au SIRET (rare), retourne 0 et un message d&#39;erreur.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="obtenirIdChorusProRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse"/>&gt;</returns>
        Task<IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse> ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostAsync(ObtenirIdChorusProRequest obtenirIdChorusProRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Utilitaire : Obtenir l&#39;ID Chorus Pro depuis un SIRET
        /// </summary>
        /// <remarks>
        /// **Utilitaire pratique** pour obtenir l&#39;ID Chorus Pro d&#39;une structure à partir de son SIRET.       Cette fonction wrapper combine :     1. Recherche de la structure par SIRET     2. Extraction de l&#39;&#x60;id_structure_cpp&#x60; si une seule structure est trouvée      **Retour** :     - &#x60;id_structure_cpp&#x60; : ID Chorus Pro (0 si non trouvé ou si plusieurs résultats)     - &#x60;designation_structure&#x60; : Nom de la structure (si trouvée)     - &#x60;message&#x60; : Message explicatif      **Cas d&#39;usage** :     - Raccourci pour obtenir directement l&#39;ID Chorus Pro avant de soumettre une facture     - Alternative simplifiée à &#x60;rechercher-structures&#x60; + extraction manuelle de l&#39;ID      **Note** : Si plusieurs structures correspondent au SIRET (rare), retourne 0 et un message d&#39;erreur.
        /// </remarks>
        /// <param name="obtenirIdChorusProRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse"/>?&gt;</returns>
        Task<IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse?> ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostOrDefaultAsync(ObtenirIdChorusProRequest obtenirIdChorusProRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher factures reçues (Destinataire)
        /// </summary>
        /// <remarks>
        /// Recherche les factures reçues par le destinataire connecté.      **Filtres** :     - Téléchargée / non téléchargée     - Dates de réception     - Statut (MISE_A_DISPOSITION, SUSPENDUE, etc.)     - Fournisseur      **Indicateur utile** : &#x60;factureTelechargeeParDestinataire&#x60; permet de savoir si la facture a déjà été téléchargée.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse"/>&gt;</returns>
        Task<IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse> RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostAsync(BodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost bodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher factures reçues (Destinataire)
        /// </summary>
        /// <remarks>
        /// Recherche les factures reçues par le destinataire connecté.      **Filtres** :     - Téléchargée / non téléchargée     - Dates de réception     - Statut (MISE_A_DISPOSITION, SUSPENDUE, etc.)     - Fournisseur      **Indicateur utile** : &#x60;factureTelechargeeParDestinataire&#x60; permet de savoir si la facture a déjà été téléchargée.
        /// </remarks>
        /// <param name="bodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse"/>?&gt;</returns>
        Task<IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse?> RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostOrDefaultAsync(BodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost bodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher factures émises (Fournisseur)
        /// </summary>
        /// <remarks>
        /// Recherche les factures émises par le fournisseur connecté.      **Filtres disponibles** :     - Numéro de facture     - Dates (début/fin)     - Statut     - Structure destinataire     - Montant      **Cas d&#39;usage** :     - Suivi des factures émises     - Vérification des statuts     - Export pour comptabilité
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse"/>&gt;</returns>
        Task<IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse> RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostAsync(BodyRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost bodyRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher factures émises (Fournisseur)
        /// </summary>
        /// <remarks>
        /// Recherche les factures émises par le fournisseur connecté.      **Filtres disponibles** :     - Numéro de facture     - Dates (début/fin)     - Statut     - Structure destinataire     - Montant      **Cas d&#39;usage** :     - Suivi des factures émises     - Vérification des statuts     - Export pour comptabilité
        /// </remarks>
        /// <param name="bodyRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse"/>?&gt;</returns>
        Task<IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse?> RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostOrDefaultAsync(BodyRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost bodyRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des structures Chorus Pro
        /// </summary>
        /// <remarks>
        /// Recherche des structures (entreprises, administrations) enregistrées sur Chorus Pro.      **Cas d&#39;usage** :     - Trouver l&#39;ID Chorus Pro d&#39;une structure à partir de son SIRET     - Vérifier si une structure est enregistrée sur Chorus Pro     - Lister les structures correspondant à des critères      **Filtres disponibles** :     - Identifiant (SIRET, SIREN, etc.)     - Raison sociale     - Type d&#39;identifiant     - Structures privées uniquement      **Étape typique** : Appelée avant &#x60;soumettre-facture&#x60; pour obtenir l&#39;&#x60;id_structure_cpp&#x60; du destinataire.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="rechercherStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse"/>&gt;</returns>
        Task<IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse> RechercherStructuresApiV1ChorusProStructuresRechercherPostAsync(RechercherStructureRequest rechercherStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher des structures Chorus Pro
        /// </summary>
        /// <remarks>
        /// Recherche des structures (entreprises, administrations) enregistrées sur Chorus Pro.      **Cas d&#39;usage** :     - Trouver l&#39;ID Chorus Pro d&#39;une structure à partir de son SIRET     - Vérifier si une structure est enregistrée sur Chorus Pro     - Lister les structures correspondant à des critères      **Filtres disponibles** :     - Identifiant (SIRET, SIREN, etc.)     - Raison sociale     - Type d&#39;identifiant     - Structures privées uniquement      **Étape typique** : Appelée avant &#x60;soumettre-facture&#x60; pour obtenir l&#39;&#x60;id_structure_cpp&#x60; du destinataire.
        /// </remarks>
        /// <param name="rechercherStructureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse"/>?&gt;</returns>
        Task<IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse?> RechercherStructuresApiV1ChorusProStructuresRechercherPostOrDefaultAsync(RechercherStructureRequest rechercherStructureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Recycler une facture (Fournisseur)
        /// </summary>
        /// <remarks>
        /// Recycle une facture au statut A_RECYCLER en modifiant les données d&#39;acheminement.      **Statut requis** : A_RECYCLER      **Champs modifiables** :     - Destinataire (&#x60;idStructureCPP&#x60;)     - Code service     - Numéro d&#39;engagement      **Cas d&#39;usage** :     - Erreur de destinataire     - Changement de service facturation     - Mise à jour du numéro d&#39;engagement      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;idStructureCPP\&quot;: 67890,       \&quot;codeService\&quot;: \&quot;SERVICE_01\&quot;,       \&quot;numeroEngagement\&quot;: \&quot;ENG2024001\&quot;     }     &#x60;&#x60;&#x60;      **Note** : La facture conserve son numéro et ses montants, seuls les champs d&#39;acheminement changent.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyRecyclerFactureApiV1ChorusProFacturesRecyclerPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse"/>&gt;</returns>
        Task<IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse> RecyclerFactureApiV1ChorusProFacturesRecyclerPostAsync(BodyRecyclerFactureApiV1ChorusProFacturesRecyclerPost bodyRecyclerFactureApiV1ChorusProFacturesRecyclerPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Recycler une facture (Fournisseur)
        /// </summary>
        /// <remarks>
        /// Recycle une facture au statut A_RECYCLER en modifiant les données d&#39;acheminement.      **Statut requis** : A_RECYCLER      **Champs modifiables** :     - Destinataire (&#x60;idStructureCPP&#x60;)     - Code service     - Numéro d&#39;engagement      **Cas d&#39;usage** :     - Erreur de destinataire     - Changement de service facturation     - Mise à jour du numéro d&#39;engagement      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;idStructureCPP\&quot;: 67890,       \&quot;codeService\&quot;: \&quot;SERVICE_01\&quot;,       \&quot;numeroEngagement\&quot;: \&quot;ENG2024001\&quot;     }     &#x60;&#x60;&#x60;      **Note** : La facture conserve son numéro et ses montants, seuls les champs d&#39;acheminement changent.
        /// </remarks>
        /// <param name="bodyRecyclerFactureApiV1ChorusProFacturesRecyclerPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse"/>?&gt;</returns>
        Task<IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse?> RecyclerFactureApiV1ChorusProFacturesRecyclerPostOrDefaultAsync(BodyRecyclerFactureApiV1ChorusProFacturesRecyclerPost bodyRecyclerFactureApiV1ChorusProFacturesRecyclerPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Soumettre une facture à Chorus Pro
        /// </summary>
        /// <remarks>
        /// Soumet une facture électronique à une structure publique via Chorus Pro.       **📋 Workflow complet** :     1. **Uploader le PDF Factur-X** via &#x60;/transverses/ajouter-fichier&#x60; → récupérer &#x60;pieceJointeId&#x60;     2. **Obtenir l&#39;ID structure** via &#x60;/structures/rechercher&#x60; ou &#x60;/structures/obtenir-id-depuis-siret&#x60;     3. **Vérifier les paramètres obligatoires** via &#x60;/structures/consulter&#x60;     4. **Soumettre la facture** avec le &#x60;piece_jointe_principale_id&#x60; obtenu à l&#39;étape 1      **Pré-requis** :     1. Avoir l&#39;&#x60;id_structure_cpp&#x60; du destinataire (via &#x60;/structures/rechercher&#x60;)     2. Connaître les paramètres obligatoires (via &#x60;/structures/consulter&#x60;) :        - Code service si &#x60;code_service_doit_etre_renseigne&#x3D;true&#x60;        - Numéro d&#39;engagement si &#x60;numero_ej_doit_etre_renseigne&#x3D;true&#x60;     3. Avoir uploadé le PDF Factur-X (via &#x60;/transverses/ajouter-fichier&#x60;)      **Format attendu** :     - &#x60;piece_jointe_principale_id&#x60; : ID retourné par &#x60;/transverses/ajouter-fichier&#x60;     - Montants : Chaînes de caractères avec 2 décimales (ex: \&quot;1250.50\&quot;)     - Dates : Format ISO 8601 (YYYY-MM-DD)      **Retour** :     - &#x60;identifiant_facture_cpp&#x60; : ID Chorus Pro de la facture créée     - &#x60;numero_flux_depot&#x60; : Numéro de suivi du dépôt      **Statuts possibles après soumission** :     - SOUMISE : En attente de validation     - VALIDEE : Validée par le destinataire     - REJETEE : Rejetée (erreur de données ou refus métier)     - SUSPENDUE : En attente d&#39;informations complémentaires      **Note** : Utilisez &#x60;/factures/consulter&#x60; pour suivre l&#39;évolution du statut.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="soumettreFactureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse"/>&gt;</returns>
        Task<ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse> SoumettreFactureApiV1ChorusProFacturesSoumettrePostAsync(SoumettreFactureRequest soumettreFactureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Soumettre une facture à Chorus Pro
        /// </summary>
        /// <remarks>
        /// Soumet une facture électronique à une structure publique via Chorus Pro.       **📋 Workflow complet** :     1. **Uploader le PDF Factur-X** via &#x60;/transverses/ajouter-fichier&#x60; → récupérer &#x60;pieceJointeId&#x60;     2. **Obtenir l&#39;ID structure** via &#x60;/structures/rechercher&#x60; ou &#x60;/structures/obtenir-id-depuis-siret&#x60;     3. **Vérifier les paramètres obligatoires** via &#x60;/structures/consulter&#x60;     4. **Soumettre la facture** avec le &#x60;piece_jointe_principale_id&#x60; obtenu à l&#39;étape 1      **Pré-requis** :     1. Avoir l&#39;&#x60;id_structure_cpp&#x60; du destinataire (via &#x60;/structures/rechercher&#x60;)     2. Connaître les paramètres obligatoires (via &#x60;/structures/consulter&#x60;) :        - Code service si &#x60;code_service_doit_etre_renseigne&#x3D;true&#x60;        - Numéro d&#39;engagement si &#x60;numero_ej_doit_etre_renseigne&#x3D;true&#x60;     3. Avoir uploadé le PDF Factur-X (via &#x60;/transverses/ajouter-fichier&#x60;)      **Format attendu** :     - &#x60;piece_jointe_principale_id&#x60; : ID retourné par &#x60;/transverses/ajouter-fichier&#x60;     - Montants : Chaînes de caractères avec 2 décimales (ex: \&quot;1250.50\&quot;)     - Dates : Format ISO 8601 (YYYY-MM-DD)      **Retour** :     - &#x60;identifiant_facture_cpp&#x60; : ID Chorus Pro de la facture créée     - &#x60;numero_flux_depot&#x60; : Numéro de suivi du dépôt      **Statuts possibles après soumission** :     - SOUMISE : En attente de validation     - VALIDEE : Validée par le destinataire     - REJETEE : Rejetée (erreur de données ou refus métier)     - SUSPENDUE : En attente d&#39;informations complémentaires      **Note** : Utilisez &#x60;/factures/consulter&#x60; pour suivre l&#39;évolution du statut.
        /// </remarks>
        /// <param name="soumettreFactureRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse"/>?&gt;</returns>
        Task<ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse?> SoumettreFactureApiV1ChorusProFacturesSoumettrePostOrDefaultAsync(SoumettreFactureRequest soumettreFactureRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Télécharger un groupe de factures
        /// </summary>
        /// <remarks>
        /// Télécharge une ou plusieurs factures (max 10 recommandé) avec leurs pièces jointes.      **Formats disponibles** :     - PDF : Fichier PDF uniquement     - XML : Fichier XML uniquement     - ZIP : Archive contenant PDF + XML + pièces jointes      **Taille maximale** : 120 Mo par téléchargement      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;listeIdentifiantsFactureCPP\&quot;: [12345, 12346],       \&quot;inclurePiecesJointes\&quot;: true,       \&quot;formatFichier\&quot;: \&quot;ZIP\&quot;     }     &#x60;&#x60;&#x60;      **Retour** : Le fichier est encodé en base64 dans le champ &#x60;fichierBase64&#x60;.      **Note** : Le flag &#x60;factureTelechargeeParDestinataire&#x60; est mis à jour automatiquement.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse"/>&gt;</returns>
        Task<ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse> TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostAsync(BodyTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost bodyTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Télécharger un groupe de factures
        /// </summary>
        /// <remarks>
        /// Télécharge une ou plusieurs factures (max 10 recommandé) avec leurs pièces jointes.      **Formats disponibles** :     - PDF : Fichier PDF uniquement     - XML : Fichier XML uniquement     - ZIP : Archive contenant PDF + XML + pièces jointes      **Taille maximale** : 120 Mo par téléchargement      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;listeIdentifiantsFactureCPP\&quot;: [12345, 12346],       \&quot;inclurePiecesJointes\&quot;: true,       \&quot;formatFichier\&quot;: \&quot;ZIP\&quot;     }     &#x60;&#x60;&#x60;      **Retour** : Le fichier est encodé en base64 dans le champ &#x60;fichierBase64&#x60;.      **Note** : Le flag &#x60;factureTelechargeeParDestinataire&#x60; est mis à jour automatiquement.
        /// </remarks>
        /// <param name="bodyTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse"/>?&gt;</returns>
        Task<ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse?> TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostOrDefaultAsync(BodyTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost bodyTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Traiter une facture reçue (Destinataire)
        /// </summary>
        /// <remarks>
        /// Change le statut d&#39;une facture reçue.      **Statuts possibles** :     - MISE_A_DISPOSITION : Facture acceptée     - SUSPENDUE : En attente d&#39;informations complémentaires (motif obligatoire)     - REJETEE : Facture refusée (motif obligatoire)     - MANDATEE : Facture mandatée     - MISE_EN_PAIEMENT : Facture en cours de paiement     - COMPTABILISEE : Facture comptabilisée     - MISE_A_DISPOSITION_COMPTABLE : Mise à disposition comptable     - A_RECYCLER : À recycler     - COMPLETEE : Complétée     - SERVICE-FAIT : Service fait     - PRISE_EN_COMPTE_DESTINATAIRE : Prise en compte     - TRANSMISE_MOA : Transmise à la MOA      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;nouveauStatut\&quot;: \&quot;REJETEE\&quot;,       \&quot;motifRejet\&quot;: \&quot;Facture en double\&quot;,       \&quot;commentaire\&quot;: \&quot;Facture déjà reçue sous la référence ABC123\&quot;     }     &#x60;&#x60;&#x60;      **Règles** :     - Un motif est **obligatoire** pour SUSPENDUE et REJETEE     - Seuls certains statuts sont autorisés selon le statut actuel de la facture
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse"/>&gt;</returns>
        Task<ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse> TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostAsync(BodyTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost bodyTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Traiter une facture reçue (Destinataire)
        /// </summary>
        /// <remarks>
        /// Change le statut d&#39;une facture reçue.      **Statuts possibles** :     - MISE_A_DISPOSITION : Facture acceptée     - SUSPENDUE : En attente d&#39;informations complémentaires (motif obligatoire)     - REJETEE : Facture refusée (motif obligatoire)     - MANDATEE : Facture mandatée     - MISE_EN_PAIEMENT : Facture en cours de paiement     - COMPTABILISEE : Facture comptabilisée     - MISE_A_DISPOSITION_COMPTABLE : Mise à disposition comptable     - A_RECYCLER : À recycler     - COMPLETEE : Complétée     - SERVICE-FAIT : Service fait     - PRISE_EN_COMPTE_DESTINATAIRE : Prise en compte     - TRANSMISE_MOA : Transmise à la MOA      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;identifiantFactureCPP\&quot;: 12345,       \&quot;nouveauStatut\&quot;: \&quot;REJETEE\&quot;,       \&quot;motifRejet\&quot;: \&quot;Facture en double\&quot;,       \&quot;commentaire\&quot;: \&quot;Facture déjà reçue sous la référence ABC123\&quot;     }     &#x60;&#x60;&#x60;      **Règles** :     - Un motif est **obligatoire** pour SUSPENDUE et REJETEE     - Seuls certains statuts sont autorisés selon le statut actuel de la facture
        /// </remarks>
        /// <param name="bodyTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse"/>?&gt;</returns>
        Task<ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse?> TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostOrDefaultAsync(BodyTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost bodyTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consulter une facture (Valideur)
        /// </summary>
        /// <remarks>
        /// Consulte facture (valideur).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse"/>&gt;</returns>
        Task<IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse> ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostAsync(BodyValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost bodyValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Consulter une facture (Valideur)
        /// </summary>
        /// <remarks>
        /// Consulte facture (valideur).
        /// </remarks>
        /// <param name="bodyValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse"/>?&gt;</returns>
        Task<IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse?> ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostOrDefaultAsync(BodyValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost bodyValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher factures à valider (Valideur)
        /// </summary>
        /// <remarks>
        /// Recherche les factures en attente de validation par le valideur connecté.      **Rôle** : Valideur dans le circuit de validation interne.      **Filtres** : Dates, structure, service, etc.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse"/>&gt;</returns>
        Task<IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse> ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostAsync(BodyValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost bodyValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Rechercher factures à valider (Valideur)
        /// </summary>
        /// <remarks>
        /// Recherche les factures en attente de validation par le valideur connecté.      **Rôle** : Valideur dans le circuit de validation interne.      **Filtres** : Dates, structure, service, etc.
        /// </remarks>
        /// <param name="bodyValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse"/>?&gt;</returns>
        Task<IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse?> ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostOrDefaultAsync(BodyValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost bodyValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Valider ou refuser une facture (Valideur)
        /// </summary>
        /// <remarks>
        /// Valide ou refuse une facture en attente de validation.      **Actions** :     - Valider : La facture passe au statut suivant du circuit     - Refuser : La facture est rejetée (motif obligatoire)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse"/>&gt;</returns>
        Task<IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse> ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostAsync(BodyValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost bodyValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Valider ou refuser une facture (Valideur)
        /// </summary>
        /// <remarks>
        /// Valide ou refuse une facture en attente de validation.      **Actions** :     - Valider : La facture passe au statut suivant du circuit     - Refuser : La facture est rejetée (motif obligatoire)
        /// </remarks>
        /// <param name="bodyValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse"/>?&gt;</returns>
        Task<IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse?> ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostOrDefaultAsync(BodyValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost bodyValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
    /// </summary>
    public interface IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse"/>
    /// </summary>
    public interface ICompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse"/>
    /// </summary>
    public interface IConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ConsulterFactureResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse"/>
    /// </summary>
    public interface IConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ConsulterStructureResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse"/>
    /// </summary>
    public interface IListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.RechercherServicesResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse"/>
    /// </summary>
    public interface IObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ObtenirIdChorusProResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse"/>
    /// </summary>
    public interface IRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse"/>
    /// </summary>
    public interface IRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse"/>
    /// </summary>
    public interface IRechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.RechercherStructureResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse"/>
    /// </summary>
    public interface IRecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse"/>
    /// </summary>
    public interface ISoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SoumettreFactureResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse"/>
    /// </summary>
    public interface ITelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse"/>
    /// </summary>
    public interface ITraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse"/>
    /// </summary>
    public interface IValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse"/>
    /// </summary>
    public interface IValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse"/>
    /// </summary>
    public interface IValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class ChorusProApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost;

        internal void ExecuteOnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ChorusProApi.AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponse)
        {
            OnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(Exception exception)
        {
            OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnCompleterFactureApiV1ChorusProFacturesCompleterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorCompleterFactureApiV1ChorusProFacturesCompleterPost;

        internal void ExecuteOnCompleterFactureApiV1ChorusProFacturesCompleterPost(ChorusProApi.CompleterFactureApiV1ChorusProFacturesCompleterPostApiResponse apiResponse)
        {
            OnCompleterFactureApiV1ChorusProFacturesCompleterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCompleterFactureApiV1ChorusProFacturesCompleterPost(Exception exception)
        {
            OnErrorCompleterFactureApiV1ChorusProFacturesCompleterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnConsulterFactureApiV1ChorusProFacturesConsulterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorConsulterFactureApiV1ChorusProFacturesConsulterPost;

        internal void ExecuteOnConsulterFactureApiV1ChorusProFacturesConsulterPost(ChorusProApi.ConsulterFactureApiV1ChorusProFacturesConsulterPostApiResponse apiResponse)
        {
            OnConsulterFactureApiV1ChorusProFacturesConsulterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorConsulterFactureApiV1ChorusProFacturesConsulterPost(Exception exception)
        {
            OnErrorConsulterFactureApiV1ChorusProFacturesConsulterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnConsulterStructureApiV1ChorusProStructuresConsulterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorConsulterStructureApiV1ChorusProStructuresConsulterPost;

        internal void ExecuteOnConsulterStructureApiV1ChorusProStructuresConsulterPost(ChorusProApi.ConsulterStructureApiV1ChorusProStructuresConsulterPostApiResponse apiResponse)
        {
            OnConsulterStructureApiV1ChorusProStructuresConsulterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorConsulterStructureApiV1ChorusProStructuresConsulterPost(Exception exception)
        {
            OnErrorConsulterStructureApiV1ChorusProStructuresConsulterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet;

        internal void ExecuteOnListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet(ChorusProApi.ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetApiResponse apiResponse)
        {
            OnListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet(Exception exception)
        {
            OnErrorListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost;

        internal void ExecuteOnObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost(ChorusProApi.ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostApiResponse apiResponse)
        {
            OnObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost(Exception exception)
        {
            OnErrorObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost;

        internal void ExecuteOnRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost(ChorusProApi.RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostApiResponse apiResponse)
        {
            OnRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost(Exception exception)
        {
            OnErrorRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost;

        internal void ExecuteOnRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost(ChorusProApi.RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostApiResponse apiResponse)
        {
            OnRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost(Exception exception)
        {
            OnErrorRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRechercherStructuresApiV1ChorusProStructuresRechercherPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRechercherStructuresApiV1ChorusProStructuresRechercherPost;

        internal void ExecuteOnRechercherStructuresApiV1ChorusProStructuresRechercherPost(ChorusProApi.RechercherStructuresApiV1ChorusProStructuresRechercherPostApiResponse apiResponse)
        {
            OnRechercherStructuresApiV1ChorusProStructuresRechercherPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRechercherStructuresApiV1ChorusProStructuresRechercherPost(Exception exception)
        {
            OnErrorRechercherStructuresApiV1ChorusProStructuresRechercherPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRecyclerFactureApiV1ChorusProFacturesRecyclerPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRecyclerFactureApiV1ChorusProFacturesRecyclerPost;

        internal void ExecuteOnRecyclerFactureApiV1ChorusProFacturesRecyclerPost(ChorusProApi.RecyclerFactureApiV1ChorusProFacturesRecyclerPostApiResponse apiResponse)
        {
            OnRecyclerFactureApiV1ChorusProFacturesRecyclerPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRecyclerFactureApiV1ChorusProFacturesRecyclerPost(Exception exception)
        {
            OnErrorRecyclerFactureApiV1ChorusProFacturesRecyclerPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSoumettreFactureApiV1ChorusProFacturesSoumettrePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSoumettreFactureApiV1ChorusProFacturesSoumettrePost;

        internal void ExecuteOnSoumettreFactureApiV1ChorusProFacturesSoumettrePost(ChorusProApi.SoumettreFactureApiV1ChorusProFacturesSoumettrePostApiResponse apiResponse)
        {
            OnSoumettreFactureApiV1ChorusProFacturesSoumettrePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSoumettreFactureApiV1ChorusProFacturesSoumettrePost(Exception exception)
        {
            OnErrorSoumettreFactureApiV1ChorusProFacturesSoumettrePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost;

        internal void ExecuteOnTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost(ChorusProApi.TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostApiResponse apiResponse)
        {
            OnTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost(Exception exception)
        {
            OnErrorTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost;

        internal void ExecuteOnTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost(ChorusProApi.TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostApiResponse apiResponse)
        {
            OnTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost(Exception exception)
        {
            OnErrorTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost;

        internal void ExecuteOnValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost(ChorusProApi.ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostApiResponse apiResponse)
        {
            OnValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost(Exception exception)
        {
            OnErrorValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost;

        internal void ExecuteOnValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost(ChorusProApi.ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostApiResponse apiResponse)
        {
            OnValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost(Exception exception)
        {
            OnErrorValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost;

        internal void ExecuteOnValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost(ChorusProApi.ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostApiResponse apiResponse)
        {
            OnValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost(Exception exception)
        {
            OnErrorValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class ChorusProApi : IChorusProApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<ChorusProApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public ChorusProApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ChorusProApi"/> class.
        /// </summary>
        /// <returns></returns>
        public ChorusProApi(ILogger<ChorusProApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ChorusProApiEvents chorusProApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<ChorusProApi>();
            HttpClient = httpClient;
            Events = chorusProApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        /// <returns></returns>
        private void ValidateAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost)
        {
            if (bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost == null)
                throw new ArgumentNullException(nameof(bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        private void AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponseLocalVar, BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost)
        {
            bool suppressDefaultLog = false;
            AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref suppressDefaultLog, apiResponseLocalVar, bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        partial void AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref bool suppressDefaultLog, IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponseLocalVar, BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        private void OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        partial void OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);

        /// <summary>
        /// Ajouter une pièce jointe Ajoute une pièce jointe au compte utilisateur courant.      **Taille max** : 10 Mo par fichier      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;bon_commande.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Retour** : L&#39;ID de la pièce jointe (&#x60;pieceJointeIdFichier&#x60;) à utiliser ensuite dans &#x60;/factures/completer&#x60;.      **Extensions acceptées** : PDF, JPG, PNG, ZIP, XML, etc.
        /// </summary>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>&gt;</returns>
        public async Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse?> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostOrDefaultAsync(BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await AjouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync(bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Ajouter une pièce jointe Ajoute une pièce jointe au compte utilisateur courant.      **Taille max** : 10 Mo par fichier      **Payload exemple** :     &#x60;&#x60;&#x60;json     {       \&quot;pieceJointeFichier\&quot;: \&quot;JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...\&quot;,       \&quot;pieceJointeNom\&quot;: \&quot;bon_commande.pdf\&quot;,       \&quot;pieceJointeTypeMime\&quot;: \&quot;application/pdf\&quot;,       \&quot;pieceJointeExtension\&quot;: \&quot;PDF\&quot;     }     &#x60;&#x60;&#x60;      **Retour** : L&#39;ID de la pièce jointe (&#x60;pieceJointeIdFichier&#x60;) à utiliser ensuite dans &#x60;/factures/completer&#x60;.      **Extensions acceptées** : PDF, JPG, PNG, ZIP, XML, etc.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>&gt;</returns>
        public async Task<IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> AjouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync(BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);

                FormatAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/chorus-pro/transverses/ajouter-fichier"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/chorus-pro/transverses/ajouter-fichier");

                    httpRequestMessageLocalVar.Content = (bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse>();
                        AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/chorus-pro/transverses/ajouter-fichier", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(apiResponseLocalVar, bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);

                        Events.ExecuteOnAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPostDefaultImplementation(e, "/api/v1/chorus-pro/transverses/ajouter-fichier", uriBuilderLocalVar.Path, bodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost);
                Events.ExecuteOnErrorAjouterFichierApiV1ChorusProTransversesAjouterFichierPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
        /// </summary>
        public partial class AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse : FactPulse.SDK.Client.ApiResponse, IAjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse(ILogger<AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="AjouterFichierApiV1ChorusProTransversesAjouterFichierPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
[...]
