// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Net;
using System.IO;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IElectronicSignatureApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        ElectronicSignatureApiEvents Events { get; }

        /// <summary>
        /// Generate a self-signed X.509 test certificate
        /// </summary>
        /// <remarks>
        /// Generates a self-signed X.509 certificate for PDF electronic signature testing.      **⚠️ WARNING: TEST certificate only!**      This certificate is:     - ✅ Suitable for testing and development     - ✅ Compatible with PDF signing (PAdES)     - ✅ Compliant with eIDAS **SES** level (Simple Electronic Signature)     - ❌ **NEVER usable in production**     - ❌ **Not recognized** by browsers and PDF readers     - ❌ **No legal value**      ## eIDAS levels      - **SES** (Simple): Self-signed certificate ← Generated by this endpoint     - **AdES** (Advanced): Commercial CA certificate (Let&#39;s Encrypt, etc.)     - **QES** (Qualified): Qualified certificate from QTSP (CertEurope, Universign, etc.)      ## Usage      Once generated, the certificate can be:      1. **Saved in Django** (recommended):        - Django Admin &gt; Signing Certificates        - Upload &#x60;certificate_pem&#x60; and &#x60;private_key_pem&#x60;      2. **Used directly**:        - Sign a PDF with &#x60;/sign-pdf&#x60;        - The certificate will be automatically used      ## Example call      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://factpulse.fr/api/v1/processing/generate-test-certificate\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organization\&quot;: \&quot;Client XYZ Ltd\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.com\&quot;,         \&quot;validity_days\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Use cases      - PDF signature testing in development     - Electronic signature POC     - Training and demos     - Automated integration tests      ## Technical compliance      Certificate generated with:     - RSA key 2048 or 4096 bits     - SHA-256 algorithm     - Key Usage extensions: &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extended Key Usage extensions: &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validity: 1 day to 10 years (configurable)     - Format: PEM (certificate and key)     - Optional: PKCS#12 (.p12)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>&gt;</returns>
        Task<IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse> GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate a self-signed X.509 test certificate
        /// </summary>
        /// <remarks>
        /// Generates a self-signed X.509 certificate for PDF electronic signature testing.      **⚠️ WARNING: TEST certificate only!**      This certificate is:     - ✅ Suitable for testing and development     - ✅ Compatible with PDF signing (PAdES)     - ✅ Compliant with eIDAS **SES** level (Simple Electronic Signature)     - ❌ **NEVER usable in production**     - ❌ **Not recognized** by browsers and PDF readers     - ❌ **No legal value**      ## eIDAS levels      - **SES** (Simple): Self-signed certificate ← Generated by this endpoint     - **AdES** (Advanced): Commercial CA certificate (Let&#39;s Encrypt, etc.)     - **QES** (Qualified): Qualified certificate from QTSP (CertEurope, Universign, etc.)      ## Usage      Once generated, the certificate can be:      1. **Saved in Django** (recommended):        - Django Admin &gt; Signing Certificates        - Upload &#x60;certificate_pem&#x60; and &#x60;private_key_pem&#x60;      2. **Used directly**:        - Sign a PDF with &#x60;/sign-pdf&#x60;        - The certificate will be automatically used      ## Example call      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://factpulse.fr/api/v1/processing/generate-test-certificate\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organization\&quot;: \&quot;Client XYZ Ltd\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.com\&quot;,         \&quot;validity_days\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Use cases      - PDF signature testing in development     - Electronic signature POC     - Training and demos     - Automated integration tests      ## Technical compliance      Certificate generated with:     - RSA key 2048 or 4096 bits     - SHA-256 algorithm     - Key Usage extensions: &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extended Key Usage extensions: &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validity: 1 day to 10 years (configurable)     - Format: PEM (certificate and key)     - Optional: PKCS#12 (.p12)
        /// </remarks>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>?&gt;</returns>
        Task<IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse?> GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostOrDefaultAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Sign a PDF with client&#39;s certificate (PAdES-B-LT)
        /// </summary>
        /// <remarks>
        /// Signs an uploaded PDF with the electronic certificate configured for the client (via client_uid from JWT).      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **eIDAS levels**: SES (self-signed), AdES (commercial CA), QES (PSCO - out of scope).      **Security**: Double authentication X-Internal-Secret + JWT Bearer to retrieve the certificate.      **⚠️ Legal disclaimer**: Generated signatures are electronic seals as defined by     the eIDAS regulation. The level of legal validity depends on the certificate used (SES/AdES/QES).     FactPulse does not provide QES qualified certificates - you must obtain a certificate from     a PSCO (qualified Trust Service Provider) for maximum legal validity.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">PDF file to sign (will be processed and returned signed in base64)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfApiV1ProcessingSignPdfPostApiResponse"/>&gt;</returns>
        Task<ISignPdfApiV1ProcessingSignPdfPostApiResponse> SignPdfApiV1ProcessingSignPdfPostAsync(System.IO.Stream pdfFile, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Sign a PDF with client&#39;s certificate (PAdES-B-LT)
        /// </summary>
        /// <remarks>
        /// Signs an uploaded PDF with the electronic certificate configured for the client (via client_uid from JWT).      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **eIDAS levels**: SES (self-signed), AdES (commercial CA), QES (PSCO - out of scope).      **Security**: Double authentication X-Internal-Secret + JWT Bearer to retrieve the certificate.      **⚠️ Legal disclaimer**: Generated signatures are electronic seals as defined by     the eIDAS regulation. The level of legal validity depends on the certificate used (SES/AdES/QES).     FactPulse does not provide QES qualified certificates - you must obtain a certificate from     a PSCO (qualified Trust Service Provider) for maximum legal validity.
        /// </remarks>
        /// <param name="pdfFile">PDF file to sign (will be processed and returned signed in base64)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfApiV1ProcessingSignPdfPostApiResponse"/>?&gt;</returns>
        Task<ISignPdfApiV1ProcessingSignPdfPostApiResponse?> SignPdfApiV1ProcessingSignPdfPostOrDefaultAsync(System.IO.Stream pdfFile, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Sign a PDF asynchronously (Celery)
        /// </summary>
        /// <remarks>
        /// Signs an uploaded PDF asynchronously via a Celery task.      **Difference with /sign-pdf**:     - &#x60;/sign-pdf&#x60;: Synchronous signature (blocking until completion)     - &#x60;/sign-pdf-async&#x60;: Asynchronous signature (returns immediately with task_id)      **Async advantages**:     - No timeout for large files     - No blocking of FastAPI worker     - Progress tracking via task_id     - Ideal for batch processing      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **⚠️ Legal disclaimer**: Same as /sign-pdf (see that endpoint&#39;s documentation).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">PDF file to sign (processed asynchronously)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse"/>&gt;</returns>
        Task<ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse> SignPdfAsyncApiV1ProcessingSignPdfAsyncPostAsync(System.IO.Stream pdfFile, Option<string?> callbackUrl = default, Option<string> webhookMode = default, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Sign a PDF asynchronously (Celery)
        /// </summary>
        /// <remarks>
        /// Signs an uploaded PDF asynchronously via a Celery task.      **Difference with /sign-pdf**:     - &#x60;/sign-pdf&#x60;: Synchronous signature (blocking until completion)     - &#x60;/sign-pdf-async&#x60;: Asynchronous signature (returns immediately with task_id)      **Async advantages**:     - No timeout for large files     - No blocking of FastAPI worker     - Progress tracking via task_id     - Ideal for batch processing      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **⚠️ Legal disclaimer**: Same as /sign-pdf (see that endpoint&#39;s documentation).
        /// </remarks>
        /// <param name="pdfFile">PDF file to sign (processed asynchronously)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse"/>?&gt;</returns>
        Task<ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse?> SignPdfAsyncApiV1ProcessingSignPdfAsyncPostOrDefaultAsync(System.IO.Stream pdfFile, Option<string?> callbackUrl = default, Option<string> webhookMode = default, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate electronic signatures of a PDF
        /// </summary>
        /// <remarks>
        /// Validates electronic signatures present in an uploaded PDF.      **Verifications performed**:     - Presence of signatures     - Document integrity (not modified since signing)     - Certificate validity     - Chain of trust (if available)     - Presence of timestamp (PAdES-B-T)     - Validation data (PAdES-B-LT)      **Supported standards**: PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.      **⚠️ Note**: This validation is technical (cryptographic integrity). Legal validity     depends on the eIDAS level of the certificate (SES/AdES/QES) and the context of use.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">PDF file to validate (will be analyzed to detect and validate signatures)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostApiResponse"/>&gt;</returns>
        Task<IValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostApiResponse> ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostAsync(System.IO.Stream pdfFile, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate electronic signatures of a PDF
        /// </summary>
        /// <remarks>
        /// Validates electronic signatures present in an uploaded PDF.      **Verifications performed**:     - Presence of signatures     - Document integrity (not modified since signing)     - Certificate validity     - Chain of trust (if available)     - Presence of timestamp (PAdES-B-T)     - Validation data (PAdES-B-LT)      **Supported standards**: PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.      **⚠️ Note**: This validation is technical (cryptographic integrity). Legal validity     depends on the eIDAS level of the certificate (SES/AdES/QES) and the context of use.
        /// </remarks>
        /// <param name="pdfFile">PDF file to validate (will be analyzed to detect and validate signatures)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostApiResponse"/>?&gt;</returns>
        Task<IValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostApiResponse?> ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostOrDefaultAsync(System.IO.Stream pdfFile, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>
    /// </summary>
    public interface IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GenerateCertificateResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ISignPdfApiV1ProcessingSignPdfPostApiResponse"/>
    /// </summary>
    public interface ISignPdfApiV1ProcessingSignPdfPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse"/>
    /// </summary>
    public interface ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostApiResponse"/>
    /// </summary>
    public interface IValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class ElectronicSignatureApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost;

        internal void ExecuteOnGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(ElectronicSignatureApi.GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse apiResponse)
        {
            OnGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(Exception exception)
        {
            OnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSignPdfApiV1ProcessingSignPdfPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSignPdfApiV1ProcessingSignPdfPost;

        internal void ExecuteOnSignPdfApiV1ProcessingSignPdfPost(ElectronicSignatureApi.SignPdfApiV1ProcessingSignPdfPostApiResponse apiResponse)
        {
            OnSignPdfApiV1ProcessingSignPdfPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSignPdfApiV1ProcessingSignPdfPost(Exception exception)
        {
            OnErrorSignPdfApiV1ProcessingSignPdfPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSignPdfAsyncApiV1ProcessingSignPdfAsyncPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSignPdfAsyncApiV1ProcessingSignPdfAsyncPost;

        internal void ExecuteOnSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ElectronicSignatureApi.SignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse apiResponse)
        {
            OnSignPdfAsyncApiV1ProcessingSignPdfAsyncPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(Exception exception)
        {
            OnErrorSignPdfAsyncApiV1ProcessingSignPdfAsyncPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost;

        internal void ExecuteOnValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost(ElectronicSignatureApi.ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostApiResponse apiResponse)
        {
            OnValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost(Exception exception)
        {
            OnErrorValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class ElectronicSignatureApi : IElectronicSignatureApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<ElectronicSignatureApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public ElectronicSignatureApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ElectronicSignatureApi"/> class.
        /// </summary>
        /// <returns></returns>
        public ElectronicSignatureApi(ILogger<ElectronicSignatureApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ElectronicSignatureApiEvents electronicSignatureApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<ElectronicSignatureApi>();
            HttpClient = httpClient;
            Events = electronicSignatureApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(GenerateCertificateRequest generateCertificateRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="generateCertificateRequest"></param>
        /// <returns></returns>
        private void ValidateGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(GenerateCertificateRequest generateCertificateRequest)
        {
            if (generateCertificateRequest == null)
                throw new ArgumentNullException(nameof(generateCertificateRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        private void AfterGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostDefaultImplementation(IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse apiResponseLocalVar, GenerateCertificateRequest generateCertificateRequest)
        {
            bool suppressDefaultLog = false;
            AfterGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(ref suppressDefaultLog, apiResponseLocalVar, generateCertificateRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        partial void AfterGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(ref bool suppressDefaultLog, IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse apiResponseLocalVar, GenerateCertificateRequest generateCertificateRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        private void OnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, GenerateCertificateRequest generateCertificateRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, generateCertificateRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        partial void OnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, GenerateCertificateRequest generateCertificateRequest);

        /// <summary>
        /// Generate a self-signed X.509 test certificate Generates a self-signed X.509 certificate for PDF electronic signature testing.      **⚠️ WARNING: TEST certificate only!**      This certificate is:     - ✅ Suitable for testing and development     - ✅ Compatible with PDF signing (PAdES)     - ✅ Compliant with eIDAS **SES** level (Simple Electronic Signature)     - ❌ **NEVER usable in production**     - ❌ **Not recognized** by browsers and PDF readers     - ❌ **No legal value**      ## eIDAS levels      - **SES** (Simple): Self-signed certificate ← Generated by this endpoint     - **AdES** (Advanced): Commercial CA certificate (Let&#39;s Encrypt, etc.)     - **QES** (Qualified): Qualified certificate from QTSP (CertEurope, Universign, etc.)      ## Usage      Once generated, the certificate can be:      1. **Saved in Django** (recommended):        - Django Admin &gt; Signing Certificates        - Upload &#x60;certificate_pem&#x60; and &#x60;private_key_pem&#x60;      2. **Used directly**:        - Sign a PDF with &#x60;/sign-pdf&#x60;        - The certificate will be automatically used      ## Example call      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://factpulse.fr/api/v1/processing/generate-test-certificate\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organization\&quot;: \&quot;Client XYZ Ltd\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.com\&quot;,         \&quot;validity_days\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Use cases      - PDF signature testing in development     - Electronic signature POC     - Training and demos     - Automated integration tests      ## Technical compliance      Certificate generated with:     - RSA key 2048 or 4096 bits     - SHA-256 algorithm     - Key Usage extensions: &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extended Key Usage extensions: &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validity: 1 day to 10 years (configurable)     - Format: PEM (certificate and key)     - Optional: PKCS#12 (.p12)
        /// </summary>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>&gt;</returns>
        public async Task<IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse?> GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostOrDefaultAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsync(generateCertificateRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Generate a self-signed X.509 test certificate Generates a self-signed X.509 certificate for PDF electronic signature testing.      **⚠️ WARNING: TEST certificate only!**      This certificate is:     - ✅ Suitable for testing and development     - ✅ Compatible with PDF signing (PAdES)     - ✅ Compliant with eIDAS **SES** level (Simple Electronic Signature)     - ❌ **NEVER usable in production**     - ❌ **Not recognized** by browsers and PDF readers     - ❌ **No legal value**      ## eIDAS levels      - **SES** (Simple): Self-signed certificate ← Generated by this endpoint     - **AdES** (Advanced): Commercial CA certificate (Let&#39;s Encrypt, etc.)     - **QES** (Qualified): Qualified certificate from QTSP (CertEurope, Universign, etc.)      ## Usage      Once generated, the certificate can be:      1. **Saved in Django** (recommended):        - Django Admin &gt; Signing Certificates        - Upload &#x60;certificate_pem&#x60; and &#x60;private_key_pem&#x60;      2. **Used directly**:        - Sign a PDF with &#x60;/sign-pdf&#x60;        - The certificate will be automatically used      ## Example call      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://factpulse.fr/api/v1/processing/generate-test-certificate\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organization\&quot;: \&quot;Client XYZ Ltd\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.com\&quot;,         \&quot;validity_days\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Use cases      - PDF signature testing in development     - Electronic signature POC     - Training and demos     - Automated integration tests      ## Technical compliance      Certificate generated with:     - RSA key 2048 or 4096 bits     - SHA-256 algorithm     - Key Usage extensions: &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extended Key Usage extensions: &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validity: 1 day to 10 years (configurable)     - Format: PEM (certificate and key)     - Optional: PKCS#12 (.p12)
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>&gt;</returns>
        public async Task<IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse> GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(generateCertificateRequest);

                FormatGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(generateCertificateRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/processing/generate-test-certificate"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/processing/generate-test-certificate");

                    httpRequestMessageLocalVar.Content = (generateCertificateRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(generateCertificateRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse>();
                        GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/processing/generate-test-certificate", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostDefaultImplementation(apiResponseLocalVar, generateCertificateRequest);

                        Events.ExecuteOnGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostDefaultImplementation(e, "/api/v1/processing/generate-test-certificate", uriBuilderLocalVar.Path, generateCertificateRequest);
                Events.ExecuteOnErrorGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>
        /// </summary>
        public partial class GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse : FactPulse.SDK.Client.ApiResponse, IGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse(ILogger<GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse(ILogger<GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.GenerateCertificateResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.GenerateCertificateResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.GenerateCertificateResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.APIError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.APIError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.APIError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSignPdfApiV1ProcessingSignPdfPost(ref System.IO.Stream pdfFile, ref Option<string?> reason, ref Option<string?> location, ref Option<string?> contact, ref Option<string> fieldName, ref Option<bool> usePadesLt, ref Option<bool> useTimestamp);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="pdfFile"></param>
        /// <param name="fieldName"></param>
        /// <returns></returns>
        private void ValidateSignPdfApiV1ProcessingSignPdfPost(System.IO.Stream pdfFile, Option<string> fieldName)
        {
            if (pdfFile == null)
                throw new ArgumentNullException(nameof(pdfFile));

            if (fieldName.IsSet && fieldName.Value == null)
                throw new ArgumentNullException(nameof(fieldName));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void AfterSignPdfApiV1ProcessingSignPdfPostDefaultImplementation(ISignPdfApiV1ProcessingSignPdfPostApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLog = false;
            AfterSignPdfApiV1ProcessingSignPdfPost(ref suppressDefaultLog, apiResponseLocalVar, pdfFile, reason, location, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void AfterSignPdfApiV1ProcessingSignPdfPost(ref bool suppressDefaultLog, ISignPdfApiV1ProcessingSignPdfPostApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void OnErrorSignPdfApiV1ProcessingSignPdfPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSignPdfApiV1ProcessingSignPdfPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, pdfFile, reason, location, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void OnErrorSignPdfApiV1ProcessingSignPdfPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Sign a PDF with client&#39;s certificate (PAdES-B-LT) Signs an uploaded PDF with the electronic certificate configured for the client (via client_uid from JWT).      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **eIDAS levels**: SES (self-signed), AdES (commercial CA), QES (PSCO - out of scope).      **Security**: Double authentication X-Internal-Secret + JWT Bearer to retrieve the certificate.      **⚠️ Legal disclaimer**: Generated signatures are electronic seals as defined by     the eIDAS regulation. The level of legal validity depends on the certificate used (SES/AdES/QES).     FactPulse does not provide QES qualified certificates - you must obtain a certificate from     a PSCO (qualified Trust Service Provider) for maximum legal validity.
        /// </summary>
        /// <param name="pdfFile">PDF file to sign (will be processed and returned signed in base64)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfApiV1ProcessingSignPdfPostApiResponse"/>&gt;</returns>
        public async Task<ISignPdfApiV1ProcessingSignPdfPostApiResponse?> SignPdfApiV1ProcessingSignPdfPostOrDefaultAsync(System.IO.Stream pdfFile, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SignPdfApiV1ProcessingSignPdfPostAsync(pdfFile, reason, location, contact, fieldName, usePadesLt, useTimestamp, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Sign a PDF with client&#39;s certificate (PAdES-B-LT) Signs an uploaded PDF with the electronic certificate configured for the client (via client_uid from JWT).      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **eIDAS levels**: SES (self-signed), AdES (commercial CA), QES (PSCO - out of scope).      **Security**: Double authentication X-Internal-Secret + JWT Bearer to retrieve the certificate.      **⚠️ Legal disclaimer**: Generated signatures are electronic seals as defined by     the eIDAS regulation. The level of legal validity depends on the certificate used (SES/AdES/QES).     FactPulse does not provide QES qualified certificates - you must obtain a certificate from     a PSCO (qualified Trust Service Provider) for maximum legal validity.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">PDF file to sign (will be processed and returned signed in base64)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfApiV1ProcessingSignPdfPostApiResponse"/>&gt;</returns>
        public async Task<ISignPdfApiV1ProcessingSignPdfPostApiResponse> SignPdfApiV1ProcessingSignPdfPostAsync(System.IO.Stream pdfFile, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSignPdfApiV1ProcessingSignPdfPost(pdfFile, fieldName);

                FormatSignPdfApiV1ProcessingSignPdfPost(ref pdfFile, ref reason, ref location, ref contact, ref fieldName, ref usePadesLt, ref useTimestamp);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/processing/sign-pdf"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/processing/sign-pdf");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));                    multipartContentLocalVar.Add(new StreamContent(pdfFile));

                    if (reason.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("reason", ClientUtils.ParameterToString(reason.Value)));

                    if (location.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("location", ClientUtils.ParameterToString(location.Value)));

                    if (contact.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("contact", ClientUtils.ParameterToString(contact.Value)));

                    if (fieldName.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("field_name", ClientUtils.ParameterToString(fieldName.Value)));

                    if (usePadesLt.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_pades_lt", ClientUtils.ParameterToString(usePadesLt.Value)));

                    if (useTimestamp.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_timestamp", ClientUtils.ParameterToString(useTimestamp.Value)));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SignPdfApiV1ProcessingSignPdfPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SignPdfApiV1ProcessingSignPdfPostApiResponse>();
                        SignPdfApiV1ProcessingSignPdfPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/processing/sign-pdf", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSignPdfApiV1ProcessingSignPdfPostDefaultImplementation(apiResponseLocalVar, pdfFile, reason, location, contact, fieldName, usePadesLt, useTimestamp);

                        Events.ExecuteOnSignPdfApiV1ProcessingSignPdfPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSignPdfApiV1ProcessingSignPdfPostDefaultImplementation(e, "/api/v1/processing/sign-pdf", uriBuilderLocalVar.Path, pdfFile, reason, location, contact, fieldName, usePadesLt, useTimestamp);
                Events.ExecuteOnErrorSignPdfApiV1ProcessingSignPdfPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SignPdfApiV1ProcessingSignPdfPostApiResponse"/>
        /// </summary>
        public partial class SignPdfApiV1ProcessingSignPdfPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISignPdfApiV1ProcessingSignPdfPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SignPdfApiV1ProcessingSignPdfPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SignPdfApiV1ProcessingSignPdfPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SignPdfApiV1ProcessingSignPdfPostApiResponse(ILogger<SignPdfApiV1ProcessingSignPdfPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SignPdfApiV1ProcessingSignPdfPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SignPdfApiV1ProcessingSignPdfPostApiResponse(ILogger<SignPdfApiV1ProcessingSignPdfPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ref System.IO.Stream pdfFile, ref Option<string?> callbackUrl, ref Option<string> webhookMode, ref Option<string?> reason, ref Option<string?> location, ref Option<string?> contact, ref Option<string> fieldName, ref Option<bool> usePadesLt, ref Option<bool> useTimestamp);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="pdfFile"></param>
        /// <param name="webhookMode"></param>
        /// <param name="fieldName"></param>
        /// <returns></returns>
        private void ValidateSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(System.IO.Stream pdfFile, Option<string> webhookMode, Option<string> fieldName)
        {
            if (pdfFile == null)
                throw new ArgumentNullException(nameof(pdfFile));

            if (webhookMode.IsSet && webhookMode.Value == null)
                throw new ArgumentNullException(nameof(webhookMode));

            if (fieldName.IsSet && fieldName.Value == null)
                throw new ArgumentNullException(nameof(fieldName));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void AfterSignPdfAsyncApiV1ProcessingSignPdfAsyncPostDefaultImplementation(ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<string?> callbackUrl, Option<string> webhookMode, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLog = false;
            AfterSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ref suppressDefaultLog, apiResponseLocalVar, pdfFile, callbackUrl, webhookMode, reason, location, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void AfterSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ref bool suppressDefaultLog, ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<string?> callbackUrl, Option<string> webhookMode, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void OnErrorSignPdfAsyncApiV1ProcessingSignPdfAsyncPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<string?> callbackUrl, Option<string> webhookMode, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, pdfFile, callbackUrl, webhookMode, reason, location, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        /// <param name="reason"></param>
        /// <param name="location"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void OnErrorSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<string?> callbackUrl, Option<string> webhookMode, Option<string?> reason, Option<string?> location, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Sign a PDF asynchronously (Celery) Signs an uploaded PDF asynchronously via a Celery task.      **Difference with /sign-pdf**:     - &#x60;/sign-pdf&#x60;: Synchronous signature (blocking until completion)     - &#x60;/sign-pdf-async&#x60;: Asynchronous signature (returns immediately with task_id)      **Async advantages**:     - No timeout for large files     - No blocking of FastAPI worker     - Progress tracking via task_id     - Ideal for batch processing      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **⚠️ Legal disclaimer**: Same as /sign-pdf (see that endpoint&#39;s documentation).
        /// </summary>
        /// <param name="pdfFile">PDF file to sign (processed asynchronously)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse"/>&gt;</returns>
        public async Task<ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse?> SignPdfAsyncApiV1ProcessingSignPdfAsyncPostOrDefaultAsync(System.IO.Stream pdfFile, Option<string?> callbackUrl = default, Option<string> webhookMode = default, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SignPdfAsyncApiV1ProcessingSignPdfAsyncPostAsync(pdfFile, callbackUrl, webhookMode, reason, location, contact, fieldName, usePadesLt, useTimestamp, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Sign a PDF asynchronously (Celery) Signs an uploaded PDF asynchronously via a Celery task.      **Difference with /sign-pdf**:     - &#x60;/sign-pdf&#x60;: Synchronous signature (blocking until completion)     - &#x60;/sign-pdf-async&#x60;: Asynchronous signature (returns immediately with task_id)      **Async advantages**:     - No timeout for large files     - No blocking of FastAPI worker     - Progress tracking via task_id     - Ideal for batch processing      **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).      **⚠️ Legal disclaimer**: Same as /sign-pdf (see that endpoint&#39;s documentation).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">PDF file to sign (processed asynchronously)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="reason"> (optional)</param>
        /// <param name="location"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">PDF signature field name (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)</param>
        /// <param name="useTimestamp">Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse"/>&gt;</returns>
        public async Task<ISignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse> SignPdfAsyncApiV1ProcessingSignPdfAsyncPostAsync(System.IO.Stream pdfFile, Option<string?> callbackUrl = default, Option<string> webhookMode = default, Option<string?> reason = default, Option<string?> location = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(pdfFile, webhookMode, fieldName);

                FormatSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ref pdfFile, ref callbackUrl, ref webhookMode, ref reason, ref location, ref contact, ref fieldName, ref usePadesLt, ref useTimestamp);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/processing/sign-pdf-async"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/processing/sign-pdf-async");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));                    multipartContentLocalVar.Add(new StreamContent(pdfFile));

                    if (callbackUrl.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("callback_url", ClientUtils.ParameterToString(callbackUrl.Value)));

                    if (webhookMode.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("webhook_mode", ClientUtils.ParameterToString(webhookMode.Value)));

                    if (reason.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("reason", ClientUtils.ParameterToString(reason.Value)));

                    if (location.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("location", ClientUtils.ParameterToString(location.Value)));

                    if (contact.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("contact", ClientUtils.ParameterToString(contact.Value)));

                    if (fieldName.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("field_name", ClientUtils.ParameterToString(fieldName.Value)));

                    if (usePadesLt.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_pades_lt", ClientUtils.ParameterToString(usePadesLt.Value)));

                    if (useTimestamp.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_timestamp", ClientUtils.ParameterToString(useTimestamp.Value)));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse>();
                        SignPdfAsyncApiV1ProcessingSignPdfAsyncPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/processing/sign-pdf-async", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSignPdfAsyncApiV1ProcessingSignPdfAsyncPostDefaultImplementation(apiResponseLocalVar, pdfFile, callbackUrl, webhookMode, reason, location, contact, fieldName, usePadesLt, useTimestamp);

                        Events.ExecuteOnSignPdfAsyncApiV1ProcessingSignPdfAsyncPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
[...]
