// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IEReportingApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        EReportingApiEvents Events { get; }

        /// <summary>
        /// Generate aggregated e-reporting XML (PPF-compliant)
        /// </summary>
        /// <remarks>
        /// Generate a PPF-compliant aggregated e-reporting XML containing multiple flux types in a single file.  This endpoint creates a Report XML that can contain: - **TransactionsReport**: Invoice (10.1) AND/OR Transactions (10.3) - **PaymentsReport**: Invoice payments (10.2) AND/OR Transaction payments (10.4)  The AFNOR FlowType is automatically determined based on content: - Single type → Specific FlowType (e.g., AggregatedCustomerTransactionReport) - Multiple types → MultiFlowReport  **CategoryCode (TT-81)** must use PPF-compliant values: - TLB1: Goods deliveries - TPS1: Service provisions - TNT1: Non-taxed transactions - TMA1: Mixed transactions
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>&gt;</returns>
        Task<IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse> GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsync(CreateAggregatedReportRequest createAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate aggregated e-reporting XML (PPF-compliant)
        /// </summary>
        /// <remarks>
        /// Generate a PPF-compliant aggregated e-reporting XML containing multiple flux types in a single file.  This endpoint creates a Report XML that can contain: - **TransactionsReport**: Invoice (10.1) AND/OR Transactions (10.3) - **PaymentsReport**: Invoice payments (10.2) AND/OR Transaction payments (10.4)  The AFNOR FlowType is automatically determined based on content: - Single type → Specific FlowType (e.g., AggregatedCustomerTransactionReport) - Multiple types → MultiFlowReport  **CategoryCode (TT-81)** must use PPF-compliant values: - TLB1: Goods deliveries - TPS1: Service provisions - TNT1: Non-taxed transactions - TMA1: Mixed transactions
        /// </remarks>
        /// <param name="createAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>?&gt;</returns>
        Task<IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse?> GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostOrDefaultAsync(CreateAggregatedReportRequest createAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate e-reporting XML
        /// </summary>
        /// <remarks>
        /// Generate e-reporting XML (FRR format) from structured data.  Supports all four flow types: - **10.1**: Unitary B2B international transactions (use &#x60;invoices&#x60; field) - **10.2**: Payments for B2B international invoices (use &#x60;invoicePayments&#x60; field) - **10.3**: Aggregated B2C transactions (use &#x60;transactions&#x60; field) - **10.4**: Aggregated B2C payments (use &#x60;aggregatedPayments&#x60; field)  The generated XML is compliant with DGFIP specifications and ready for submission to a PA (Plateforme Agréée).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingApiV1EreportingGeneratePostApiResponse"/>&gt;</returns>
        Task<IGenerateEreportingApiV1EreportingGeneratePostApiResponse> GenerateEreportingApiV1EreportingGeneratePostAsync(CreateEReportingRequest createEReportingRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate e-reporting XML
        /// </summary>
        /// <remarks>
        /// Generate e-reporting XML (FRR format) from structured data.  Supports all four flow types: - **10.1**: Unitary B2B international transactions (use &#x60;invoices&#x60; field) - **10.2**: Payments for B2B international invoices (use &#x60;invoicePayments&#x60; field) - **10.3**: Aggregated B2C transactions (use &#x60;transactions&#x60; field) - **10.4**: Aggregated B2C payments (use &#x60;aggregatedPayments&#x60; field)  The generated XML is compliant with DGFIP specifications and ready for submission to a PA (Plateforme Agréée).
        /// </remarks>
        /// <param name="createEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingApiV1EreportingGeneratePostApiResponse"/>?&gt;</returns>
        Task<IGenerateEreportingApiV1EreportingGeneratePostApiResponse?> GenerateEreportingApiV1EreportingGeneratePostOrDefaultAsync(CreateEReportingRequest createEReportingRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate and download e-reporting XML
        /// </summary>
        /// <remarks>
        /// Generate e-reporting XML and return as downloadable file.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename">Output filename (default: ereporting_{reportId}.xml) (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse"/>&gt;</returns>
        Task<IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse> GenerateEreportingDownloadApiV1EreportingGenerateDownloadPostAsync(CreateEReportingRequest createEReportingRequest, Option<string?> filename = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate and download e-reporting XML
        /// </summary>
        /// <remarks>
        /// Generate e-reporting XML and return as downloadable file.
        /// </remarks>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename">Output filename (default: ereporting_{reportId}.xml) (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse"/>?&gt;</returns>
        Task<IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse?> GenerateEreportingDownloadApiV1EreportingGenerateDownloadPostOrDefaultAsync(CreateEReportingRequest createEReportingRequest, Option<string?> filename = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List PPF-compliant category codes
        /// </summary>
        /// <remarks>
        /// Returns the list of valid CategoryCode values (TT-81) for e-reporting transactions.  Source: Annexe 6 - Format sémantique FE e-reporting v1.9
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListCategoryCodesApiV1EreportingCategoryCodesGetApiResponse"/>&gt;</returns>
        Task<IListCategoryCodesApiV1EreportingCategoryCodesGetApiResponse> ListCategoryCodesApiV1EreportingCategoryCodesGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List PPF-compliant category codes
        /// </summary>
        /// <remarks>
        /// Returns the list of valid CategoryCode values (TT-81) for e-reporting transactions.  Source: Annexe 6 - Format sémantique FE e-reporting v1.9
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListCategoryCodesApiV1EreportingCategoryCodesGetApiResponse"/>?&gt;</returns>
        Task<IListCategoryCodesApiV1EreportingCategoryCodesGetApiResponse?> ListCategoryCodesApiV1EreportingCategoryCodesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List available flow types
        /// </summary>
        /// <remarks>
        /// Returns the list of supported e-reporting flow types with descriptions.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListFlowTypesApiV1EreportingFlowTypesGetApiResponse"/>&gt;</returns>
        Task<IListFlowTypesApiV1EreportingFlowTypesGetApiResponse> ListFlowTypesApiV1EreportingFlowTypesGetAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List available flow types
        /// </summary>
        /// <remarks>
        /// Returns the list of supported e-reporting flow types with descriptions.
        /// </remarks>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListFlowTypesApiV1EreportingFlowTypesGetApiResponse"/>?&gt;</returns>
        Task<IListFlowTypesApiV1EreportingFlowTypesGetApiResponse?> ListFlowTypesApiV1EreportingFlowTypesGetOrDefaultAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit aggregated e-reporting to PA/PDP
        /// </summary>
        /// <remarks>
        /// Generate and submit a PPF-compliant aggregated e-reporting to a PA/PDP.  Combines generation and submission in a single call. Automatically determines the AFNOR FlowType based on content.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="submitAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostApiResponse"/>&gt;</returns>
        Task<ISubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostApiResponse> SubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostAsync(SubmitAggregatedReportRequest submitAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit aggregated e-reporting to PA/PDP
        /// </summary>
        /// <remarks>
        /// Generate and submit a PPF-compliant aggregated e-reporting to a PA/PDP.  Combines generation and submission in a single call. Automatically determines the AFNOR FlowType based on content.
        /// </remarks>
        /// <param name="submitAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostApiResponse"/>?&gt;</returns>
        Task<ISubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostApiResponse?> SubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostOrDefaultAsync(SubmitAggregatedReportRequest submitAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit e-reporting to PA/PDP
        /// </summary>
        /// <remarks>
        /// Generate and submit e-reporting to a PA (Plateforme Agréée).  Authentication strategies (same as invoices): 1. **JWT with client_uid** (recommended): PDP credentials fetched from backend 2. **Zero-storage**: Provide pdpFlowServiceUrl, pdpClientId, pdpClientSecret in request  The e-reporting is submitted using the AFNOR Flow Service API with syntax&#x3D;FRR (FRench Reporting).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="submitEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitEreportingApiV1EreportingSubmitPostApiResponse"/>&gt;</returns>
        Task<ISubmitEreportingApiV1EreportingSubmitPostApiResponse> SubmitEreportingApiV1EreportingSubmitPostAsync(SubmitEReportingRequest submitEReportingRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit e-reporting to PA/PDP
        /// </summary>
        /// <remarks>
        /// Generate and submit e-reporting to a PA (Plateforme Agréée).  Authentication strategies (same as invoices): 1. **JWT with client_uid** (recommended): PDP credentials fetched from backend 2. **Zero-storage**: Provide pdpFlowServiceUrl, pdpClientId, pdpClientSecret in request  The e-reporting is submitted using the AFNOR Flow Service API with syntax&#x3D;FRR (FRench Reporting).
        /// </remarks>
        /// <param name="submitEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitEreportingApiV1EreportingSubmitPostApiResponse"/>?&gt;</returns>
        Task<ISubmitEreportingApiV1EreportingSubmitPostApiResponse?> SubmitEreportingApiV1EreportingSubmitPostOrDefaultAsync(SubmitEReportingRequest submitEReportingRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit pre-generated e-reporting XML
        /// </summary>
        /// <remarks>
        /// Submit a pre-generated e-reporting XML file directly to a PA/PDP.  This endpoint is designed for clients who generate their own PPF-compliant XML and only need FactPulse for the PDP submission.  **Process:** 1. Validates the XML against PPF XSD schemas 2. Determines the appropriate AFNOR FlowType 3. Submits to the configured PDP/PA 4. Returns the flowId for tracking  **Authentication:** Same strategies as /submit endpoint (JWT or zero-storage credentials).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="xmlFile">E-reporting XML file</param>
        /// <param name="trackingId"> (optional)</param>
        /// <param name="skipValidation">Skip XSD validation (optional, default to false)</param>
        /// <param name="pdpFlowServiceUrl"> (optional)</param>
        /// <param name="pdpTokenUrl"> (optional)</param>
        /// <param name="pdpClientId"> (optional)</param>
        /// <param name="pdpClientSecret"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitXmlEreportingApiV1EreportingSubmitXmlPostApiResponse"/>&gt;</returns>
        Task<ISubmitXmlEreportingApiV1EreportingSubmitXmlPostApiResponse> SubmitXmlEreportingApiV1EreportingSubmitXmlPostAsync(System.IO.Stream xmlFile, Option<string?> trackingId = default, Option<bool> skipValidation = default, Option<string?> pdpFlowServiceUrl = default, Option<string?> pdpTokenUrl = default, Option<string?> pdpClientId = default, Option<string?> pdpClientSecret = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit pre-generated e-reporting XML
        /// </summary>
        /// <remarks>
        /// Submit a pre-generated e-reporting XML file directly to a PA/PDP.  This endpoint is designed for clients who generate their own PPF-compliant XML and only need FactPulse for the PDP submission.  **Process:** 1. Validates the XML against PPF XSD schemas 2. Determines the appropriate AFNOR FlowType 3. Submits to the configured PDP/PA 4. Returns the flowId for tracking  **Authentication:** Same strategies as /submit endpoint (JWT or zero-storage credentials).
        /// </remarks>
        /// <param name="xmlFile">E-reporting XML file</param>
        /// <param name="trackingId"> (optional)</param>
        /// <param name="skipValidation">Skip XSD validation (optional, default to false)</param>
        /// <param name="pdpFlowServiceUrl"> (optional)</param>
        /// <param name="pdpTokenUrl"> (optional)</param>
        /// <param name="pdpClientId"> (optional)</param>
        /// <param name="pdpClientSecret"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISubmitXmlEreportingApiV1EreportingSubmitXmlPostApiResponse"/>?&gt;</returns>
        Task<ISubmitXmlEreportingApiV1EreportingSubmitXmlPostApiResponse?> SubmitXmlEreportingApiV1EreportingSubmitXmlPostOrDefaultAsync(System.IO.Stream xmlFile, Option<string?> trackingId = default, Option<bool> skipValidation = default, Option<string?> pdpFlowServiceUrl = default, Option<string?> pdpTokenUrl = default, Option<string?> pdpClientId = default, Option<string?> pdpClientSecret = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate aggregated e-reporting data
        /// </summary>
        /// <remarks>
        /// Validates aggregated e-reporting data without generating XML.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostApiResponse"/>&gt;</returns>
        Task<IValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostApiResponse> ValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostAsync(CreateAggregatedReportRequest createAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate aggregated e-reporting data
        /// </summary>
        /// <remarks>
        /// Validates aggregated e-reporting data without generating XML.
        /// </remarks>
        /// <param name="createAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostApiResponse"/>?&gt;</returns>
        Task<IValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostApiResponse?> ValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostOrDefaultAsync(CreateAggregatedReportRequest createAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate e-reporting data
        /// </summary>
        /// <remarks>
        /// Validate e-reporting data without generating or submitting.  Performs: - Schema validation - Business rule validation (correct flux type vs data) - Data consistency checks (tax totals, dates, etc.)  Returns validation errors and warnings.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="validateEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateEreportingApiV1EreportingValidatePostApiResponse"/>&gt;</returns>
        Task<IValidateEreportingApiV1EreportingValidatePostApiResponse> ValidateEreportingApiV1EreportingValidatePostAsync(ValidateEReportingRequest validateEReportingRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate e-reporting data
        /// </summary>
        /// <remarks>
        /// Validate e-reporting data without generating or submitting.  Performs: - Schema validation - Business rule validation (correct flux type vs data) - Data consistency checks (tax totals, dates, etc.)  Returns validation errors and warnings.
        /// </remarks>
        /// <param name="validateEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateEreportingApiV1EreportingValidatePostApiResponse"/>?&gt;</returns>
        Task<IValidateEreportingApiV1EreportingValidatePostApiResponse?> ValidateEreportingApiV1EreportingValidatePostOrDefaultAsync(ValidateEReportingRequest validateEReportingRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate e-reporting XML against PPF XSD schemas and business rules
        /// </summary>
        /// <remarks>
        /// Validates an e-reporting XML file against:  1. **XSD schemas**: Official PPF e-reporting XSD (structure, types, cardinality) 2. **Business rules**: ISO codes and enum validation    - Currency codes (ISO 4217: EUR, USD, GBP, etc.)    - Country codes (ISO 3166-1 alpha-2: FR, DE, US, etc.)    - Scheme IDs (0009&#x3D;SIRET, 0002&#x3D;SIREN, etc.)    - Role codes (UNCL 3035: SE&#x3D;Seller, BY&#x3D;Buyer, WK&#x3D;Working party, etc.)  Returns validation status and detailed error messages if invalid.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="xmlFile">E-reporting XML file to validate</param>
        /// <param name="validateBusinessRules">Also validate business rules (ISO codes, enums) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateXmlEreportingApiV1EreportingValidateXmlPostApiResponse"/>&gt;</returns>
        Task<IValidateXmlEreportingApiV1EreportingValidateXmlPostApiResponse> ValidateXmlEreportingApiV1EreportingValidateXmlPostAsync(System.IO.Stream xmlFile, Option<bool> validateBusinessRules = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Validate e-reporting XML against PPF XSD schemas and business rules
        /// </summary>
        /// <remarks>
        /// Validates an e-reporting XML file against:  1. **XSD schemas**: Official PPF e-reporting XSD (structure, types, cardinality) 2. **Business rules**: ISO codes and enum validation    - Currency codes (ISO 4217: EUR, USD, GBP, etc.)    - Country codes (ISO 3166-1 alpha-2: FR, DE, US, etc.)    - Scheme IDs (0009&#x3D;SIRET, 0002&#x3D;SIREN, etc.)    - Role codes (UNCL 3035: SE&#x3D;Seller, BY&#x3D;Buyer, WK&#x3D;Working party, etc.)  Returns validation status and detailed error messages if invalid.
        /// </remarks>
        /// <param name="xmlFile">E-reporting XML file to validate</param>
        /// <param name="validateBusinessRules">Also validate business rules (ISO codes, enums) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValidateXmlEreportingApiV1EreportingValidateXmlPostApiResponse"/>?&gt;</returns>
        Task<IValidateXmlEreportingApiV1EreportingValidateXmlPostApiResponse?> ValidateXmlEreportingApiV1EreportingValidateXmlPostOrDefaultAsync(System.IO.Stream xmlFile, Option<bool> validateBusinessRules = default, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>
    /// </summary>
    public interface IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GenerateAggregatedReportResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGenerateEreportingApiV1EreportingGeneratePostApiResponse"/>
    /// </summary>
    public interface IGenerateEreportingApiV1EreportingGeneratePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GenerateEReportingResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse"/>
    /// </summary>
    public interface IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse : FactPulse.SDK.Client.IApiResponse, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IListCategoryCodesApiV1EreportingCategoryCodesGetApiResponse"/>
    /// </summary>
    public interface IListCategoryCodesApiV1EreportingCategoryCodesGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Dictionary<string, Object>?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IListFlowTypesApiV1EreportingFlowTypesGetApiResponse"/>
    /// </summary>
    public interface IListFlowTypesApiV1EreportingFlowTypesGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Dictionary<string, Object>?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="ISubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostApiResponse"/>
    /// </summary>
    public interface ISubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SubmitEReportingResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ISubmitEreportingApiV1EreportingSubmitPostApiResponse"/>
    /// </summary>
    public interface ISubmitEreportingApiV1EreportingSubmitPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SubmitEReportingResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="ISubmitXmlEreportingApiV1EreportingSubmitXmlPostApiResponse"/>
    /// </summary>
    public interface ISubmitXmlEreportingApiV1EreportingSubmitXmlPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.SubmitEReportingResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostApiResponse"/>
    /// </summary>
    public interface IValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Dictionary<string, Object>?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IValidateEreportingApiV1EreportingValidatePostApiResponse"/>
    /// </summary>
    public interface IValidateEreportingApiV1EreportingValidatePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ValidateEReportingResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IValidateXmlEreportingApiV1EreportingValidateXmlPostApiResponse"/>
    /// </summary>
    public interface IValidateXmlEreportingApiV1EreportingValidateXmlPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Dictionary<string, Object>?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class EReportingApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost;

        internal void ExecuteOnGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(EReportingApi.GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse apiResponse)
        {
            OnGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(Exception exception)
        {
            OnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateEreportingApiV1EreportingGeneratePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateEreportingApiV1EreportingGeneratePost;

        internal void ExecuteOnGenerateEreportingApiV1EreportingGeneratePost(EReportingApi.GenerateEreportingApiV1EreportingGeneratePostApiResponse apiResponse)
        {
            OnGenerateEreportingApiV1EreportingGeneratePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateEreportingApiV1EreportingGeneratePost(Exception exception)
        {
            OnErrorGenerateEreportingApiV1EreportingGeneratePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost;

        internal void ExecuteOnGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(EReportingApi.GenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse apiResponse)
        {
            OnGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(Exception exception)
        {
            OnErrorGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnListCategoryCodesApiV1EreportingCategoryCodesGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorListCategoryCodesApiV1EreportingCategoryCodesGet;

        internal void ExecuteOnListCategoryCodesApiV1EreportingCategoryCodesGet(EReportingApi.ListCategoryCodesApiV1EreportingCategoryCodesGetApiResponse apiResponse)
        {
            OnListCategoryCodesApiV1EreportingCategoryCodesGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListCategoryCodesApiV1EreportingCategoryCodesGet(Exception exception)
        {
            OnErrorListCategoryCodesApiV1EreportingCategoryCodesGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnListFlowTypesApiV1EreportingFlowTypesGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorListFlowTypesApiV1EreportingFlowTypesGet;

        internal void ExecuteOnListFlowTypesApiV1EreportingFlowTypesGet(EReportingApi.ListFlowTypesApiV1EreportingFlowTypesGetApiResponse apiResponse)
        {
            OnListFlowTypesApiV1EreportingFlowTypesGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListFlowTypesApiV1EreportingFlowTypesGet(Exception exception)
        {
            OnErrorListFlowTypesApiV1EreportingFlowTypesGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPost;

        internal void ExecuteOnSubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPost(EReportingApi.SubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPostApiResponse apiResponse)
        {
            OnSubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPost(Exception exception)
        {
            OnErrorSubmitAggregatedEreportingApiV1EreportingSubmitAggregatedPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSubmitEreportingApiV1EreportingSubmitPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSubmitEreportingApiV1EreportingSubmitPost;

        internal void ExecuteOnSubmitEreportingApiV1EreportingSubmitPost(EReportingApi.SubmitEreportingApiV1EreportingSubmitPostApiResponse apiResponse)
        {
            OnSubmitEreportingApiV1EreportingSubmitPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSubmitEreportingApiV1EreportingSubmitPost(Exception exception)
        {
            OnErrorSubmitEreportingApiV1EreportingSubmitPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSubmitXmlEreportingApiV1EreportingSubmitXmlPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSubmitXmlEreportingApiV1EreportingSubmitXmlPost;

        internal void ExecuteOnSubmitXmlEreportingApiV1EreportingSubmitXmlPost(EReportingApi.SubmitXmlEreportingApiV1EreportingSubmitXmlPostApiResponse apiResponse)
        {
            OnSubmitXmlEreportingApiV1EreportingSubmitXmlPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSubmitXmlEreportingApiV1EreportingSubmitXmlPost(Exception exception)
        {
            OnErrorSubmitXmlEreportingApiV1EreportingSubmitXmlPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValidateAggregatedEreportingApiV1EreportingValidateAggregatedPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValidateAggregatedEreportingApiV1EreportingValidateAggregatedPost;

        internal void ExecuteOnValidateAggregatedEreportingApiV1EreportingValidateAggregatedPost(EReportingApi.ValidateAggregatedEreportingApiV1EreportingValidateAggregatedPostApiResponse apiResponse)
        {
            OnValidateAggregatedEreportingApiV1EreportingValidateAggregatedPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValidateAggregatedEreportingApiV1EreportingValidateAggregatedPost(Exception exception)
        {
            OnErrorValidateAggregatedEreportingApiV1EreportingValidateAggregatedPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValidateEreportingApiV1EreportingValidatePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValidateEreportingApiV1EreportingValidatePost;

        internal void ExecuteOnValidateEreportingApiV1EreportingValidatePost(EReportingApi.ValidateEreportingApiV1EreportingValidatePostApiResponse apiResponse)
        {
            OnValidateEreportingApiV1EreportingValidatePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValidateEreportingApiV1EreportingValidatePost(Exception exception)
        {
            OnErrorValidateEreportingApiV1EreportingValidatePost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValidateXmlEreportingApiV1EreportingValidateXmlPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValidateXmlEreportingApiV1EreportingValidateXmlPost;

        internal void ExecuteOnValidateXmlEreportingApiV1EreportingValidateXmlPost(EReportingApi.ValidateXmlEreportingApiV1EreportingValidateXmlPostApiResponse apiResponse)
        {
            OnValidateXmlEreportingApiV1EreportingValidateXmlPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValidateXmlEreportingApiV1EreportingValidateXmlPost(Exception exception)
        {
            OnErrorValidateXmlEreportingApiV1EreportingValidateXmlPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class EReportingApi : IEReportingApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<EReportingApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public EReportingApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="EReportingApi"/> class.
        /// </summary>
        /// <returns></returns>
        public EReportingApi(ILogger<EReportingApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, EReportingApiEvents eReportingApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<EReportingApi>();
            HttpClient = httpClient;
            Events = eReportingApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(CreateAggregatedReportRequest createAggregatedReportRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="createAggregatedReportRequest"></param>
        /// <returns></returns>
        private void ValidateGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(CreateAggregatedReportRequest createAggregatedReportRequest)
        {
            if (createAggregatedReportRequest == null)
                throw new ArgumentNullException(nameof(createAggregatedReportRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createAggregatedReportRequest"></param>
        private void AfterGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostDefaultImplementation(IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse apiResponseLocalVar, CreateAggregatedReportRequest createAggregatedReportRequest)
        {
            bool suppressDefaultLog = false;
            AfterGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(ref suppressDefaultLog, apiResponseLocalVar, createAggregatedReportRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createAggregatedReportRequest"></param>
        partial void AfterGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(ref bool suppressDefaultLog, IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse apiResponseLocalVar, CreateAggregatedReportRequest createAggregatedReportRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createAggregatedReportRequest"></param>
        private void OnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateAggregatedReportRequest createAggregatedReportRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, createAggregatedReportRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createAggregatedReportRequest"></param>
        partial void OnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateAggregatedReportRequest createAggregatedReportRequest);

        /// <summary>
        /// Generate aggregated e-reporting XML (PPF-compliant) Generate a PPF-compliant aggregated e-reporting XML containing multiple flux types in a single file.  This endpoint creates a Report XML that can contain: - **TransactionsReport**: Invoice (10.1) AND/OR Transactions (10.3) - **PaymentsReport**: Invoice payments (10.2) AND/OR Transaction payments (10.4)  The AFNOR FlowType is automatically determined based on content: - Single type → Specific FlowType (e.g., AggregatedCustomerTransactionReport) - Multiple types → MultiFlowReport  **CategoryCode (TT-81)** must use PPF-compliant values: - TLB1: Goods deliveries - TPS1: Service provisions - TNT1: Non-taxed transactions - TMA1: Mixed transactions
        /// </summary>
        /// <param name="createAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>&gt;</returns>
        public async Task<IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse?> GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostOrDefaultAsync(CreateAggregatedReportRequest createAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsync(createAggregatedReportRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Generate aggregated e-reporting XML (PPF-compliant) Generate a PPF-compliant aggregated e-reporting XML containing multiple flux types in a single file.  This endpoint creates a Report XML that can contain: - **TransactionsReport**: Invoice (10.1) AND/OR Transactions (10.3) - **PaymentsReport**: Invoice payments (10.2) AND/OR Transaction payments (10.4)  The AFNOR FlowType is automatically determined based on content: - Single type → Specific FlowType (e.g., AggregatedCustomerTransactionReport) - Multiple types → MultiFlowReport  **CategoryCode (TT-81)** must use PPF-compliant values: - TLB1: Goods deliveries - TPS1: Service provisions - TNT1: Non-taxed transactions - TMA1: Mixed transactions
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createAggregatedReportRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>&gt;</returns>
        public async Task<IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse> GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsync(CreateAggregatedReportRequest createAggregatedReportRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(createAggregatedReportRequest);

                FormatGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(createAggregatedReportRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/ereporting/generate-aggregated"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/ereporting/generate-aggregated");

                    httpRequestMessageLocalVar.Content = (createAggregatedReportRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(createAggregatedReportRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse>();
                        GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/ereporting/generate-aggregated", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostDefaultImplementation(apiResponseLocalVar, createAggregatedReportRequest);

                        Events.ExecuteOnGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostDefaultImplementation(e, "/api/v1/ereporting/generate-aggregated", uriBuilderLocalVar.Path, createAggregatedReportRequest);
                Events.ExecuteOnErrorGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>
        /// </summary>
        public partial class GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse : FactPulse.SDK.Client.ApiResponse, IGenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse(ILogger<GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse(ILogger<GenerateAggregatedEreportingApiV1EreportingGenerateAggregatedPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.GenerateAggregatedReportResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.GenerateAggregatedReportResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.GenerateAggregatedReportResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.APIError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.APIError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.APIError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGenerateEreportingApiV1EreportingGeneratePost(CreateEReportingRequest createEReportingRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="createEReportingRequest"></param>
        /// <returns></returns>
        private void ValidateGenerateEreportingApiV1EreportingGeneratePost(CreateEReportingRequest createEReportingRequest)
        {
            if (createEReportingRequest == null)
                throw new ArgumentNullException(nameof(createEReportingRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        private void AfterGenerateEreportingApiV1EreportingGeneratePostDefaultImplementation(IGenerateEreportingApiV1EreportingGeneratePostApiResponse apiResponseLocalVar, CreateEReportingRequest createEReportingRequest)
        {
            bool suppressDefaultLog = false;
            AfterGenerateEreportingApiV1EreportingGeneratePost(ref suppressDefaultLog, apiResponseLocalVar, createEReportingRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        partial void AfterGenerateEreportingApiV1EreportingGeneratePost(ref bool suppressDefaultLog, IGenerateEreportingApiV1EreportingGeneratePostApiResponse apiResponseLocalVar, CreateEReportingRequest createEReportingRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        private void OnErrorGenerateEreportingApiV1EreportingGeneratePostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateEReportingRequest createEReportingRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGenerateEreportingApiV1EreportingGeneratePost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, createEReportingRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        partial void OnErrorGenerateEreportingApiV1EreportingGeneratePost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateEReportingRequest createEReportingRequest);

        /// <summary>
        /// Generate e-reporting XML Generate e-reporting XML (FRR format) from structured data.  Supports all four flow types: - **10.1**: Unitary B2B international transactions (use &#x60;invoices&#x60; field) - **10.2**: Payments for B2B international invoices (use &#x60;invoicePayments&#x60; field) - **10.3**: Aggregated B2C transactions (use &#x60;transactions&#x60; field) - **10.4**: Aggregated B2C payments (use &#x60;aggregatedPayments&#x60; field)  The generated XML is compliant with DGFIP specifications and ready for submission to a PA (Plateforme Agréée).
        /// </summary>
        /// <param name="createEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingApiV1EreportingGeneratePostApiResponse"/>&gt;</returns>
        public async Task<IGenerateEreportingApiV1EreportingGeneratePostApiResponse?> GenerateEreportingApiV1EreportingGeneratePostOrDefaultAsync(CreateEReportingRequest createEReportingRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GenerateEreportingApiV1EreportingGeneratePostAsync(createEReportingRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Generate e-reporting XML Generate e-reporting XML (FRR format) from structured data.  Supports all four flow types: - **10.1**: Unitary B2B international transactions (use &#x60;invoices&#x60; field) - **10.2**: Payments for B2B international invoices (use &#x60;invoicePayments&#x60; field) - **10.3**: Aggregated B2C transactions (use &#x60;transactions&#x60; field) - **10.4**: Aggregated B2C payments (use &#x60;aggregatedPayments&#x60; field)  The generated XML is compliant with DGFIP specifications and ready for submission to a PA (Plateforme Agréée).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createEReportingRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingApiV1EreportingGeneratePostApiResponse"/>&gt;</returns>
        public async Task<IGenerateEreportingApiV1EreportingGeneratePostApiResponse> GenerateEreportingApiV1EreportingGeneratePostAsync(CreateEReportingRequest createEReportingRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGenerateEreportingApiV1EreportingGeneratePost(createEReportingRequest);

                FormatGenerateEreportingApiV1EreportingGeneratePost(createEReportingRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/ereporting/generate"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/ereporting/generate");

                    httpRequestMessageLocalVar.Content = (createEReportingRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(createEReportingRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GenerateEreportingApiV1EreportingGeneratePostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GenerateEreportingApiV1EreportingGeneratePostApiResponse>();
                        GenerateEreportingApiV1EreportingGeneratePostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/ereporting/generate", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGenerateEreportingApiV1EreportingGeneratePostDefaultImplementation(apiResponseLocalVar, createEReportingRequest);

                        Events.ExecuteOnGenerateEreportingApiV1EreportingGeneratePost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGenerateEreportingApiV1EreportingGeneratePostDefaultImplementation(e, "/api/v1/ereporting/generate", uriBuilderLocalVar.Path, createEReportingRequest);
                Events.ExecuteOnErrorGenerateEreportingApiV1EreportingGeneratePost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GenerateEreportingApiV1EreportingGeneratePostApiResponse"/>
        /// </summary>
        public partial class GenerateEreportingApiV1EreportingGeneratePostApiResponse : FactPulse.SDK.Client.ApiResponse, IGenerateEreportingApiV1EreportingGeneratePostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GenerateEreportingApiV1EreportingGeneratePostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GenerateEreportingApiV1EreportingGeneratePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateEreportingApiV1EreportingGeneratePostApiResponse(ILogger<GenerateEreportingApiV1EreportingGeneratePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GenerateEreportingApiV1EreportingGeneratePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateEreportingApiV1EreportingGeneratePostApiResponse(ILogger<GenerateEreportingApiV1EreportingGeneratePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.GenerateEReportingResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.GenerateEReportingResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.GenerateEReportingResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.APIError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.APIError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.APIError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(CreateEReportingRequest createEReportingRequest, ref Option<string?> filename);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="createEReportingRequest"></param>
        /// <returns></returns>
        private void ValidateGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(CreateEReportingRequest createEReportingRequest)
        {
            if (createEReportingRequest == null)
                throw new ArgumentNullException(nameof(createEReportingRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename"></param>
        private void AfterGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostDefaultImplementation(IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse apiResponseLocalVar, CreateEReportingRequest createEReportingRequest, Option<string?> filename)
        {
            bool suppressDefaultLog = false;
            AfterGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(ref suppressDefaultLog, apiResponseLocalVar, createEReportingRequest, filename);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename"></param>
        partial void AfterGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(ref bool suppressDefaultLog, IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse apiResponseLocalVar, CreateEReportingRequest createEReportingRequest, Option<string?> filename);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename"></param>
        private void OnErrorGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateEReportingRequest createEReportingRequest, Option<string?> filename)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, createEReportingRequest, filename);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename"></param>
        partial void OnErrorGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, CreateEReportingRequest createEReportingRequest, Option<string?> filename);

        /// <summary>
        /// Generate and download e-reporting XML Generate e-reporting XML and return as downloadable file.
        /// </summary>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename">Output filename (default: ereporting_{reportId}.xml) (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse"/>&gt;</returns>
        public async Task<IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse?> GenerateEreportingDownloadApiV1EreportingGenerateDownloadPostOrDefaultAsync(CreateEReportingRequest createEReportingRequest, Option<string?> filename = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GenerateEreportingDownloadApiV1EreportingGenerateDownloadPostAsync(createEReportingRequest, filename, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Generate and download e-reporting XML Generate e-reporting XML and return as downloadable file.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="createEReportingRequest"></param>
        /// <param name="filename">Output filename (default: ereporting_{reportId}.xml) (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse"/>&gt;</returns>
        public async Task<IGenerateEreportingDownloadApiV1EreportingGenerateDownloadPostApiResponse> GenerateEreportingDownloadApiV1EreportingGenerateDownloadPostAsync(CreateEReportingRequest createEReportingRequest, Option<string?> filename = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGenerateEreportingDownloadApiV1EreportingGenerateDownloadPost(createEReportingRequest);

[...]
