// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Net;
using System.IO;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IFacturXConversionApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        FacturXConversionApiEvents Events { get; }

        /// <summary>
        /// Convert a document to Factur-X (async mode)
        /// </summary>
        /// <remarks>
        /// Launch an asynchronous conversion via Celery.  ## Workflow  1. **Upload**: Document is sent as multipart/form-data 2. **Celery Task**: Task is queued for processing 3. **Callback**: Webhook notification on completion  ## Possible responses  - **202**: Task accepted, processing - **400**: Invalid file
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="file">Document to convert (PDF, DOCX, XLSX, JPG, PNG)</param>
        /// <param name="output">Output format: pdf, xml, both (optional, default to &quot;pdf&quot;)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Content delivery mode: &#39;inline&#39; (base64 in webhook) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>&gt;</returns>
        Task<IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse> ConvertDocumentAsyncApiV1ConvertAsyncPostAsync(System.IO.Stream file, Option<string> output = default, Option<string?> callbackUrl = default, Option<string> webhookMode = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Convert a document to Factur-X (async mode)
        /// </summary>
        /// <remarks>
        /// Launch an asynchronous conversion via Celery.  ## Workflow  1. **Upload**: Document is sent as multipart/form-data 2. **Celery Task**: Task is queued for processing 3. **Callback**: Webhook notification on completion  ## Possible responses  - **202**: Task accepted, processing - **400**: Invalid file
        /// </remarks>
        /// <param name="file">Document to convert (PDF, DOCX, XLSX, JPG, PNG)</param>
        /// <param name="output">Output format: pdf, xml, both (optional, default to &quot;pdf&quot;)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Content delivery mode: &#39;inline&#39; (base64 in webhook) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>?&gt;</returns>
        Task<IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse?> ConvertDocumentAsyncApiV1ConvertAsyncPostOrDefaultAsync(System.IO.Stream file, Option<string> output = default, Option<string?> callbackUrl = default, Option<string> webhookMode = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download a generated file
        /// </summary>
        /// <remarks>
        /// Download the generated Factur-X PDF or XML file.  ## Available files  - &#x60;facturx.pdf&#x60;: PDF/A-3 with embedded XML - &#x60;facturx.xml&#x60;: XML CII only (Cross Industry Invoice)  Files are available for 24 hours after generation.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="filename">File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39;</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>&gt;</returns>
        Task<IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse> DownloadFileApiV1ConvertConversionIdDownloadFilenameGetAsync(string conversionId, string filename, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download a generated file
        /// </summary>
        /// <remarks>
        /// Download the generated Factur-X PDF or XML file.  ## Available files  - &#x60;facturx.pdf&#x60;: PDF/A-3 with embedded XML - &#x60;facturx.xml&#x60;: XML CII only (Cross Industry Invoice)  Files are available for 24 hours after generation.
        /// </remarks>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="filename">File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39;</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>?&gt;</returns>
        Task<IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse?> DownloadFileApiV1ConvertConversionIdDownloadFilenameGetOrDefaultAsync(string conversionId, string filename, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Check conversion status
        /// </summary>
        /// <remarks>
        /// Returns the current status of an asynchronous conversion.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>&gt;</returns>
        Task<IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse> GetConversionStatusApiV1ConvertConversionIdStatusGetAsync(string conversionId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Check conversion status
        /// </summary>
        /// <remarks>
        /// Returns the current status of an asynchronous conversion.
        /// </remarks>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>?&gt;</returns>
        Task<IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse?> GetConversionStatusApiV1ConvertConversionIdStatusGetOrDefaultAsync(string conversionId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Resume a conversion with corrections
        /// </summary>
        /// <remarks>
        /// Resume a conversion after completing missing data or correcting errors.  The OCR extraction is preserved, data is updated with corrections, then a new Schematron validation is performed.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="convertResumeRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>&gt;</returns>
        Task<IResumeConversionApiV1ConvertConversionIdResumePostApiResponse> ResumeConversionApiV1ConvertConversionIdResumePostAsync(string conversionId, ConvertResumeRequest convertResumeRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Resume a conversion with corrections
        /// </summary>
        /// <remarks>
        /// Resume a conversion after completing missing data or correcting errors.  The OCR extraction is preserved, data is updated with corrections, then a new Schematron validation is performed.
        /// </remarks>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="convertResumeRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>?&gt;</returns>
        Task<IResumeConversionApiV1ConvertConversionIdResumePostApiResponse?> ResumeConversionApiV1ConvertConversionIdResumePostOrDefaultAsync(string conversionId, ConvertResumeRequest convertResumeRequest, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>
    /// </summary>
    public interface IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>
    /// </summary>
    public interface IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>
    /// </summary>
    public interface IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Dictionary<string, Object>?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// The <see cref="IResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>
    /// </summary>
    public interface IResumeConversionApiV1ConvertConversionIdResumePostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ConvertSuccessResponse?>, IUnprocessableContent<FactPulse.SDK.Model.ConvertValidationFailedResponse?>, IUnauthorized<FactPulse.SDK.Model.APIError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class FacturXConversionApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnConvertDocumentAsyncApiV1ConvertAsyncPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorConvertDocumentAsyncApiV1ConvertAsyncPost;

        internal void ExecuteOnConvertDocumentAsyncApiV1ConvertAsyncPost(FacturXConversionApi.ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse apiResponse)
        {
            OnConvertDocumentAsyncApiV1ConvertAsyncPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorConvertDocumentAsyncApiV1ConvertAsyncPost(Exception exception)
        {
            OnErrorConvertDocumentAsyncApiV1ConvertAsyncPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnDownloadFileApiV1ConvertConversionIdDownloadFilenameGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGet;

        internal void ExecuteOnDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(FacturXConversionApi.DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse apiResponse)
        {
            OnDownloadFileApiV1ConvertConversionIdDownloadFilenameGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(Exception exception)
        {
            OnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetConversionStatusApiV1ConvertConversionIdStatusGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetConversionStatusApiV1ConvertConversionIdStatusGet;

        internal void ExecuteOnGetConversionStatusApiV1ConvertConversionIdStatusGet(FacturXConversionApi.GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse apiResponse)
        {
            OnGetConversionStatusApiV1ConvertConversionIdStatusGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetConversionStatusApiV1ConvertConversionIdStatusGet(Exception exception)
        {
            OnErrorGetConversionStatusApiV1ConvertConversionIdStatusGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnResumeConversionApiV1ConvertConversionIdResumePost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorResumeConversionApiV1ConvertConversionIdResumePost;

        internal void ExecuteOnResumeConversionApiV1ConvertConversionIdResumePost(FacturXConversionApi.ResumeConversionApiV1ConvertConversionIdResumePostApiResponse apiResponse)
        {
            OnResumeConversionApiV1ConvertConversionIdResumePost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorResumeConversionApiV1ConvertConversionIdResumePost(Exception exception)
        {
            OnErrorResumeConversionApiV1ConvertConversionIdResumePost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class FacturXConversionApi : IFacturXConversionApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<FacturXConversionApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public FacturXConversionApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>
        /// </summary>
        public TokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="FacturXConversionApi"/> class.
        /// </summary>
        /// <returns></returns>
        public FacturXConversionApi(ILogger<FacturXConversionApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, FacturXConversionApiEvents facturXConversionApiEvents,
            TokenProvider<ApiKeyToken> apiKeyProvider,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<FacturXConversionApi>();
            HttpClient = httpClient;
            Events = facturXConversionApiEvents;
            ApiKeyProvider = apiKeyProvider;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatConvertDocumentAsyncApiV1ConvertAsyncPost(ref System.IO.Stream file, ref Option<string> output, ref Option<string?> callbackUrl, ref Option<string> webhookMode);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="file"></param>
        /// <param name="output"></param>
        /// <param name="webhookMode"></param>
        /// <returns></returns>
        private void ValidateConvertDocumentAsyncApiV1ConvertAsyncPost(System.IO.Stream file, Option<string> output, Option<string> webhookMode)
        {
            if (file == null)
                throw new ArgumentNullException(nameof(file));

            if (output.IsSet && output.Value == null)
                throw new ArgumentNullException(nameof(output));

            if (webhookMode.IsSet && webhookMode.Value == null)
                throw new ArgumentNullException(nameof(webhookMode));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="file"></param>
        /// <param name="output"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        private void AfterConvertDocumentAsyncApiV1ConvertAsyncPostDefaultImplementation(IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream file, Option<string> output, Option<string?> callbackUrl, Option<string> webhookMode)
        {
            bool suppressDefaultLog = false;
            AfterConvertDocumentAsyncApiV1ConvertAsyncPost(ref suppressDefaultLog, apiResponseLocalVar, file, output, callbackUrl, webhookMode);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="file"></param>
        /// <param name="output"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        partial void AfterConvertDocumentAsyncApiV1ConvertAsyncPost(ref bool suppressDefaultLog, IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream file, Option<string> output, Option<string?> callbackUrl, Option<string> webhookMode);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="file"></param>
        /// <param name="output"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        private void OnErrorConvertDocumentAsyncApiV1ConvertAsyncPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream file, Option<string> output, Option<string?> callbackUrl, Option<string> webhookMode)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorConvertDocumentAsyncApiV1ConvertAsyncPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, file, output, callbackUrl, webhookMode);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="file"></param>
        /// <param name="output"></param>
        /// <param name="callbackUrl"></param>
        /// <param name="webhookMode"></param>
        partial void OnErrorConvertDocumentAsyncApiV1ConvertAsyncPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream file, Option<string> output, Option<string?> callbackUrl, Option<string> webhookMode);

        /// <summary>
        /// Convert a document to Factur-X (async mode) Launch an asynchronous conversion via Celery.  ## Workflow  1. **Upload**: Document is sent as multipart/form-data 2. **Celery Task**: Task is queued for processing 3. **Callback**: Webhook notification on completion  ## Possible responses  - **202**: Task accepted, processing - **400**: Invalid file
        /// </summary>
        /// <param name="file">Document to convert (PDF, DOCX, XLSX, JPG, PNG)</param>
        /// <param name="output">Output format: pdf, xml, both (optional, default to &quot;pdf&quot;)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Content delivery mode: &#39;inline&#39; (base64 in webhook) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>&gt;</returns>
        public async Task<IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse?> ConvertDocumentAsyncApiV1ConvertAsyncPostOrDefaultAsync(System.IO.Stream file, Option<string> output = default, Option<string?> callbackUrl = default, Option<string> webhookMode = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await ConvertDocumentAsyncApiV1ConvertAsyncPostAsync(file, output, callbackUrl, webhookMode, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Convert a document to Factur-X (async mode) Launch an asynchronous conversion via Celery.  ## Workflow  1. **Upload**: Document is sent as multipart/form-data 2. **Celery Task**: Task is queued for processing 3. **Callback**: Webhook notification on completion  ## Possible responses  - **202**: Task accepted, processing - **400**: Invalid file
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="file">Document to convert (PDF, DOCX, XLSX, JPG, PNG)</param>
        /// <param name="output">Output format: pdf, xml, both (optional, default to &quot;pdf&quot;)</param>
        /// <param name="callbackUrl"> (optional)</param>
        /// <param name="webhookMode">Content delivery mode: &#39;inline&#39; (base64 in webhook) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to &quot;inline&quot;)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>&gt;</returns>
        public async Task<IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse> ConvertDocumentAsyncApiV1ConvertAsyncPostAsync(System.IO.Stream file, Option<string> output = default, Option<string?> callbackUrl = default, Option<string> webhookMode = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateConvertDocumentAsyncApiV1ConvertAsyncPost(file, output, webhookMode);

                FormatConvertDocumentAsyncApiV1ConvertAsyncPost(ref file, ref output, ref callbackUrl, ref webhookMode);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/convert/async"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/convert/async");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));                    multipartContentLocalVar.Add(new StreamContent(file));

                    if (output.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("output", ClientUtils.ParameterToString(output.Value)));

                    if (callbackUrl.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("callback_url", ClientUtils.ParameterToString(callbackUrl.Value)));

                    if (webhookMode.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("webhook_mode", ClientUtils.ParameterToString(webhookMode.Value)));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    ApiKeyToken apiKeyTokenLocalVar1 = (ApiKeyToken) await ApiKeyProvider.GetAsync("X-API-Key", cancellationToken).ConfigureAwait(false);
                    tokenBaseLocalVars.Add(apiKeyTokenLocalVar1);
                    apiKeyTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar);

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar2 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar2);

                    bearerTokenLocalVar2.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse>();
                        ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/convert/async", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterConvertDocumentAsyncApiV1ConvertAsyncPostDefaultImplementation(apiResponseLocalVar, file, output, callbackUrl, webhookMode);

                        Events.ExecuteOnConvertDocumentAsyncApiV1ConvertAsyncPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorConvertDocumentAsyncApiV1ConvertAsyncPostDefaultImplementation(e, "/api/v1/convert/async", uriBuilderLocalVar.Path, file, output, callbackUrl, webhookMode);
                Events.ExecuteOnErrorConvertDocumentAsyncApiV1ConvertAsyncPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>
        /// </summary>
        public partial class ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse : FactPulse.SDK.Client.ApiResponse, IConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse(ILogger<ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse(ILogger<ConvertDocumentAsyncApiV1ConvertAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public bool IsAccepted => 202 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.APIError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.APIError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.APIError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(ref string conversionId, ref string filename);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="conversionId"></param>
        /// <param name="filename"></param>
        /// <returns></returns>
        private void ValidateDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(string conversionId, string filename)
        {
            if (conversionId == null)
                throw new ArgumentNullException(nameof(conversionId));

            if (filename == null)
                throw new ArgumentNullException(nameof(filename));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="filename"></param>
        private void AfterDownloadFileApiV1ConvertConversionIdDownloadFilenameGetDefaultImplementation(IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse apiResponseLocalVar, string conversionId, string filename)
        {
            bool suppressDefaultLog = false;
            AfterDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(ref suppressDefaultLog, apiResponseLocalVar, conversionId, filename);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="filename"></param>
        partial void AfterDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(ref bool suppressDefaultLog, IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse apiResponseLocalVar, string conversionId, string filename);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="filename"></param>
        private void OnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string conversionId, string filename)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, conversionId, filename);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="filename"></param>
        partial void OnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string conversionId, string filename);

        /// <summary>
        /// Download a generated file Download the generated Factur-X PDF or XML file.  ## Available files  - &#x60;facturx.pdf&#x60;: PDF/A-3 with embedded XML - &#x60;facturx.xml&#x60;: XML CII only (Cross Industry Invoice)  Files are available for 24 hours after generation.
        /// </summary>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="filename">File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39;</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>&gt;</returns>
        public async Task<IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse?> DownloadFileApiV1ConvertConversionIdDownloadFilenameGetOrDefaultAsync(string conversionId, string filename, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await DownloadFileApiV1ConvertConversionIdDownloadFilenameGetAsync(conversionId, filename, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Download a generated file Download the generated Factur-X PDF or XML file.  ## Available files  - &#x60;facturx.pdf&#x60;: PDF/A-3 with embedded XML - &#x60;facturx.xml&#x60;: XML CII only (Cross Industry Invoice)  Files are available for 24 hours after generation.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="filename">File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39;</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>&gt;</returns>
        public async Task<IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse> DownloadFileApiV1ConvertConversionIdDownloadFilenameGetAsync(string conversionId, string filename, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(conversionId, filename);

                FormatDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(ref conversionId, ref filename);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/convert/{conversion_id}/download/{filename}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/convert/{conversion_id}/download/{filename}");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bconversion_id%7D", Uri.EscapeDataString(conversionId.ToString()));
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bfilename%7D", Uri.EscapeDataString(filename.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    ApiKeyToken apiKeyTokenLocalVar1 = (ApiKeyToken) await ApiKeyProvider.GetAsync("X-API-Key", cancellationToken).ConfigureAwait(false);
                    tokenBaseLocalVars.Add(apiKeyTokenLocalVar1);
                    apiKeyTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar);

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar2 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar2);

                    bearerTokenLocalVar2.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse>();
                        DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/convert/{conversion_id}/download/{filename}", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterDownloadFileApiV1ConvertConversionIdDownloadFilenameGetDefaultImplementation(apiResponseLocalVar, conversionId, filename);

                        Events.ExecuteOnDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGetDefaultImplementation(e, "/api/v1/convert/{conversion_id}/download/{filename}", uriBuilderLocalVar.Path, conversionId, filename);
                Events.ExecuteOnErrorDownloadFileApiV1ConvertConversionIdDownloadFilenameGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>
        /// </summary>
        public partial class DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse : FactPulse.SDK.Client.ApiResponse, IDownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse(ILogger<DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse(ILogger<DownloadFileApiV1ConvertConversionIdDownloadFilenameGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.APIError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.APIError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.APIError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetConversionStatusApiV1ConvertConversionIdStatusGet(ref string conversionId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="conversionId"></param>
        /// <returns></returns>
        private void ValidateGetConversionStatusApiV1ConvertConversionIdStatusGet(string conversionId)
        {
            if (conversionId == null)
                throw new ArgumentNullException(nameof(conversionId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="conversionId"></param>
        private void AfterGetConversionStatusApiV1ConvertConversionIdStatusGetDefaultImplementation(IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse apiResponseLocalVar, string conversionId)
        {
            bool suppressDefaultLog = false;
            AfterGetConversionStatusApiV1ConvertConversionIdStatusGet(ref suppressDefaultLog, apiResponseLocalVar, conversionId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="conversionId"></param>
        partial void AfterGetConversionStatusApiV1ConvertConversionIdStatusGet(ref bool suppressDefaultLog, IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse apiResponseLocalVar, string conversionId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="conversionId"></param>
        private void OnErrorGetConversionStatusApiV1ConvertConversionIdStatusGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string conversionId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetConversionStatusApiV1ConvertConversionIdStatusGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, conversionId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="conversionId"></param>
        partial void OnErrorGetConversionStatusApiV1ConvertConversionIdStatusGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string conversionId);

        /// <summary>
        /// Check conversion status Returns the current status of an asynchronous conversion.
        /// </summary>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>&gt;</returns>
        public async Task<IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse?> GetConversionStatusApiV1ConvertConversionIdStatusGetOrDefaultAsync(string conversionId, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetConversionStatusApiV1ConvertConversionIdStatusGetAsync(conversionId, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Check conversion status Returns the current status of an asynchronous conversion.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>&gt;</returns>
        public async Task<IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse> GetConversionStatusApiV1ConvertConversionIdStatusGetAsync(string conversionId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetConversionStatusApiV1ConvertConversionIdStatusGet(conversionId);

                FormatGetConversionStatusApiV1ConvertConversionIdStatusGet(ref conversionId);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/convert/{conversion_id}/status"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/convert/{conversion_id}/status");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bconversion_id%7D", Uri.EscapeDataString(conversionId.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    ApiKeyToken apiKeyTokenLocalVar1 = (ApiKeyToken) await ApiKeyProvider.GetAsync("X-API-Key", cancellationToken).ConfigureAwait(false);
                    tokenBaseLocalVars.Add(apiKeyTokenLocalVar1);
                    apiKeyTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar);

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar2 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar2);

                    bearerTokenLocalVar2.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse>();
                        GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/convert/{conversion_id}/status", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetConversionStatusApiV1ConvertConversionIdStatusGetDefaultImplementation(apiResponseLocalVar, conversionId);

                        Events.ExecuteOnGetConversionStatusApiV1ConvertConversionIdStatusGet(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetConversionStatusApiV1ConvertConversionIdStatusGetDefaultImplementation(e, "/api/v1/convert/{conversion_id}/status", uriBuilderLocalVar.Path, conversionId);
                Events.ExecuteOnErrorGetConversionStatusApiV1ConvertConversionIdStatusGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>
        /// </summary>
        public partial class GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse(ILogger<GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse(ILogger<GetConversionStatusApiV1ConvertConversionIdStatusGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Dictionary<string, Object>? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Dictionary<string, Object>>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Dictionary<string, Object>? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.APIError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.APIError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out FactPulse.SDK.Model.APIError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatResumeConversionApiV1ConvertConversionIdResumePost(ref string conversionId, ConvertResumeRequest convertResumeRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="conversionId"></param>
        /// <param name="convertResumeRequest"></param>
        /// <returns></returns>
        private void ValidateResumeConversionApiV1ConvertConversionIdResumePost(string conversionId, ConvertResumeRequest convertResumeRequest)
        {
            if (conversionId == null)
                throw new ArgumentNullException(nameof(conversionId));

            if (convertResumeRequest == null)
                throw new ArgumentNullException(nameof(convertResumeRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="convertResumeRequest"></param>
        private void AfterResumeConversionApiV1ConvertConversionIdResumePostDefaultImplementation(IResumeConversionApiV1ConvertConversionIdResumePostApiResponse apiResponseLocalVar, string conversionId, ConvertResumeRequest convertResumeRequest)
        {
            bool suppressDefaultLog = false;
            AfterResumeConversionApiV1ConvertConversionIdResumePost(ref suppressDefaultLog, apiResponseLocalVar, conversionId, convertResumeRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="convertResumeRequest"></param>
        partial void AfterResumeConversionApiV1ConvertConversionIdResumePost(ref bool suppressDefaultLog, IResumeConversionApiV1ConvertConversionIdResumePostApiResponse apiResponseLocalVar, string conversionId, ConvertResumeRequest convertResumeRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="convertResumeRequest"></param>
        private void OnErrorResumeConversionApiV1ConvertConversionIdResumePostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string conversionId, ConvertResumeRequest convertResumeRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorResumeConversionApiV1ConvertConversionIdResumePost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, conversionId, convertResumeRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="conversionId"></param>
        /// <param name="convertResumeRequest"></param>
        partial void OnErrorResumeConversionApiV1ConvertConversionIdResumePost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string conversionId, ConvertResumeRequest convertResumeRequest);

        /// <summary>
        /// Resume a conversion with corrections Resume a conversion after completing missing data or correcting errors.  The OCR extraction is preserved, data is updated with corrections, then a new Schematron validation is performed.
        /// </summary>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="convertResumeRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>&gt;</returns>
        public async Task<IResumeConversionApiV1ConvertConversionIdResumePostApiResponse?> ResumeConversionApiV1ConvertConversionIdResumePostOrDefaultAsync(string conversionId, ConvertResumeRequest convertResumeRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await ResumeConversionApiV1ConvertConversionIdResumePostAsync(conversionId, convertResumeRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Resume a conversion with corrections Resume a conversion after completing missing data or correcting errors.  The OCR extraction is preserved, data is updated with corrections, then a new Schematron validation is performed.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="conversionId">Conversion ID returned by POST /convert (UUID format)</param>
        /// <param name="convertResumeRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>&gt;</returns>
        public async Task<IResumeConversionApiV1ConvertConversionIdResumePostApiResponse> ResumeConversionApiV1ConvertConversionIdResumePostAsync(string conversionId, ConvertResumeRequest convertResumeRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateResumeConversionApiV1ConvertConversionIdResumePost(conversionId, convertResumeRequest);

                FormatResumeConversionApiV1ConvertConversionIdResumePost(ref conversionId, convertResumeRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/convert/{conversion_id}/resume"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/convert/{conversion_id}/resume");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bconversion_id%7D", Uri.EscapeDataString(conversionId.ToString()));

                    httpRequestMessageLocalVar.Content = (convertResumeRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(convertResumeRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    ApiKeyToken apiKeyTokenLocalVar1 = (ApiKeyToken) await ApiKeyProvider.GetAsync("X-API-Key", cancellationToken).ConfigureAwait(false);
                    tokenBaseLocalVars.Add(apiKeyTokenLocalVar1);
                    apiKeyTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar);

                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar2 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar2);

                    bearerTokenLocalVar2.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ResumeConversionApiV1ConvertConversionIdResumePostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<ResumeConversionApiV1ConvertConversionIdResumePostApiResponse>();
                        ResumeConversionApiV1ConvertConversionIdResumePostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/convert/{conversion_id}/resume", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterResumeConversionApiV1ConvertConversionIdResumePostDefaultImplementation(apiResponseLocalVar, conversionId, convertResumeRequest);

                        Events.ExecuteOnResumeConversionApiV1ConvertConversionIdResumePost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorResumeConversionApiV1ConvertConversionIdResumePostDefaultImplementation(e, "/api/v1/convert/{conversion_id}/resume", uriBuilderLocalVar.Path, conversionId, convertResumeRequest);
                Events.ExecuteOnErrorResumeConversionApiV1ConvertConversionIdResumePost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="ResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>
        /// </summary>
        public partial class ResumeConversionApiV1ConvertConversionIdResumePostApiResponse : FactPulse.SDK.Client.ApiResponse, IResumeConversionApiV1ConvertConversionIdResumePostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<ResumeConversionApiV1ConvertConversionIdResumePostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="ResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ResumeConversionApiV1ConvertConversionIdResumePostApiResponse(ILogger<ResumeConversionApiV1ConvertConversionIdResumePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="ResumeConversionApiV1ConvertConversionIdResumePostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ResumeConversionApiV1ConvertConversionIdResumePostApiResponse(ILogger<ResumeConversionApiV1ConvertConversionIdResumePostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.ConvertSuccessResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.ConvertSuccessResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.ConvertSuccessResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }
[...]
