// <auto-generated>
/*
 * FactPulse REST API
 *
 *  REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://www.factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://www.factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://www.factpulse.fr/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://www.factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IPDFXMLVerificationApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        PDFXMLVerificationApiEvents Events { get; }

        /// <summary>
        /// Get status of an asynchronous verification
        /// </summary>
        /// <remarks>
        /// Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>&gt;</returns>
        Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetAsync(string taskId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get status of an asynchronous verification
        /// </summary>
        /// <remarks>
        /// Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </remarks>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>?&gt;</returns>
        Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse?> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetOrDefaultAsync(string taskId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get status of an asynchronous verification
        /// </summary>
        /// <remarks>
        /// Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>&gt;</returns>
        Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Async(string taskId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get status of an asynchronous verification
        /// </summary>
        /// <remarks>
        /// Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </remarks>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>?&gt;</returns>
        Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse?> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0OrDefaultAsync(string taskId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (asynchronous)
        /// </summary>
        /// <remarks>
        /// Verifies PDF/XML Factur-X compliance asynchronously.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will return a &#x60;NOT_FACTURX&#x60; error in the result.  This version uses a Celery task and can call the OCR service if the PDF is an image or if &#x60;force_ocr&#x3D;true&#x60;.  **Returns immediately** a task ID. Use &#x60;/verify-async/{task_id}/status&#x60; to retrieve the result.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency  **Advantages over synchronous version:** - OCR support for image PDFs (via DocTR service) - Longer timeout for large documents - Doesn&#39;t block the server
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="forceOcr">Force OCR usage even if PDF contains native text (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>&gt;</returns>
        Task<IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse> VerifyPdfAsyncApiV1VerificationVerifyAsyncPostAsync(System.IO.Stream pdfFile, Option<bool> forceOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (asynchronous)
        /// </summary>
        /// <remarks>
        /// Verifies PDF/XML Factur-X compliance asynchronously.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will return a &#x60;NOT_FACTURX&#x60; error in the result.  This version uses a Celery task and can call the OCR service if the PDF is an image or if &#x60;force_ocr&#x3D;true&#x60;.  **Returns immediately** a task ID. Use &#x60;/verify-async/{task_id}/status&#x60; to retrieve the result.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency  **Advantages over synchronous version:** - OCR support for image PDFs (via DocTR service) - Longer timeout for large documents - Doesn&#39;t block the server
        /// </remarks>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="forceOcr">Force OCR usage even if PDF contains native text (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>?&gt;</returns>
        Task<IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse?> VerifyPdfAsyncApiV1VerificationVerifyAsyncPostOrDefaultAsync(System.IO.Stream pdfFile, Option<bool> forceOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (asynchronous)
        /// </summary>
        /// <remarks>
        /// Verifies PDF/XML Factur-X compliance asynchronously.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will return a &#x60;NOT_FACTURX&#x60; error in the result.  This version uses a Celery task and can call the OCR service if the PDF is an image or if &#x60;force_ocr&#x3D;true&#x60;.  **Returns immediately** a task ID. Use &#x60;/verify-async/{task_id}/status&#x60; to retrieve the result.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency  **Advantages over synchronous version:** - OCR support for image PDFs (via DocTR service) - Longer timeout for large documents - Doesn&#39;t block the server
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="forceOcr">Force OCR usage even if PDF contains native text (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse"/>&gt;</returns>
        Task<IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse> VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Async(System.IO.Stream pdfFile, Option<bool> forceOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (asynchronous)
        /// </summary>
        /// <remarks>
        /// Verifies PDF/XML Factur-X compliance asynchronously.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will return a &#x60;NOT_FACTURX&#x60; error in the result.  This version uses a Celery task and can call the OCR service if the PDF is an image or if &#x60;force_ocr&#x3D;true&#x60;.  **Returns immediately** a task ID. Use &#x60;/verify-async/{task_id}/status&#x60; to retrieve the result.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency  **Advantages over synchronous version:** - OCR support for image PDFs (via DocTR service) - Longer timeout for large documents - Doesn&#39;t block the server
        /// </remarks>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="forceOcr">Force OCR usage even if PDF contains native text (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse"/>?&gt;</returns>
        Task<IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse?> VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0OrDefaultAsync(System.IO.Stream pdfFile, Option<bool> forceOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (synchronous)
        /// </summary>
        /// <remarks>
        /// Verifies compliance between the PDF and its embedded Factur-X XML.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will be rejected with a 400 error.  This synchronous version uses only native PDF extraction (pdfplumber). For image PDFs requiring OCR, use the &#x60;/verify-async&#x60; endpoint.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfSyncApiV1VerificationVerifyPostApiResponse"/>&gt;</returns>
        Task<IVerifyPdfSyncApiV1VerificationVerifyPostApiResponse> VerifyPdfSyncApiV1VerificationVerifyPostAsync(System.IO.Stream pdfFile, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (synchronous)
        /// </summary>
        /// <remarks>
        /// Verifies compliance between the PDF and its embedded Factur-X XML.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will be rejected with a 400 error.  This synchronous version uses only native PDF extraction (pdfplumber). For image PDFs requiring OCR, use the &#x60;/verify-async&#x60; endpoint.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency
        /// </remarks>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfSyncApiV1VerificationVerifyPostApiResponse"/>?&gt;</returns>
        Task<IVerifyPdfSyncApiV1VerificationVerifyPostApiResponse?> VerifyPdfSyncApiV1VerificationVerifyPostOrDefaultAsync(System.IO.Stream pdfFile, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (synchronous)
        /// </summary>
        /// <remarks>
        /// Verifies compliance between the PDF and its embedded Factur-X XML.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will be rejected with a 400 error.  This synchronous version uses only native PDF extraction (pdfplumber). For image PDFs requiring OCR, use the &#x60;/verify-async&#x60; endpoint.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfSyncApiV1VerificationVerifyPost_0ApiResponse"/>&gt;</returns>
        Task<IVerifyPdfSyncApiV1VerificationVerifyPost_0ApiResponse> VerifyPdfSyncApiV1VerificationVerifyPost_0Async(System.IO.Stream pdfFile, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (synchronous)
        /// </summary>
        /// <remarks>
        /// Verifies compliance between the PDF and its embedded Factur-X XML.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will be rejected with a 400 error.  This synchronous version uses only native PDF extraction (pdfplumber). For image PDFs requiring OCR, use the &#x60;/verify-async&#x60; endpoint.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency
        /// </remarks>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfSyncApiV1VerificationVerifyPost_0ApiResponse"/>?&gt;</returns>
        Task<IVerifyPdfSyncApiV1VerificationVerifyPost_0ApiResponse?> VerifyPdfSyncApiV1VerificationVerifyPost_0OrDefaultAsync(System.IO.Stream pdfFile, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>
    /// </summary>
    public interface IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.TaskStatus?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>
    /// </summary>
    public interface IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.TaskStatus?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>
    /// </summary>
    public interface IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse : FactPulse.SDK.Client.IApiResponse, IAccepted<FactPulse.SDK.Model.TaskResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse"/>
    /// </summary>
    public interface IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse : FactPulse.SDK.Client.IApiResponse, IAccepted<FactPulse.SDK.Model.TaskResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifyPdfSyncApiV1VerificationVerifyPostApiResponse"/>
    /// </summary>
    public interface IVerifyPdfSyncApiV1VerificationVerifyPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.VerificationSuccessResponse?>, IBadRequest<FactPulse.SDK.Model.APIError?>, IContentTooLarge<FactPulse.SDK.Model.APIError?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 413 ContentTooLarge
        /// </summary>
        /// <returns></returns>
        bool IsContentTooLarge { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifyPdfSyncApiV1VerificationVerifyPost_0ApiResponse"/>
    /// </summary>
    public interface IVerifyPdfSyncApiV1VerificationVerifyPost_0ApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.VerificationSuccessResponse?>, IBadRequest<FactPulse.SDK.Model.APIError?>, IContentTooLarge<FactPulse.SDK.Model.APIError?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 413 ContentTooLarge
        /// </summary>
        /// <returns></returns>
        bool IsContentTooLarge { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class PDFXMLVerificationApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet;

        internal void ExecuteOnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(PDFXMLVerificationApi.GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse apiResponse)
        {
            OnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(Exception exception)
        {
            OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0;

        internal void ExecuteOnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(PDFXMLVerificationApi.GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse apiResponse)
        {
            OnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(Exception exception)
        {
            OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifyPdfAsyncApiV1VerificationVerifyAsyncPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost;

        internal void ExecuteOnVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(PDFXMLVerificationApi.VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse apiResponse)
        {
            OnVerifyPdfAsyncApiV1VerificationVerifyAsyncPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(Exception exception)
        {
            OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0;

        internal void ExecuteOnVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(PDFXMLVerificationApi.VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse apiResponse)
        {
            OnVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(Exception exception)
        {
            OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifyPdfSyncApiV1VerificationVerifyPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifyPdfSyncApiV1VerificationVerifyPost;

        internal void ExecuteOnVerifyPdfSyncApiV1VerificationVerifyPost(PDFXMLVerificationApi.VerifyPdfSyncApiV1VerificationVerifyPostApiResponse apiResponse)
        {
            OnVerifyPdfSyncApiV1VerificationVerifyPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifyPdfSyncApiV1VerificationVerifyPost(Exception exception)
        {
            OnErrorVerifyPdfSyncApiV1VerificationVerifyPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifyPdfSyncApiV1VerificationVerifyPost_0;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifyPdfSyncApiV1VerificationVerifyPost_0;

        internal void ExecuteOnVerifyPdfSyncApiV1VerificationVerifyPost_0(PDFXMLVerificationApi.VerifyPdfSyncApiV1VerificationVerifyPost_0ApiResponse apiResponse)
        {
            OnVerifyPdfSyncApiV1VerificationVerifyPost_0?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifyPdfSyncApiV1VerificationVerifyPost_0(Exception exception)
        {
            OnErrorVerifyPdfSyncApiV1VerificationVerifyPost_0?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class PDFXMLVerificationApi : IPDFXMLVerificationApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<PDFXMLVerificationApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public PDFXMLVerificationApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="PDFXMLVerificationApi"/> class.
        /// </summary>
        /// <returns></returns>
        public PDFXMLVerificationApi(ILogger<PDFXMLVerificationApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, PDFXMLVerificationApiEvents pDFXMLVerificationApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<PDFXMLVerificationApi>();
            HttpClient = httpClient;
            Events = pDFXMLVerificationApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(ref string taskId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="taskId"></param>
        /// <returns></returns>
        private void ValidateGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(string taskId)
        {
            if (taskId == null)
                throw new ArgumentNullException(nameof(taskId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="taskId"></param>
        private void AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetDefaultImplementation(IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse apiResponseLocalVar, string taskId)
        {
            bool suppressDefaultLog = false;
            AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(ref suppressDefaultLog, apiResponseLocalVar, taskId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="taskId"></param>
        partial void AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(ref bool suppressDefaultLog, IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse apiResponseLocalVar, string taskId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="taskId"></param>
        private void OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string taskId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, taskId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="taskId"></param>
        partial void OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string taskId);

        /// <summary>
        /// Get status of an asynchronous verification Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </summary>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>&gt;</returns>
        public async Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse?> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetOrDefaultAsync(string taskId, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetAsync(taskId, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Get status of an asynchronous verification Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>&gt;</returns>
        public async Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetAsync(string taskId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(taskId);

                FormatGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(ref taskId);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/verification/verify-async/{task_id}/status"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/verification/verify-async/{task_id}/status");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Btask_id%7D", Uri.EscapeDataString(taskId.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse>();
                        GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/verification/verify-async/{task_id}/status", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetDefaultImplementation(apiResponseLocalVar, taskId);

                        Events.ExecuteOnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetDefaultImplementation(e, "/api/v1/verification/verify-async/{task_id}/status", uriBuilderLocalVar.Path, taskId);
                Events.ExecuteOnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>
        /// </summary>
        public partial class GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse : FactPulse.SDK.Client.ApiResponse, IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse(ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse(ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.TaskStatus? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.TaskStatus>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.TaskStatus? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(ref string taskId);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="taskId"></param>
        /// <returns></returns>
        private void ValidateGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(string taskId)
        {
            if (taskId == null)
                throw new ArgumentNullException(nameof(taskId));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="taskId"></param>
        private void AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0DefaultImplementation(IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse apiResponseLocalVar, string taskId)
        {
            bool suppressDefaultLog = false;
            AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(ref suppressDefaultLog, apiResponseLocalVar, taskId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="taskId"></param>
        partial void AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(ref bool suppressDefaultLog, IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse apiResponseLocalVar, string taskId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="taskId"></param>
        private void OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0DefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string taskId)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, taskId);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="taskId"></param>
        partial void OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string taskId);

        /// <summary>
        /// Get status of an asynchronous verification Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </summary>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>&gt;</returns>
        public async Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse?> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0OrDefaultAsync(string taskId, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Async(taskId, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Get status of an asynchronous verification Retrieves the status and result of an asynchronous verification task.  **Possible statuses:** - &#x60;PENDING&#x60;: Task waiting in queue - &#x60;STARTED&#x60;: Task currently running - &#x60;SUCCESS&#x60;: Task completed successfully (see &#x60;result&#x60;) - &#x60;FAILURE&#x60;: System error (unhandled exception)  **Note:** The &#x60;result.status&#x60; field can be \&quot;SUCCESS\&quot; or \&quot;ERROR\&quot; independently of Celery status (which will always be SUCCESS if the task ran).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="taskId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>&gt;</returns>
        public async Task<IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse> GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Async(string taskId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(taskId);

                FormatGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(ref taskId);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/verification/verify-async/{task_id}/status"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/verification/verify-async/{task_id}/status");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Btask_id%7D", Uri.EscapeDataString(taskId.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse>();
                        GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/verification/verify-async/{task_id}/status", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0DefaultImplementation(apiResponseLocalVar, taskId);

                        Events.ExecuteOnGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0DefaultImplementation(e, "/api/v1/verification/verify-async/{task_id}/status", uriBuilderLocalVar.Path, taskId);
                Events.ExecuteOnErrorGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>
        /// </summary>
        public partial class GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse : FactPulse.SDK.Client.ApiResponse, IGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse(ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse(ILogger<GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0ApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.TaskStatus? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.TaskStatus>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.TaskStatus? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(ref System.IO.Stream pdfFile, ref Option<bool> forceOcr);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="pdfFile"></param>
        /// <returns></returns>
        private void ValidateVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(System.IO.Stream pdfFile)
        {
            if (pdfFile == null)
                throw new ArgumentNullException(nameof(pdfFile));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        private void AfterVerifyPdfAsyncApiV1VerificationVerifyAsyncPostDefaultImplementation(IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr)
        {
            bool suppressDefaultLog = false;
            AfterVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(ref suppressDefaultLog, apiResponseLocalVar, pdfFile, forceOcr);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        partial void AfterVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(ref bool suppressDefaultLog, IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        private void OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, pdfFile, forceOcr);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        partial void OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (asynchronous) Verifies PDF/XML Factur-X compliance asynchronously.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will return a &#x60;NOT_FACTURX&#x60; error in the result.  This version uses a Celery task and can call the OCR service if the PDF is an image or if &#x60;force_ocr&#x3D;true&#x60;.  **Returns immediately** a task ID. Use &#x60;/verify-async/{task_id}/status&#x60; to retrieve the result.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency  **Advantages over synchronous version:** - OCR support for image PDFs (via DocTR service) - Longer timeout for large documents - Doesn&#39;t block the server
        /// </summary>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="forceOcr">Force OCR usage even if PDF contains native text (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>&gt;</returns>
        public async Task<IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse?> VerifyPdfAsyncApiV1VerificationVerifyAsyncPostOrDefaultAsync(System.IO.Stream pdfFile, Option<bool> forceOcr = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await VerifyPdfAsyncApiV1VerificationVerifyAsyncPostAsync(pdfFile, forceOcr, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (asynchronous) Verifies PDF/XML Factur-X compliance asynchronously.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will return a &#x60;NOT_FACTURX&#x60; error in the result.  This version uses a Celery task and can call the OCR service if the PDF is an image or if &#x60;force_ocr&#x3D;true&#x60;.  **Returns immediately** a task ID. Use &#x60;/verify-async/{task_id}/status&#x60; to retrieve the result.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency  **Advantages over synchronous version:** - OCR support for image PDFs (via DocTR service) - Longer timeout for large documents - Doesn&#39;t block the server
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="forceOcr">Force OCR usage even if PDF contains native text (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>&gt;</returns>
        public async Task<IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse> VerifyPdfAsyncApiV1VerificationVerifyAsyncPostAsync(System.IO.Stream pdfFile, Option<bool> forceOcr = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(pdfFile);

                FormatVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(ref pdfFile, ref forceOcr);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/verification/verify-async"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/verification/verify-async");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));                    multipartContentLocalVar.Add(new StreamContent(pdfFile));

                    if (forceOcr.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("force_ocr", ClientUtils.ParameterToString(forceOcr.Value)));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse>();
                        VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/verification/verify-async", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterVerifyPdfAsyncApiV1VerificationVerifyAsyncPostDefaultImplementation(apiResponseLocalVar, pdfFile, forceOcr);

                        Events.ExecuteOnVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPostDefaultImplementation(e, "/api/v1/verification/verify-async", uriBuilderLocalVar.Path, pdfFile, forceOcr);
                Events.ExecuteOnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>
        /// </summary>
        public partial class VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse : FactPulse.SDK.Client.ApiResponse, IVerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse(ILogger<VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse(ILogger<VerifyPdfAsyncApiV1VerificationVerifyAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public bool IsAccepted => 202 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.TaskResponse? Accepted()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsAccepted
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.TaskResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 202 Accepted and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryAccepted([NotNullWhen(true)]out FactPulse.SDK.Model.TaskResponse? result)
            {
                result = null;

                try
                {
                    result = Accepted();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)202);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(ref System.IO.Stream pdfFile, ref Option<bool> forceOcr);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="pdfFile"></param>
        /// <returns></returns>
        private void ValidateVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(System.IO.Stream pdfFile)
        {
            if (pdfFile == null)
                throw new ArgumentNullException(nameof(pdfFile));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        private void AfterVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0DefaultImplementation(IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr)
        {
            bool suppressDefaultLog = false;
            AfterVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(ref suppressDefaultLog, apiResponseLocalVar, pdfFile, forceOcr);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        partial void AfterVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(ref bool suppressDefaultLog, IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse apiResponseLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        private void OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0DefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, pdfFile, forceOcr);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="pdfFile"></param>
        /// <param name="forceOcr"></param>
        partial void OnErrorVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream pdfFile, Option<bool> forceOcr);

        /// <summary>
        /// Verify PDF/XML Factur-X compliance (asynchronous) Verifies PDF/XML Factur-X compliance asynchronously.  **IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted. PDFs without Factur-X XML will return a &#x60;NOT_FACTURX&#x60; error in the result.  This version uses a Celery task and can call the OCR service if the PDF is an image or if &#x60;force_ocr&#x3D;true&#x60;.  **Returns immediately** a task ID. Use &#x60;/verify-async/{task_id}/status&#x60; to retrieve the result.  **Verification principle (Factur-X 1.08):** - Principle #2: XML can only contain info present in the PDF - Principle #4: All XML info must be present and compliant in the PDF  **Verified fields:** - Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework) - Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT) - Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT) - Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due) - VAT breakdown: BT-116, BT-117, BT-118, BT-119 - Invoice lines: BT-153, BT-129, BT-146, BT-131 - Mandatory notes: PMT, PMD, AAB - Rule BR-FR-09: SIRET/SIREN consistency  **Advantages over synchronous version:** - OCR support for image PDFs (via DocTR service) - Longer timeout for large documents - Doesn&#39;t block the server
        /// </summary>
        /// <param name="pdfFile">Factur-X PDF file to verify</param>
        /// <param name="forceOcr">Force OCR usage even if PDF contains native text (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse"/>&gt;</returns>
        public async Task<IVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0ApiResponse?> VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0OrDefaultAsync(System.IO.Stream pdfFile, Option<bool> forceOcr = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Async(pdfFile, forceOcr, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
[...]
