// <auto-generated>
/*
 * API REST FactPulse
 *
 *  API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface ISignatureLectroniqueApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        SignatureLectroniqueApiEvents Events { get; }

        /// <summary>
        /// Générer un certificat X.509 auto-signé de test
        /// </summary>
        /// <remarks>
        /// Génère un certificat X.509 auto-signé pour les tests de signature électronique PDF.      **⚠️ ATTENTION : Certificat de TEST uniquement !**      Ce certificat est :     - ✅ Adapté pour tests et développement     - ✅ Compatible signature PDF (PAdES)     - ✅ Conforme eIDAS niveau **SES** (Simple Electronic Signature)     - ❌ **JAMAIS utilisable en production**     - ❌ **Non reconnu** par les navigateurs et lecteurs PDF     - ❌ **Aucune valeur juridique**      ## Niveaux eIDAS      - **SES** (Simple) : Certificat auto-signé ← Généré par cet endpoint     - **AdES** (Advanced) : Certificat CA commerciale (Let&#39;s Encrypt, etc.)     - **QES** (Qualified) : Certificat qualifié PSCO (CertEurope, Universign, etc.)      ## Utilisation      Une fois généré, le certificat peut être :      1. **Enregistré dans Django** (recommandé) :        - Django Admin &gt; Certificats de signature        - Upload &#x60;certificat_pem&#x60; et &#x60;cle_privee_pem&#x60;      2. **Utilisé directement** :        - Signer un PDF avec &#x60;/signer-pdf&#x60;        - Le certificat sera automatiquement utilisé      ## Exemple d&#39;appel      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://www.factpulse.fr/api/facturation/generer-certificat-test\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organisation\&quot;: \&quot;Client XYZ SARL\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.fr\&quot;,         \&quot;duree_jours\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Cas d&#39;usage      - Tests de signature PDF en développement     - POC de signature électronique     - Formation et démos     - Tests d&#39;intégration automatisés      ## Conformité technique      Certificat généré avec :     - Clé RSA 2048 ou 4096 bits     - Algorithme SHA-256     - Extensions Key Usage : &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extensions Extended Key Usage : &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validité : 1 jour à 10 ans (configurable)     - Format : PEM (certificat et clé)     - Optionnel : PKCS#12 (.p12)
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>&gt;</returns>
        Task<IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse> GenererCertificatTestApiV1TraitementGenererCertificatTestPostAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Générer un certificat X.509 auto-signé de test
        /// </summary>
        /// <remarks>
        /// Génère un certificat X.509 auto-signé pour les tests de signature électronique PDF.      **⚠️ ATTENTION : Certificat de TEST uniquement !**      Ce certificat est :     - ✅ Adapté pour tests et développement     - ✅ Compatible signature PDF (PAdES)     - ✅ Conforme eIDAS niveau **SES** (Simple Electronic Signature)     - ❌ **JAMAIS utilisable en production**     - ❌ **Non reconnu** par les navigateurs et lecteurs PDF     - ❌ **Aucune valeur juridique**      ## Niveaux eIDAS      - **SES** (Simple) : Certificat auto-signé ← Généré par cet endpoint     - **AdES** (Advanced) : Certificat CA commerciale (Let&#39;s Encrypt, etc.)     - **QES** (Qualified) : Certificat qualifié PSCO (CertEurope, Universign, etc.)      ## Utilisation      Une fois généré, le certificat peut être :      1. **Enregistré dans Django** (recommandé) :        - Django Admin &gt; Certificats de signature        - Upload &#x60;certificat_pem&#x60; et &#x60;cle_privee_pem&#x60;      2. **Utilisé directement** :        - Signer un PDF avec &#x60;/signer-pdf&#x60;        - Le certificat sera automatiquement utilisé      ## Exemple d&#39;appel      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://www.factpulse.fr/api/facturation/generer-certificat-test\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organisation\&quot;: \&quot;Client XYZ SARL\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.fr\&quot;,         \&quot;duree_jours\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Cas d&#39;usage      - Tests de signature PDF en développement     - POC de signature électronique     - Formation et démos     - Tests d&#39;intégration automatisés      ## Conformité technique      Certificat généré avec :     - Clé RSA 2048 ou 4096 bits     - Algorithme SHA-256     - Extensions Key Usage : &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extensions Extended Key Usage : &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validité : 1 jour à 10 ans (configurable)     - Format : PEM (certificat et clé)     - Optionnel : PKCS#12 (.p12)
        /// </remarks>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>?&gt;</returns>
        Task<IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse?> GenererCertificatTestApiV1TraitementGenererCertificatTestPostOrDefaultAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Signer un PDF avec le certificat du client (PAdES-B-LT)
        /// </summary>
        /// <remarks>
        /// Signe un PDF uploadé avec le certificat électronique configuré pour le client (via client_uid du JWT).      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO - hors scope).      **⚠️ Disclaimer légal** : Les signatures générées sont des cachets électroniques au sens     du règlement eIDAS. Le niveau de validité juridique dépend du certificat utilisé (SES/AdES/QES).     FactPulse ne fournit pas de certificats qualifiés QES - vous devez obtenir un certificat auprès     d&#39;un PSCO (Prestataire de Services de Confiance qualifié) pour une validité juridique maximale.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF à signer (sera traité puis retourné signé en base64)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfApiV1TraitementSignerPdfPostApiResponse"/>&gt;</returns>
        Task<ISignerPdfApiV1TraitementSignerPdfPostApiResponse> SignerPdfApiV1TraitementSignerPdfPostAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Signer un PDF avec le certificat du client (PAdES-B-LT)
        /// </summary>
        /// <remarks>
        /// Signe un PDF uploadé avec le certificat électronique configuré pour le client (via client_uid du JWT).      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO - hors scope).      **⚠️ Disclaimer légal** : Les signatures générées sont des cachets électroniques au sens     du règlement eIDAS. Le niveau de validité juridique dépend du certificat utilisé (SES/AdES/QES).     FactPulse ne fournit pas de certificats qualifiés QES - vous devez obtenir un certificat auprès     d&#39;un PSCO (Prestataire de Services de Confiance qualifié) pour une validité juridique maximale.
        /// </remarks>
        /// <param name="fichierPdf">Fichier PDF à signer (sera traité puis retourné signé en base64)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfApiV1TraitementSignerPdfPostApiResponse"/>?&gt;</returns>
        Task<ISignerPdfApiV1TraitementSignerPdfPostApiResponse?> SignerPdfApiV1TraitementSignerPdfPostOrDefaultAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Signer un PDF de manière asynchrone (Celery)
        /// </summary>
        /// <remarks>
        /// Signe un PDF uploadé de manière asynchrone via une tâche Celery.      **Différence avec /signer-pdf** :     - &#x60;/signer-pdf&#x60; : Signature synchrone (blocage jusqu&#39;à la fin)     - &#x60;/signer-pdf-async&#x60; : Signature asynchrone (retourne immédiatement un task_id)      **Avantages de l&#39;async** :     - Pas de timeout pour les gros fichiers     - Pas de blocage du worker FastAPI     - Possibilité de suivre la progression via le task_id     - Idéal pour les traitements par lot      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **⚠️ Disclaimer légal** : Identique à /signer-pdf (voir documentation de cet endpoint).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF à signer (traité de manière asynchrone)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>&gt;</returns>
        Task<ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse> SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Signer un PDF de manière asynchrone (Celery)
        /// </summary>
        /// <remarks>
        /// Signe un PDF uploadé de manière asynchrone via une tâche Celery.      **Différence avec /signer-pdf** :     - &#x60;/signer-pdf&#x60; : Signature synchrone (blocage jusqu&#39;à la fin)     - &#x60;/signer-pdf-async&#x60; : Signature asynchrone (retourne immédiatement un task_id)      **Avantages de l&#39;async** :     - Pas de timeout pour les gros fichiers     - Pas de blocage du worker FastAPI     - Possibilité de suivre la progression via le task_id     - Idéal pour les traitements par lot      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **⚠️ Disclaimer légal** : Identique à /signer-pdf (voir documentation de cet endpoint).
        /// </remarks>
        /// <param name="fichierPdf">Fichier PDF à signer (traité de manière asynchrone)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>?&gt;</returns>
        Task<ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse?> SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostOrDefaultAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Valider les signatures électroniques d&#39;un PDF
        /// </summary>
        /// <remarks>
        /// Valide les signatures électroniques présentes dans un PDF uploadé.      **Vérifications effectuées** :     - Présence de signatures     - Intégrité du document (non modifié depuis signature)     - Validité des certificats     - Chaîne de confiance (si disponible)     - Présence d&#39;horodatage (PAdES-B-T)     - Données de validation (PAdES-B-LT)      **Standards supportés** : PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.      **⚠️ Note** : Cette validation est technique (intégrité cryptographique). La validité juridique     dépend du niveau eIDAS du certificat (SES/AdES/QES) et du contexte d&#39;utilisation.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF à valider (sera analysé pour détecter et valider les signatures)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostApiResponse"/>&gt;</returns>
        Task<IValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostApiResponse> ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostAsync(System.IO.Stream fichierPdf, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Valider les signatures électroniques d&#39;un PDF
        /// </summary>
        /// <remarks>
        /// Valide les signatures électroniques présentes dans un PDF uploadé.      **Vérifications effectuées** :     - Présence de signatures     - Intégrité du document (non modifié depuis signature)     - Validité des certificats     - Chaîne de confiance (si disponible)     - Présence d&#39;horodatage (PAdES-B-T)     - Données de validation (PAdES-B-LT)      **Standards supportés** : PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.      **⚠️ Note** : Cette validation est technique (intégrité cryptographique). La validité juridique     dépend du niveau eIDAS du certificat (SES/AdES/QES) et du contexte d&#39;utilisation.
        /// </remarks>
        /// <param name="fichierPdf">Fichier PDF à valider (sera analysé pour détecter et valider les signatures)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostApiResponse"/>?&gt;</returns>
        Task<IValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostApiResponse?> ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostOrDefaultAsync(System.IO.Stream fichierPdf, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>
    /// </summary>
    public interface IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.GenerateCertificateResponse?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ISignerPdfApiV1TraitementSignerPdfPostApiResponse"/>
    /// </summary>
    public interface ISignerPdfApiV1TraitementSignerPdfPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>
    /// </summary>
    public interface ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostApiResponse"/>
    /// </summary>
    public interface IValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<Object?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class SignatureLectroniqueApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenererCertificatTestApiV1TraitementGenererCertificatTestPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPost;

        internal void ExecuteOnGenererCertificatTestApiV1TraitementGenererCertificatTestPost(SignatureLectroniqueApi.GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse apiResponse)
        {
            OnGenererCertificatTestApiV1TraitementGenererCertificatTestPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPost(Exception exception)
        {
            OnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSignerPdfApiV1TraitementSignerPdfPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSignerPdfApiV1TraitementSignerPdfPost;

        internal void ExecuteOnSignerPdfApiV1TraitementSignerPdfPost(SignatureLectroniqueApi.SignerPdfApiV1TraitementSignerPdfPostApiResponse apiResponse)
        {
            OnSignerPdfApiV1TraitementSignerPdfPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSignerPdfApiV1TraitementSignerPdfPost(Exception exception)
        {
            OnErrorSignerPdfApiV1TraitementSignerPdfPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost;

        internal void ExecuteOnSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(SignatureLectroniqueApi.SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse apiResponse)
        {
            OnSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(Exception exception)
        {
            OnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost;

        internal void ExecuteOnValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost(SignatureLectroniqueApi.ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostApiResponse apiResponse)
        {
            OnValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost(Exception exception)
        {
            OnErrorValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class SignatureLectroniqueApi : ISignatureLectroniqueApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<SignatureLectroniqueApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public SignatureLectroniqueApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="SignatureLectroniqueApi"/> class.
        /// </summary>
        /// <returns></returns>
        public SignatureLectroniqueApi(ILogger<SignatureLectroniqueApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, SignatureLectroniqueApiEvents signatureLectroniqueApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<SignatureLectroniqueApi>();
            HttpClient = httpClient;
            Events = signatureLectroniqueApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatGenererCertificatTestApiV1TraitementGenererCertificatTestPost(GenerateCertificateRequest generateCertificateRequest);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="generateCertificateRequest"></param>
        /// <returns></returns>
        private void ValidateGenererCertificatTestApiV1TraitementGenererCertificatTestPost(GenerateCertificateRequest generateCertificateRequest)
        {
            if (generateCertificateRequest == null)
                throw new ArgumentNullException(nameof(generateCertificateRequest));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        private void AfterGenererCertificatTestApiV1TraitementGenererCertificatTestPostDefaultImplementation(IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse apiResponseLocalVar, GenerateCertificateRequest generateCertificateRequest)
        {
            bool suppressDefaultLog = false;
            AfterGenererCertificatTestApiV1TraitementGenererCertificatTestPost(ref suppressDefaultLog, apiResponseLocalVar, generateCertificateRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        partial void AfterGenererCertificatTestApiV1TraitementGenererCertificatTestPost(ref bool suppressDefaultLog, IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse apiResponseLocalVar, GenerateCertificateRequest generateCertificateRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        private void OnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, GenerateCertificateRequest generateCertificateRequest)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, generateCertificateRequest);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="generateCertificateRequest"></param>
        partial void OnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, GenerateCertificateRequest generateCertificateRequest);

        /// <summary>
        /// Générer un certificat X.509 auto-signé de test Génère un certificat X.509 auto-signé pour les tests de signature électronique PDF.      **⚠️ ATTENTION : Certificat de TEST uniquement !**      Ce certificat est :     - ✅ Adapté pour tests et développement     - ✅ Compatible signature PDF (PAdES)     - ✅ Conforme eIDAS niveau **SES** (Simple Electronic Signature)     - ❌ **JAMAIS utilisable en production**     - ❌ **Non reconnu** par les navigateurs et lecteurs PDF     - ❌ **Aucune valeur juridique**      ## Niveaux eIDAS      - **SES** (Simple) : Certificat auto-signé ← Généré par cet endpoint     - **AdES** (Advanced) : Certificat CA commerciale (Let&#39;s Encrypt, etc.)     - **QES** (Qualified) : Certificat qualifié PSCO (CertEurope, Universign, etc.)      ## Utilisation      Une fois généré, le certificat peut être :      1. **Enregistré dans Django** (recommandé) :        - Django Admin &gt; Certificats de signature        - Upload &#x60;certificat_pem&#x60; et &#x60;cle_privee_pem&#x60;      2. **Utilisé directement** :        - Signer un PDF avec &#x60;/signer-pdf&#x60;        - Le certificat sera automatiquement utilisé      ## Exemple d&#39;appel      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://www.factpulse.fr/api/facturation/generer-certificat-test\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organisation\&quot;: \&quot;Client XYZ SARL\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.fr\&quot;,         \&quot;duree_jours\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Cas d&#39;usage      - Tests de signature PDF en développement     - POC de signature électronique     - Formation et démos     - Tests d&#39;intégration automatisés      ## Conformité technique      Certificat généré avec :     - Clé RSA 2048 ou 4096 bits     - Algorithme SHA-256     - Extensions Key Usage : &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extensions Extended Key Usage : &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validité : 1 jour à 10 ans (configurable)     - Format : PEM (certificat et clé)     - Optionnel : PKCS#12 (.p12)
        /// </summary>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>&gt;</returns>
        public async Task<IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse?> GenererCertificatTestApiV1TraitementGenererCertificatTestPostOrDefaultAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await GenererCertificatTestApiV1TraitementGenererCertificatTestPostAsync(generateCertificateRequest, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Générer un certificat X.509 auto-signé de test Génère un certificat X.509 auto-signé pour les tests de signature électronique PDF.      **⚠️ ATTENTION : Certificat de TEST uniquement !**      Ce certificat est :     - ✅ Adapté pour tests et développement     - ✅ Compatible signature PDF (PAdES)     - ✅ Conforme eIDAS niveau **SES** (Simple Electronic Signature)     - ❌ **JAMAIS utilisable en production**     - ❌ **Non reconnu** par les navigateurs et lecteurs PDF     - ❌ **Aucune valeur juridique**      ## Niveaux eIDAS      - **SES** (Simple) : Certificat auto-signé ← Généré par cet endpoint     - **AdES** (Advanced) : Certificat CA commerciale (Let&#39;s Encrypt, etc.)     - **QES** (Qualified) : Certificat qualifié PSCO (CertEurope, Universign, etc.)      ## Utilisation      Une fois généré, le certificat peut être :      1. **Enregistré dans Django** (recommandé) :        - Django Admin &gt; Certificats de signature        - Upload &#x60;certificat_pem&#x60; et &#x60;cle_privee_pem&#x60;      2. **Utilisé directement** :        - Signer un PDF avec &#x60;/signer-pdf&#x60;        - Le certificat sera automatiquement utilisé      ## Exemple d&#39;appel      &#x60;&#x60;&#x60;bash     curl -X POST \&quot;https://www.factpulse.fr/api/facturation/generer-certificat-test\&quot; \\       -H \&quot;Authorization: Bearer eyJ0eXAi...\&quot; \\       -H \&quot;Content-Type: application/json\&quot; \\       -d &#39;{         \&quot;cn\&quot;: \&quot;Test Client XYZ\&quot;,         \&quot;organisation\&quot;: \&quot;Client XYZ SARL\&quot;,         \&quot;email\&quot;: \&quot;contact@xyz.fr\&quot;,         \&quot;duree_jours\&quot;: 365       }&#39;     &#x60;&#x60;&#x60;      ## Cas d&#39;usage      - Tests de signature PDF en développement     - POC de signature électronique     - Formation et démos     - Tests d&#39;intégration automatisés      ## Conformité technique      Certificat généré avec :     - Clé RSA 2048 ou 4096 bits     - Algorithme SHA-256     - Extensions Key Usage : &#x60;digitalSignature&#x60;, &#x60;contentCommitment&#x60; (non-repudiation)     - Extensions Extended Key Usage : &#x60;codeSigning&#x60;, &#x60;emailProtection&#x60;     - Validité : 1 jour à 10 ans (configurable)     - Format : PEM (certificat et clé)     - Optionnel : PKCS#12 (.p12)
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="generateCertificateRequest"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>&gt;</returns>
        public async Task<IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse> GenererCertificatTestApiV1TraitementGenererCertificatTestPostAsync(GenerateCertificateRequest generateCertificateRequest, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateGenererCertificatTestApiV1TraitementGenererCertificatTestPost(generateCertificateRequest);

                FormatGenererCertificatTestApiV1TraitementGenererCertificatTestPost(generateCertificateRequest);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/traitement/generer-certificat-test"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/traitement/generer-certificat-test");

                    httpRequestMessageLocalVar.Content = (generateCertificateRequest as object) is System.IO.Stream stream
                        ? httpRequestMessageLocalVar.Content = new StreamContent(stream)
                        : httpRequestMessageLocalVar.Content = new StringContent(JsonSerializer.Serialize(generateCertificateRequest, _jsonSerializerOptions));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse>();
                        GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/traitement/generer-certificat-test", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGenererCertificatTestApiV1TraitementGenererCertificatTestPostDefaultImplementation(apiResponseLocalVar, generateCertificateRequest);

                        Events.ExecuteOnGenererCertificatTestApiV1TraitementGenererCertificatTestPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPostDefaultImplementation(e, "/api/v1/traitement/generer-certificat-test", uriBuilderLocalVar.Path, generateCertificateRequest);
                Events.ExecuteOnErrorGenererCertificatTestApiV1TraitementGenererCertificatTestPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>
        /// </summary>
        public partial class GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse : FactPulse.SDK.Client.ApiResponse, IGenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse(ILogger<GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse(ILogger<GenererCertificatTestApiV1TraitementGenererCertificatTestPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.GenerateCertificateResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.GenerateCertificateResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.GenerateCertificateResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSignerPdfApiV1TraitementSignerPdfPost(ref System.IO.Stream fichierPdf, ref Option<string?> raison, ref Option<string?> localisation, ref Option<string?> contact, ref Option<string> fieldName, ref Option<bool> usePadesLt, ref Option<bool> useTimestamp);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="fichierPdf"></param>
        /// <param name="fieldName"></param>
        /// <returns></returns>
        private void ValidateSignerPdfApiV1TraitementSignerPdfPost(System.IO.Stream fichierPdf, Option<string> fieldName)
        {
            if (fichierPdf == null)
                throw new ArgumentNullException(nameof(fichierPdf));

            if (fieldName.IsSet && fieldName.Value == null)
                throw new ArgumentNullException(nameof(fieldName));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void AfterSignerPdfApiV1TraitementSignerPdfPostDefaultImplementation(ISignerPdfApiV1TraitementSignerPdfPostApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLog = false;
            AfterSignerPdfApiV1TraitementSignerPdfPost(ref suppressDefaultLog, apiResponseLocalVar, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void AfterSignerPdfApiV1TraitementSignerPdfPost(ref bool suppressDefaultLog, ISignerPdfApiV1TraitementSignerPdfPostApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void OnErrorSignerPdfApiV1TraitementSignerPdfPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSignerPdfApiV1TraitementSignerPdfPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void OnErrorSignerPdfApiV1TraitementSignerPdfPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Signer un PDF avec le certificat du client (PAdES-B-LT) Signe un PDF uploadé avec le certificat électronique configuré pour le client (via client_uid du JWT).      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO - hors scope).      **⚠️ Disclaimer légal** : Les signatures générées sont des cachets électroniques au sens     du règlement eIDAS. Le niveau de validité juridique dépend du certificat utilisé (SES/AdES/QES).     FactPulse ne fournit pas de certificats qualifiés QES - vous devez obtenir un certificat auprès     d&#39;un PSCO (Prestataire de Services de Confiance qualifié) pour une validité juridique maximale.
        /// </summary>
        /// <param name="fichierPdf">Fichier PDF à signer (sera traité puis retourné signé en base64)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfApiV1TraitementSignerPdfPostApiResponse"/>&gt;</returns>
        public async Task<ISignerPdfApiV1TraitementSignerPdfPostApiResponse?> SignerPdfApiV1TraitementSignerPdfPostOrDefaultAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SignerPdfApiV1TraitementSignerPdfPostAsync(fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Signer un PDF avec le certificat du client (PAdES-B-LT) Signe un PDF uploadé avec le certificat électronique configuré pour le client (via client_uid du JWT).      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO - hors scope).      **⚠️ Disclaimer légal** : Les signatures générées sont des cachets électroniques au sens     du règlement eIDAS. Le niveau de validité juridique dépend du certificat utilisé (SES/AdES/QES).     FactPulse ne fournit pas de certificats qualifiés QES - vous devez obtenir un certificat auprès     d&#39;un PSCO (Prestataire de Services de Confiance qualifié) pour une validité juridique maximale.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF à signer (sera traité puis retourné signé en base64)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfApiV1TraitementSignerPdfPostApiResponse"/>&gt;</returns>
        public async Task<ISignerPdfApiV1TraitementSignerPdfPostApiResponse> SignerPdfApiV1TraitementSignerPdfPostAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSignerPdfApiV1TraitementSignerPdfPost(fichierPdf, fieldName);

                FormatSignerPdfApiV1TraitementSignerPdfPost(ref fichierPdf, ref raison, ref localisation, ref contact, ref fieldName, ref usePadesLt, ref useTimestamp);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/traitement/signer-pdf"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/traitement/signer-pdf");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));                    multipartContentLocalVar.Add(new StreamContent(fichierPdf));

                    if (raison.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("raison", ClientUtils.ParameterToString(raison.Value)));

                    if (localisation.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("localisation", ClientUtils.ParameterToString(localisation.Value)));

                    if (contact.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("contact", ClientUtils.ParameterToString(contact.Value)));

                    if (fieldName.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("field_name", ClientUtils.ParameterToString(fieldName.Value)));

                    if (usePadesLt.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_pades_lt", ClientUtils.ParameterToString(usePadesLt.Value)));

                    if (useTimestamp.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_timestamp", ClientUtils.ParameterToString(useTimestamp.Value)));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SignerPdfApiV1TraitementSignerPdfPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SignerPdfApiV1TraitementSignerPdfPostApiResponse>();
                        SignerPdfApiV1TraitementSignerPdfPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/traitement/signer-pdf", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSignerPdfApiV1TraitementSignerPdfPostDefaultImplementation(apiResponseLocalVar, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);

                        Events.ExecuteOnSignerPdfApiV1TraitementSignerPdfPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSignerPdfApiV1TraitementSignerPdfPostDefaultImplementation(e, "/api/v1/traitement/signer-pdf", uriBuilderLocalVar.Path, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);
                Events.ExecuteOnErrorSignerPdfApiV1TraitementSignerPdfPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SignerPdfApiV1TraitementSignerPdfPostApiResponse"/>
        /// </summary>
        public partial class SignerPdfApiV1TraitementSignerPdfPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISignerPdfApiV1TraitementSignerPdfPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SignerPdfApiV1TraitementSignerPdfPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SignerPdfApiV1TraitementSignerPdfPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SignerPdfApiV1TraitementSignerPdfPostApiResponse(ILogger<SignerPdfApiV1TraitementSignerPdfPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SignerPdfApiV1TraitementSignerPdfPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SignerPdfApiV1TraitementSignerPdfPostApiResponse(ILogger<SignerPdfApiV1TraitementSignerPdfPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Object>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out Object? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(ref System.IO.Stream fichierPdf, ref Option<string?> raison, ref Option<string?> localisation, ref Option<string?> contact, ref Option<string> fieldName, ref Option<bool> usePadesLt, ref Option<bool> useTimestamp);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="fichierPdf"></param>
        /// <param name="fieldName"></param>
        /// <returns></returns>
        private void ValidateSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(System.IO.Stream fichierPdf, Option<string> fieldName)
        {
            if (fichierPdf == null)
                throw new ArgumentNullException(nameof(fichierPdf));

            if (fieldName.IsSet && fieldName.Value == null)
                throw new ArgumentNullException(nameof(fieldName));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void AfterSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostDefaultImplementation(ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLog = false;
            AfterSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(ref suppressDefaultLog, apiResponseLocalVar, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void AfterSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(ref bool suppressDefaultLog, ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        private void OnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="raison"></param>
        /// <param name="localisation"></param>
        /// <param name="contact"></param>
        /// <param name="fieldName"></param>
        /// <param name="usePadesLt"></param>
        /// <param name="useTimestamp"></param>
        partial void OnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<string?> raison, Option<string?> localisation, Option<string?> contact, Option<string> fieldName, Option<bool> usePadesLt, Option<bool> useTimestamp);

        /// <summary>
        /// Signer un PDF de manière asynchrone (Celery) Signe un PDF uploadé de manière asynchrone via une tâche Celery.      **Différence avec /signer-pdf** :     - &#x60;/signer-pdf&#x60; : Signature synchrone (blocage jusqu&#39;à la fin)     - &#x60;/signer-pdf-async&#x60; : Signature asynchrone (retourne immédiatement un task_id)      **Avantages de l&#39;async** :     - Pas de timeout pour les gros fichiers     - Pas de blocage du worker FastAPI     - Possibilité de suivre la progression via le task_id     - Idéal pour les traitements par lot      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **⚠️ Disclaimer légal** : Identique à /signer-pdf (voir documentation de cet endpoint).
        /// </summary>
        /// <param name="fichierPdf">Fichier PDF à signer (traité de manière asynchrone)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>&gt;</returns>
        public async Task<ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse?> SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostOrDefaultAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostAsync(fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Signer un PDF de manière asynchrone (Celery) Signe un PDF uploadé de manière asynchrone via une tâche Celery.      **Différence avec /signer-pdf** :     - &#x60;/signer-pdf&#x60; : Signature synchrone (blocage jusqu&#39;à la fin)     - &#x60;/signer-pdf-async&#x60; : Signature asynchrone (retourne immédiatement un task_id)      **Avantages de l&#39;async** :     - Pas de timeout pour les gros fichiers     - Pas de blocage du worker FastAPI     - Possibilité de suivre la progression via le task_id     - Idéal pour les traitements par lot      **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).      **⚠️ Disclaimer légal** : Identique à /signer-pdf (voir documentation de cet endpoint).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF à signer (traité de manière asynchrone)</param>
        /// <param name="raison"> (optional)</param>
        /// <param name="localisation"> (optional)</param>
        /// <param name="contact"> (optional)</param>
        /// <param name="fieldName">Nom du champ de signature PDF (optional, default to &quot;FactPulseSignature&quot;)</param>
        /// <param name="usePadesLt">Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL. (optional, default to false)</param>
        /// <param name="useTimestamp">Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T) (optional, default to true)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>&gt;</returns>
        public async Task<ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse> SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostAsync(System.IO.Stream fichierPdf, Option<string?> raison = default, Option<string?> localisation = default, Option<string?> contact = default, Option<string> fieldName = default, Option<bool> usePadesLt = default, Option<bool> useTimestamp = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(fichierPdf, fieldName);

                FormatSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(ref fichierPdf, ref raison, ref localisation, ref contact, ref fieldName, ref usePadesLt, ref useTimestamp);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/traitement/signer-pdf-async"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/traitement/signer-pdf-async");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));                    multipartContentLocalVar.Add(new StreamContent(fichierPdf));

                    if (raison.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("raison", ClientUtils.ParameterToString(raison.Value)));

                    if (localisation.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("localisation", ClientUtils.ParameterToString(localisation.Value)));

                    if (contact.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("contact", ClientUtils.ParameterToString(contact.Value)));

                    if (fieldName.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("field_name", ClientUtils.ParameterToString(fieldName.Value)));

                    if (usePadesLt.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_pades_lt", ClientUtils.ParameterToString(usePadesLt.Value)));

                    if (useTimestamp.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("use_timestamp", ClientUtils.ParameterToString(useTimestamp.Value)));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse>();
                        SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/traitement/signer-pdf-async", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostDefaultImplementation(apiResponseLocalVar, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);

                        Events.ExecuteOnSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostDefaultImplementation(e, "/api/v1/traitement/signer-pdf-async", uriBuilderLocalVar.Path, fichierPdf, raison, localisation, contact, fieldName, usePadesLt, useTimestamp);
                Events.ExecuteOnErrorSignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>
        /// </summary>
        public partial class SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse : FactPulse.SDK.Client.ApiResponse, ISignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse(ILogger<SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse(ILogger<SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public Object? Ok()
            {
[...]
