// <auto-generated>
/*
 * API REST FactPulse
 *
 *  API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Paramètre optionnel `client_uid` :**  Pour sélectionner les credentials d'un client spécifique (PA/PDP, Chorus Pro, certificats de signature), ajoutez `client_uid` :  ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  Le `client_uid` sera inclus dans le JWT et permettra à l'API d'utiliser automatiquement : - Les credentials AFNOR/PDP configurés pour ce client - Les credentials Chorus Pro configurés pour ce client - Les certificats de signature électronique configurés pour ce client  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using FactPulse.SDK.Client;
using FactPulse.SDK.Model;
using System.Diagnostics.CodeAnalysis;

namespace FactPulse.SDK.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IVrificationPDFXMLApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        VrificationPDFXMLApiEvents Events { get; }

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone
        /// </summary>
        /// <remarks>
        /// Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>&gt;</returns>
        Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetAsync(string idTache, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone
        /// </summary>
        /// <remarks>
        /// Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </remarks>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>?&gt;</returns>
        Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse?> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetOrDefaultAsync(string idTache, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone
        /// </summary>
        /// <remarks>
        /// Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>&gt;</returns>
        Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0Async(string idTache, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone
        /// </summary>
        /// <remarks>
        /// Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </remarks>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>?&gt;</returns>
        Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse?> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0OrDefaultAsync(string idTache, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (asynchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité PDF/XML Factur-X de manière asynchrone.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X retourneront une erreur &#x60;NOT_FACTURX&#x60; dans le résultat.  Cette version utilise une tâche Celery et peut faire appel au service OCR si le PDF est une image ou si &#x60;forcer_ocr&#x3D;true&#x60;.  **Retourne immédiatement** un ID de tâche. Utilisez &#x60;/verifier-async/{id_tache}/statut&#x60; pour récupérer le résultat.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN  **Avantages par rapport à la version synchrone:** - Support OCR pour les PDF images (via service DocTR) - Timeout plus long pour les gros documents - Ne bloque pas le serveur
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="forcerOcr">Forcer l&#39;utilisation de l&#39;OCR même si le PDF contient du texte natif (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>&gt;</returns>
        Task<IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse> VerifierPdfAsyncApiV1VerificationVerifierAsyncPostAsync(System.IO.Stream fichierPdf, Option<bool> forcerOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (asynchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité PDF/XML Factur-X de manière asynchrone.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X retourneront une erreur &#x60;NOT_FACTURX&#x60; dans le résultat.  Cette version utilise une tâche Celery et peut faire appel au service OCR si le PDF est une image ou si &#x60;forcer_ocr&#x3D;true&#x60;.  **Retourne immédiatement** un ID de tâche. Utilisez &#x60;/verifier-async/{id_tache}/statut&#x60; pour récupérer le résultat.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN  **Avantages par rapport à la version synchrone:** - Support OCR pour les PDF images (via service DocTR) - Timeout plus long pour les gros documents - Ne bloque pas le serveur
        /// </remarks>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="forcerOcr">Forcer l&#39;utilisation de l&#39;OCR même si le PDF contient du texte natif (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>?&gt;</returns>
        Task<IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse?> VerifierPdfAsyncApiV1VerificationVerifierAsyncPostOrDefaultAsync(System.IO.Stream fichierPdf, Option<bool> forcerOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (asynchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité PDF/XML Factur-X de manière asynchrone.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X retourneront une erreur &#x60;NOT_FACTURX&#x60; dans le résultat.  Cette version utilise une tâche Celery et peut faire appel au service OCR si le PDF est une image ou si &#x60;forcer_ocr&#x3D;true&#x60;.  **Retourne immédiatement** un ID de tâche. Utilisez &#x60;/verifier-async/{id_tache}/statut&#x60; pour récupérer le résultat.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN  **Avantages par rapport à la version synchrone:** - Support OCR pour les PDF images (via service DocTR) - Timeout plus long pour les gros documents - Ne bloque pas le serveur
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="forcerOcr">Forcer l&#39;utilisation de l&#39;OCR même si le PDF contient du texte natif (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse"/>&gt;</returns>
        Task<IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse> VerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0Async(System.IO.Stream fichierPdf, Option<bool> forcerOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (asynchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité PDF/XML Factur-X de manière asynchrone.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X retourneront une erreur &#x60;NOT_FACTURX&#x60; dans le résultat.  Cette version utilise une tâche Celery et peut faire appel au service OCR si le PDF est une image ou si &#x60;forcer_ocr&#x3D;true&#x60;.  **Retourne immédiatement** un ID de tâche. Utilisez &#x60;/verifier-async/{id_tache}/statut&#x60; pour récupérer le résultat.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN  **Avantages par rapport à la version synchrone:** - Support OCR pour les PDF images (via service DocTR) - Timeout plus long pour les gros documents - Ne bloque pas le serveur
        /// </remarks>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="forcerOcr">Forcer l&#39;utilisation de l&#39;OCR même si le PDF contient du texte natif (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse"/>?&gt;</returns>
        Task<IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse?> VerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0OrDefaultAsync(System.IO.Stream fichierPdf, Option<bool> forcerOcr = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (synchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité entre le PDF et son XML Factur-X embarqué.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X seront rejetés avec une erreur 400.  Cette version synchrone utilise uniquement l&#39;extraction PDF native (pdfplumber). Pour les PDF images nécessitant de l&#39;OCR, utilisez l&#39;endpoint &#x60;/verifier-async&#x60;.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfSyncApiV1VerificationVerifierPostApiResponse"/>&gt;</returns>
        Task<IVerifierPdfSyncApiV1VerificationVerifierPostApiResponse> VerifierPdfSyncApiV1VerificationVerifierPostAsync(System.IO.Stream fichierPdf, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (synchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité entre le PDF et son XML Factur-X embarqué.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X seront rejetés avec une erreur 400.  Cette version synchrone utilise uniquement l&#39;extraction PDF native (pdfplumber). Pour les PDF images nécessitant de l&#39;OCR, utilisez l&#39;endpoint &#x60;/verifier-async&#x60;.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN
        /// </remarks>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfSyncApiV1VerificationVerifierPostApiResponse"/>?&gt;</returns>
        Task<IVerifierPdfSyncApiV1VerificationVerifierPostApiResponse?> VerifierPdfSyncApiV1VerificationVerifierPostOrDefaultAsync(System.IO.Stream fichierPdf, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (synchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité entre le PDF et son XML Factur-X embarqué.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X seront rejetés avec une erreur 400.  Cette version synchrone utilise uniquement l&#39;extraction PDF native (pdfplumber). Pour les PDF images nécessitant de l&#39;OCR, utilisez l&#39;endpoint &#x60;/verifier-async&#x60;.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfSyncApiV1VerificationVerifierPost_0ApiResponse"/>&gt;</returns>
        Task<IVerifierPdfSyncApiV1VerificationVerifierPost_0ApiResponse> VerifierPdfSyncApiV1VerificationVerifierPost_0Async(System.IO.Stream fichierPdf, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (synchrone)
        /// </summary>
        /// <remarks>
        /// Vérifie la conformité entre le PDF et son XML Factur-X embarqué.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X seront rejetés avec une erreur 400.  Cette version synchrone utilise uniquement l&#39;extraction PDF native (pdfplumber). Pour les PDF images nécessitant de l&#39;OCR, utilisez l&#39;endpoint &#x60;/verifier-async&#x60;.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN
        /// </remarks>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfSyncApiV1VerificationVerifierPost_0ApiResponse"/>?&gt;</returns>
        Task<IVerifierPdfSyncApiV1VerificationVerifierPost_0ApiResponse?> VerifierPdfSyncApiV1VerificationVerifierPost_0OrDefaultAsync(System.IO.Stream fichierPdf, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>
    /// </summary>
    public interface IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.StatutTache?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>
    /// </summary>
    public interface IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.StatutTache?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>
    /// </summary>
    public interface IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse : FactPulse.SDK.Client.IApiResponse, IAccepted<FactPulse.SDK.Model.ReponseTache?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse"/>
    /// </summary>
    public interface IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse : FactPulse.SDK.Client.IApiResponse, IAccepted<FactPulse.SDK.Model.ReponseTache?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 202 Accepted
        /// </summary>
        /// <returns></returns>
        bool IsAccepted { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifierPdfSyncApiV1VerificationVerifierPostApiResponse"/>
    /// </summary>
    public interface IVerifierPdfSyncApiV1VerificationVerifierPostApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ReponseVerificationSucces?>, IBadRequest<FactPulse.SDK.Model.APIError?>, IContentTooLarge<FactPulse.SDK.Model.APIError?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 413 ContentTooLarge
        /// </summary>
        /// <returns></returns>
        bool IsContentTooLarge { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// The <see cref="IVerifierPdfSyncApiV1VerificationVerifierPost_0ApiResponse"/>
    /// </summary>
    public interface IVerifierPdfSyncApiV1VerificationVerifierPost_0ApiResponse : FactPulse.SDK.Client.IApiResponse, IOk<FactPulse.SDK.Model.ReponseVerificationSucces?>, IBadRequest<FactPulse.SDK.Model.APIError?>, IContentTooLarge<FactPulse.SDK.Model.APIError?>, IUnprocessableContent<FactPulse.SDK.Model.HTTPValidationError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 413 ContentTooLarge
        /// </summary>
        /// <returns></returns>
        bool IsContentTooLarge { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class VrificationPDFXMLApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet;

        internal void ExecuteOnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(VrificationPDFXMLApi.ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse apiResponse)
        {
            OnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(Exception exception)
        {
            OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0;

        internal void ExecuteOnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(VrificationPDFXMLApi.ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse apiResponse)
        {
            OnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(Exception exception)
        {
            OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifierPdfAsyncApiV1VerificationVerifierAsyncPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost;

        internal void ExecuteOnVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(VrificationPDFXMLApi.VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse apiResponse)
        {
            OnVerifierPdfAsyncApiV1VerificationVerifierAsyncPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(Exception exception)
        {
            OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0;

        internal void ExecuteOnVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(VrificationPDFXMLApi.VerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse apiResponse)
        {
            OnVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(Exception exception)
        {
            OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifierPdfSyncApiV1VerificationVerifierPost;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifierPdfSyncApiV1VerificationVerifierPost;

        internal void ExecuteOnVerifierPdfSyncApiV1VerificationVerifierPost(VrificationPDFXMLApi.VerifierPdfSyncApiV1VerificationVerifierPostApiResponse apiResponse)
        {
            OnVerifierPdfSyncApiV1VerificationVerifierPost?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifierPdfSyncApiV1VerificationVerifierPost(Exception exception)
        {
            OnErrorVerifierPdfSyncApiV1VerificationVerifierPost?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnVerifierPdfSyncApiV1VerificationVerifierPost_0;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorVerifierPdfSyncApiV1VerificationVerifierPost_0;

        internal void ExecuteOnVerifierPdfSyncApiV1VerificationVerifierPost_0(VrificationPDFXMLApi.VerifierPdfSyncApiV1VerificationVerifierPost_0ApiResponse apiResponse)
        {
            OnVerifierPdfSyncApiV1VerificationVerifierPost_0?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorVerifierPdfSyncApiV1VerificationVerifierPost_0(Exception exception)
        {
            OnErrorVerifierPdfSyncApiV1VerificationVerifierPost_0?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class VrificationPDFXMLApi : IVrificationPDFXMLApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<VrificationPDFXMLApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public VrificationPDFXMLApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="VrificationPDFXMLApi"/> class.
        /// </summary>
        /// <returns></returns>
        public VrificationPDFXMLApi(ILogger<VrificationPDFXMLApi> logger, ILoggerFactory loggerFactory, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, VrificationPDFXMLApiEvents vrificationPDFXMLApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<VrificationPDFXMLApi>();
            HttpClient = httpClient;
            Events = vrificationPDFXMLApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(ref string idTache);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="idTache"></param>
        /// <returns></returns>
        private void ValidateObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(string idTache)
        {
            if (idTache == null)
                throw new ArgumentNullException(nameof(idTache));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="idTache"></param>
        private void AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetDefaultImplementation(IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse apiResponseLocalVar, string idTache)
        {
            bool suppressDefaultLog = false;
            AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(ref suppressDefaultLog, apiResponseLocalVar, idTache);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="idTache"></param>
        partial void AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(ref bool suppressDefaultLog, IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse apiResponseLocalVar, string idTache);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="idTache"></param>
        private void OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string idTache)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, idTache);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="idTache"></param>
        partial void OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string idTache);

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </summary>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>&gt;</returns>
        public async Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse?> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetOrDefaultAsync(string idTache, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetAsync(idTache, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>&gt;</returns>
        public async Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetAsync(string idTache, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(idTache);

                FormatObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(ref idTache);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/verification/verifier-async/{id_tache}/statut"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/verification/verifier-async/{id_tache}/statut");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bid_tache%7D", Uri.EscapeDataString(idTache.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse>();
                        ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/verification/verifier-async/{id_tache}/statut", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetDefaultImplementation(apiResponseLocalVar, idTache);

                        Events.ExecuteOnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetDefaultImplementation(e, "/api/v1/verification/verifier-async/{id_tache}/statut", uriBuilderLocalVar.Path, idTache);
                Events.ExecuteOnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>
        /// </summary>
        public partial class ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse : FactPulse.SDK.Client.ApiResponse, IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse(ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse(ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGetApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.StatutTache? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.StatutTache>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.StatutTache? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(ref string idTache);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="idTache"></param>
        /// <returns></returns>
        private void ValidateObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(string idTache)
        {
            if (idTache == null)
                throw new ArgumentNullException(nameof(idTache));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="idTache"></param>
        private void AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0DefaultImplementation(IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse apiResponseLocalVar, string idTache)
        {
            bool suppressDefaultLog = false;
            AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(ref suppressDefaultLog, apiResponseLocalVar, idTache);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="idTache"></param>
        partial void AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(ref bool suppressDefaultLog, IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse apiResponseLocalVar, string idTache);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="idTache"></param>
        private void OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0DefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string idTache)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, idTache);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="idTache"></param>
        partial void OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string idTache);

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </summary>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>&gt;</returns>
        public async Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse?> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0OrDefaultAsync(string idTache, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0Async(idTache, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Obtenir le statut d&#39;une vérification asynchrone Récupère le statut et le résultat d&#39;une tâche de vérification asynchrone.  **Statuts possibles:** - &#x60;PENDING&#x60;: Tâche en attente dans la file - &#x60;STARTED&#x60;: Tâche en cours d&#39;exécution - &#x60;SUCCESS&#x60;: Tâche terminée avec succès (voir &#x60;resultat&#x60;) - &#x60;FAILURE&#x60;: Erreur système (exception non gérée)  **Note:** Le champ &#x60;resultat.statut&#x60; peut être \&quot;SUCCES\&quot; ou \&quot;ERREUR\&quot; indépendamment du statut Celery (qui sera toujours SUCCESS si la tâche s&#39;est exécutée).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="idTache"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>&gt;</returns>
        public async Task<IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse> ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0Async(string idTache, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(idTache);

                FormatObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(ref idTache);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/verification/verifier-async/{id_tache}/statut"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/verification/verifier-async/{id_tache}/statut");
                    uriBuilderLocalVar.Path = uriBuilderLocalVar.Path.Replace("%7Bid_tache%7D", Uri.EscapeDataString(idTache.ToString()));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse>();
                        ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/verification/verifier-async/{id_tache}/statut", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0DefaultImplementation(apiResponseLocalVar, idTache);

                        Events.ExecuteOnObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0DefaultImplementation(e, "/api/v1/verification/verifier-async/{id_tache}/statut", uriBuilderLocalVar.Path, idTache);
                Events.ExecuteOnErrorObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>
        /// </summary>
        public partial class ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse : FactPulse.SDK.Client.ApiResponse, IObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse(ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse(ILogger<ObtenirStatutVerificationApiV1VerificationVerifierAsyncIdTacheStatutGet_0ApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.StatutTache? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.StatutTache>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out FactPulse.SDK.Model.StatutTache? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(ref System.IO.Stream fichierPdf, ref Option<bool> forcerOcr);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="fichierPdf"></param>
        /// <returns></returns>
        private void ValidateVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(System.IO.Stream fichierPdf)
        {
            if (fichierPdf == null)
                throw new ArgumentNullException(nameof(fichierPdf));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        private void AfterVerifierPdfAsyncApiV1VerificationVerifierAsyncPostDefaultImplementation(IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr)
        {
            bool suppressDefaultLog = false;
            AfterVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(ref suppressDefaultLog, apiResponseLocalVar, fichierPdf, forcerOcr);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        partial void AfterVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(ref bool suppressDefaultLog, IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        private void OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPostDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, fichierPdf, forcerOcr);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        partial void OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr);

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (asynchrone) Vérifie la conformité PDF/XML Factur-X de manière asynchrone.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X retourneront une erreur &#x60;NOT_FACTURX&#x60; dans le résultat.  Cette version utilise une tâche Celery et peut faire appel au service OCR si le PDF est une image ou si &#x60;forcer_ocr&#x3D;true&#x60;.  **Retourne immédiatement** un ID de tâche. Utilisez &#x60;/verifier-async/{id_tache}/statut&#x60; pour récupérer le résultat.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN  **Avantages par rapport à la version synchrone:** - Support OCR pour les PDF images (via service DocTR) - Timeout plus long pour les gros documents - Ne bloque pas le serveur
        /// </summary>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="forcerOcr">Forcer l&#39;utilisation de l&#39;OCR même si le PDF contient du texte natif (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>&gt;</returns>
        public async Task<IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse?> VerifierPdfAsyncApiV1VerificationVerifierAsyncPostOrDefaultAsync(System.IO.Stream fichierPdf, Option<bool> forcerOcr = default, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await VerifierPdfAsyncApiV1VerificationVerifierAsyncPostAsync(fichierPdf, forcerOcr, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Vérifier la conformité PDF/XML Factur-X (asynchrone) Vérifie la conformité PDF/XML Factur-X de manière asynchrone.  **IMPORTANT**: Seuls les PDF Factur-X (avec XML embarqué) sont acceptés. Les PDF sans XML Factur-X retourneront une erreur &#x60;NOT_FACTURX&#x60; dans le résultat.  Cette version utilise une tâche Celery et peut faire appel au service OCR si le PDF est une image ou si &#x60;forcer_ocr&#x3D;true&#x60;.  **Retourne immédiatement** un ID de tâche. Utilisez &#x60;/verifier-async/{id_tache}/statut&#x60; pour récupérer le résultat.  **Principe de vérification (Factur-X 1.08):** - Principe n°2: Le XML ne peut contenir que des infos présentes dans le PDF - Principe n°4: Toute info XML doit être présente et conforme dans le PDF  **Champs vérifiés:** - Identification: BT-1 (n° facture), BT-2 (date), BT-3 (type), BT-5 (devise), BT-23 (cadre) - Vendeur: BT-27 (nom), BT-29 (SIRET), BT-30 (SIREN), BT-31 (TVA) - Acheteur: BT-44 (nom), BT-46 (SIRET), BT-47 (SIREN), BT-48 (TVA) - Montants: BT-109 (HT), BT-110 (TVA), BT-112 (TTC), BT-115 (à payer) - Ventilation TVA: BT-116, BT-117, BT-118, BT-119 - Lignes de facture: BT-153, BT-129, BT-146, BT-131 - Notes obligatoires: PMT, PMD, AAB - Règle BR-FR-09: cohérence SIRET/SIREN  **Avantages par rapport à la version synchrone:** - Support OCR pour les PDF images (via service DocTR) - Timeout plus long pour les gros documents - Ne bloque pas le serveur
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="fichierPdf">Fichier PDF Factur-X à vérifier</param>
        /// <param name="forcerOcr">Forcer l&#39;utilisation de l&#39;OCR même si le PDF contient du texte natif (optional, default to false)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>&gt;</returns>
        public async Task<IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse> VerifierPdfAsyncApiV1VerificationVerifierAsyncPostAsync(System.IO.Stream fichierPdf, Option<bool> forcerOcr = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(fichierPdf);

                FormatVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(ref fichierPdf, ref forcerOcr);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/verification/verifier-async"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/api/v1/verification/verifier-async");

                    MultipartContent multipartContentLocalVar = new MultipartContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string?, string?>> formParameterLocalVars = new List<KeyValuePair<string?, string?>>();

                    multipartContentLocalVar.Add(new FormUrlEncodedContent(formParameterLocalVars));                    multipartContentLocalVar.Add(new StreamContent(fichierPdf));

                    if (forcerOcr.IsSet)
                        formParameterLocalVars.Add(new KeyValuePair<string?, string?>("forcer_ocr", ClientUtils.ParameterToString(forcerOcr.Value)));

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string? contentTypeLocalVar = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentTypeLocalVar != null && httpRequestMessageLocalVar.Content != null)
                        httpRequestMessageLocalVar.Content.Headers.ContentType = new MediaTypeHeaderValue(contentTypeLocalVar);

                    string[] acceptLocalVars = new string[] {
                        "application/json"
                    };

                    string? acceptLocalVar = ClientUtils.SelectHeaderAccept(acceptLocalVars);

                    if (acceptLocalVar != null)
                        httpRequestMessageLocalVar.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(acceptLocalVar));

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse> apiResponseLoggerLocalVar = LoggerFactory.CreateLogger<VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse>();
                        VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(apiResponseLoggerLocalVar, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/verification/verifier-async", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterVerifierPdfAsyncApiV1VerificationVerifierAsyncPostDefaultImplementation(apiResponseLocalVar, fichierPdf, forcerOcr);

                        Events.ExecuteOnVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPostDefaultImplementation(e, "/api/v1/verification/verifier-async", uriBuilderLocalVar.Path, fichierPdf, forcerOcr);
                Events.ExecuteOnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>
        /// </summary>
        public partial class VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse : FactPulse.SDK.Client.ApiResponse, IVerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse(ILogger<VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse(ILogger<VerifierPdfAsyncApiV1VerificationVerifierAsyncPostApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public bool IsAccepted => 202 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 202 Accepted
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.ReponseTache? Accepted()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsAccepted
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.ReponseTache>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 202 Accepted and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryAccepted([NotNullWhen(true)]out FactPulse.SDK.Model.ReponseTache? result)
            {
                result = null;

                try
                {
                    result = Accepted();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)202);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public FactPulse.SDK.Model.HTTPValidationError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<FactPulse.SDK.Model.HTTPValidationError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out FactPulse.SDK.Model.HTTPValidationError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(ref System.IO.Stream fichierPdf, ref Option<bool> forcerOcr);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="fichierPdf"></param>
        /// <returns></returns>
        private void ValidateVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(System.IO.Stream fichierPdf)
        {
            if (fichierPdf == null)
                throw new ArgumentNullException(nameof(fichierPdf));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        private void AfterVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0DefaultImplementation(IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr)
        {
            bool suppressDefaultLog = false;
            AfterVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(ref suppressDefaultLog, apiResponseLocalVar, fichierPdf, forcerOcr);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        partial void AfterVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(ref bool suppressDefaultLog, IVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0ApiResponse apiResponseLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        private void OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0DefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, fichierPdf, forcerOcr);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="fichierPdf"></param>
        /// <param name="forcerOcr"></param>
        partial void OnErrorVerifierPdfAsyncApiV1VerificationVerifierAsyncPost_0(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, System.IO.Stream fichierPdf, Option<bool> forcerOcr);

[...]
